In [44]:
import pandas as pd
import numpy as np
pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.max_row", 100)
pd.set_option('display.max.columns', None)
pd.set_option('display.precision', 2)
pd.options.display.float_format = '${:,.2f}'.format
from datetime import date, time, datetime, timedelta
import dateutil
from dateutil.relativedelta import relativedelta

In [85]:
burke_rehab_assets_source = pd.read_csv(r"C:\Users\Michael\OneDrive\Documents\Work\conversion\SIT3\sit3_environment\fixed_assets\source_files_2021\burke\Burke Rehab 2021 Merger draft v2.csv",

                                 usecols = ['Asset Display Id','Asset Tag Number','Account', 'Asset Class',
                                            'Quantity', 'Asset Description', 'Acquisition Date','Historical Cost', ' Life Months ',
                                           'Period Depreciation', 'Accumulated Depreciation', 'Net Book Value',])

In [86]:
burke_rehab_assets_source.rename(columns={' Life Months ': 'Life Months'}, inplace=True)

In [129]:
burke_covid_assets_source = pd.read_csv(r"C:\Users\Michael\OneDrive\Documents\Work\conversion\SIT3\sit3_environment\fixed_assets\source_files_2021\burke\COVID Assets 2021 Draft v2.csv",)

In [109]:
burke_foundation_assets_source = pd.read_csv(r"C:\Users\Michael\OneDrive\Documents\Work\conversion\SIT3\sit3_environment\fixed_assets\source_files_2021\burke\Burke Foundation Merger 2021 Draft.csv",
                                 usecols = ['Asset Display Id','Asset Tag Number','Account', 'Asset Class',
                                            'Quantity', 'Asset Description', 'Acquisition Date','Historical Cost', 'Life Months',
                                           'Period Depreciation', 'Accumulated Depreciation', 'Net Book Value',])

In [113]:
# burke_rehab_assets_source.head()

In [114]:
burke_rehab_assets_source['Life Months'].fillna(0, inplace=True)
burke_rehab_assets_source['Quantity'].fillna(0, inplace=True)
# burke_assets_source['Life Months'].fillna(0, inplace=True)
burke_rehab_assets_source['Historical Cost'].fillna('', inplace=True)

In [115]:
# burke_rehab_assets_source['Historical Cost'][burke_rehab_assets_source['Historical Cost'].str.isnumeric()]

In [116]:
# burke_assets_source.loc[43627, 'Historical Cost'] = ''

In [117]:
# burke_assets_source.loc[637, 'Historical Cost'] = ''

In [118]:
# burke_assets_source[burke_assets_source['Historical Cost'] == '']

In [119]:
# burke_assets_source.loc[43627, 'Historical Cost'] = ''

In [120]:
# def ser_to_float(ser):
#     ser = ser.str.strip()
#     ser = ser.apply(lambda x: x.replace(' - ', 'NaN'))
#     ser = ser.apply(lambda x: x.replace('-', 'NaN'))
#     ser = ser.apply(lambda x: x.replace(',', ''))
#     ser = ser.apply(lambda x: x.replace('-', 'Nan'))
#     ser = ser.apply(lambda x: x.replace(' ', ''))
#     ser = ser.apply(lambda x: x.replace('(', ''))
#     ser = ser.apply(lambda x: x.replace(')', ''))
#     ser = ser.astype(float)
#     return ser

In [121]:
# burke_rehab_assets_source['Historical Cost'] = ser_to_float(burke_rehab_assets_source['Historical Cost'])

In [122]:
# burke_assets_source['Historical Cost'] = burke_assets_source['Historical Cost'].astype(float)

In [123]:
# slc_num_rows = slc_assets_source.shape[0]
# slc_num_missing = slc_num_rows - slc_assets_source.count()
# slc_num_missing

In [124]:
burke_rehab_assets_source[['Historical Cost','Period Depreciation', 'Accumulated Depreciation',
       'Net Book Value']].sum()

Historical Cost            $153,192,311.57
Period Depreciation          $4,594,635.61
Accumulated Depreciation   $112,498,399.20
Net Book Value              $40,693,912.37
dtype: float64

In [130]:
burke_covid_assets_source[['Historical Cost','Period Depreciation', 'Accumulated Depreciation',
       'Net Book Value']].sum()

Historical Cost            $10,236,538.95
Period Depreciation           $550,812.61
Accumulated Depreciation      $676,387.27
Net Book Value              $9,560,151.68
dtype: float64

In [126]:
burke_foundation_assets_source[['Historical Cost','Period Depreciation', 'Accumulated Depreciation',
       'Net Book Value']].sum()

Historical Cost            $4,830,798.21
Period Depreciation           $36,998.12
Accumulated Depreciation   $4,693,446.48
Net Book Value               $137,351.73
dtype: float64

In [20]:
# burke_rehab_assets_source.info()

In [21]:
# burke_rehab_assets_source['Asset Class'].unique()

In [22]:
me_load_asset = pd.read_csv(r"C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Asset Download All Entities 113021.csv")

In [23]:
# me_load_asset.info()

In [24]:
me_load_asset_book = pd.read_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Entity_Asset_Book_Import.csv',
                                usecols=['FinanceEnterpriseGroup', 'AssetImport', 'Book', 'RunGroup', 'Active', 'Life',
                                         'LifeRemaining', 'Basis', 'Method', 'InServiceDate', 'Convention',
                                         'YearToDateDepreciation', 'LifeToDateDepreciation'])

In [25]:
# me_load_asset_book.info()

In [26]:
# convert the me_load_asset_book series elements from int to string prior to converting to datetime

me_load_asset_book['InServiceDate'] = me_load_asset_book['InServiceDate'].astype(str)

# create a new column in me_load_asset_book that contains the 'InServiceDate' elements to datetime objects
me_load_asset_book['InServiceDate_dt'] = pd.to_datetime(me_load_asset_book['InServiceDate'])

# convert 'Life' column to float dtype

me_load_asset_book['Life'] = me_load_asset_book['Life'].astype(float)

In [27]:
me_load_asset_book['RunGroup'].unique()

array(['BURKE_COVID_ASSET', 'BURKE_FOUNDATION_ASSET', 'BURK_REHAB_ASSET',
       'SLH_ASSET', 'WPH_ASSET', 'NYK_ASSET'], dtype=object)

In [28]:
burke_covid_asset_load = me_load_asset_book[me_load_asset_book['RunGroup'] == 'BURKE_COVID_ASSET']

In [29]:
burke_foundation_asset_load = me_load_asset_book[me_load_asset_book['RunGroup'] == 'BURKE_FOUNDATION_ASSET']

In [30]:
burke_rehab_asset_load = me_load_asset_book[me_load_asset_book['RunGroup'] == 'BURK_REHAB_ASSET']

In [31]:
burke_covid_asset_load['AssetImport'].count()

637

In [32]:
burke_foundation_asset_load['AssetImport'].count()

562

In [33]:
burke_rehab_asset_load['AssetImport'].count()

44126

In [34]:
# burke_rehab_asset_load.head()

In [35]:
# create a column with index that corresponds to AssetImport the Burke source file
burke_rehab_asset_load['aa_index'] = burke_rehab_asset_load['AssetImport'].apply(lambda x: int(x.split('_')[2]))

<ipython-input-35-2478293822fe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  burke_rehab_asset_load['aa_index'] = burke_rehab_asset_load['AssetImport'].apply(lambda x: int(x.split('_')[2]))

In [36]:
# burke_rehab_asset_load.tail(10)

In [37]:
# burke_rehab_asset_load.info()

In [38]:
# burke_rehab_assets_source.info()

In [39]:
# merge the burtke_asset_load and burke source file columns on the common index 
burke_source_asset_merge = burke_rehab_asset_load.merge(burke_rehab_assets_source,how='inner',
left_on="aa_index", right_on='Asset Display Id')

In [40]:
# burke_source_asset_merge.info()

In [41]:
# burke_source_asset_merge.columns

In [42]:
burke_source_asset_merge[['Basis', 'Historical Cost', 'LifeToDateDepreciation', 'Accumulated Depreciation' , 'Net Book Value' ]].sum()

Basis                      $150,101,007.32
Historical Cost            $150,101,007.32
LifeToDateDepreciation     $107,898,431.37
Accumulated Depreciation   $107,899,092.00
Net Book Value              $42,202,856.00
dtype: float64

In [44]:
burke_rehab_assets_source[['Historical Cost','Period Depreciation', 'Accumulated Depreciation',
       'Net Book Value']].sum()

Historical Cost            $150,101,007.32
Period Depreciation          $4,445,144.00
Accumulated Depreciation   $107,899,092.00
Net Book Value              $42,202,856.00
dtype: float64

In [44]:
# there are two assets for which the book_file 'Basis' does not equal the source file cost
burke_source_asset_merge[burke_source_asset_merge['Basis'] != burke_source_asset_merge['Historical Cost']]

Empty DataFrame
Columns: [FinanceEnterpriseGroup, AssetImport, Book, RunGroup, Active, Life, LifeRemaining, Basis, Method, InServiceDate, Convention, YearToDateDepreciation, LifeToDateDepreciation, InServiceDate_dt, aa_index, Asset Display Id, Asset Tag Number, Account, Asset Class, Quantity, Asset Description, Acquisition Date, Historical Cost, Life Months, Period Depreciation, Accumulated Depreciation, Net Book Value]
Index: []

In [45]:
# there are three assets for which the book load file 'LifeToDateDepreciation' does not equal the source file 'Accum Deprec'
# burke_source_asset_merge[burke_source_asset_merge['LifeToDateDepreciation'] != burke_source_asset_merge['Accumulated Depreciation']]

### need to tie these numbers to the burke trial balance and audit reconciliation

### Comparison of Burke source_asset_merge with FSM asset register

In [45]:
asset_download_all_entities = pd.read_csv(r"C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Asset Download All Entities 113021.csv")

In [46]:
# asset_download_all_entities.info()

In [47]:
# asset_download_all_entities.head()

In [48]:
# replace 'NaN' in company column for a record
# asset_download_all_entities.loc[126381, 'Company'] = ''

In [49]:
# look for NaN values in the company column
asset_download_all_entities[asset_download_all_entities['Company'].isna()]

Empty DataFrame
Columns: [FinanceEnterpriseGroup, Asset, Reference1, Description, Company, ItemTotalBaseCost, ItemTotalTransactionCost, TotalItemsBaseCost, PostingBookBasis, PostingBookBookValue, TotalAccumulatedDepreciation, DepreciationToAssetCost, AssetBookValue, PostingBookValue, RemainingDepreciation, LTDDepreciationExpense]
Index: []

In [50]:
# cast the company column as a string and strip out the excess digits
asset_download_all_entities['Company'] = asset_download_all_entities['Company'].astype('str').apply(lambda x: x[:4])

In [51]:
fsm_asset_register_groupby_company = asset_download_all_entities.groupby('Company')

In [52]:
fsm_asset_register_groupby_company.groups.keys()

dict_keys(['2000', '2010', '2020', '2030', '2040', '2050', '2060', '2100', '2200', '2300', '2400', '2600', '3000', '3010', '3020', '3060', '3080', '3090'])

### Find Burke 2200 records that are missing from the FSM asset register

In [53]:
burke_group_2200 = fsm_asset_register_groupby_company.get_group('2200')

In [54]:
# burke_group_2200.info()

In [55]:
burke_group_2200['PostingBookBasis'].sum()

156293928.19

In [57]:
burke_rehab_group = burke_group_2200[burke_group_2200['Reference1'].str.contains('REHAB')]
burke_rehab_group

       FinanceEnterpriseGroup  Asset       Reference1             Description Company  ItemTotalBaseCost  ItemTotalTransactionCost  TotalItemsBaseCost  PostingBookBasis  PostingBookBookValue  TotalAccumulatedDepreciation  DepreciationToAssetCost  AssetBookValue  PostingBookValue  RemainingDepreciation  LTDDepreciationExpense
31585                       1  31646     BURK_REHAB_1  SCALE UPGRADES ADVANCE    2200          $2,795.65                 $2,795.65           $2,795.65         $2,795.65                 $0.00                     $2,795.65                    $1.00           $0.00         $2,795.65             $-2,795.65                       0
31586                       1  31647    BURK_REHAB_10  CHAIR OPER SECRETARIAL    2200            $116.09                   $116.09             $116.09           $116.09                 $0.00                       $116.09                    $1.00           $0.00           $116.09               $-116.09                       0
31587                       1  31648   BURK_REHAB_100       COMPUTER PERSONAL    2200          $1,964.57                 $1,964.57           $1,964.57         $1,964.57                 $0.00                     $1,964.57                    $1.00           $0.00         $1,964.57             $-1,964.57                       0
31588                       1  31649  BURK_REHAB_1000       DESK SP MTL 48X30    2200            $123.00                   $123.00             $123.00           $123.00                 $0.00                       $123.00                    $1.00           $0.00           $123.00               $-123.00                       0
31589                       1  31650  BURK_REHAB_1001           DESK SP 45X30    2200             $77.00                    $77.00              $77.00            $77.00                 $0.00                        $77.00                    $1.00           $0.00            $77.00                $-77.00                       0
...                       ...    ...              ...                     ...     ...                ...                       ...                 ...               ...                   ...                           ...                      ...             ...               ...                    ...                     ...
75706                       1  75767   BURK_REHAB_995        FILES 4DRWR LOCK    2200             $85.00                    $85.00              $85.00            $85.00                 $0.00                        $85.00                    $1.00           $0.00            $85.00                $-85.00                       0
75707                       1  75768   BURK_REHAB_996        FILES 4DRWR LOCK    2200             $85.00                    $85.00              $85.00            $85.00                 $0.00                        $85.00                    $1.00           $0.00            $85.00                $-85.00                       0
75708                       1  75769   BURK_REHAB_997        FILES 4DRWR LOCK    2200             $85.00                    $85.00              $85.00            $85.00                 $0.00                        $85.00                    $1.00           $0.00            $85.00                $-85.00                       0
75709                       1  75770   BURK_REHAB_998          CHAIR SIDE MTL    2200             $21.00                    $21.00              $21.00            $21.00                 $0.00                        $21.00                    $1.00           $0.00            $21.00                $-21.00                       0
75710                       1  75771   BURK_REHAB_999      CHAIR LOUNGE UPHOL    2200            $149.00                   $149.00             $149.00           $149.00                 $0.00                       $149.00                    $1.00           $0.00           $149.00               $-149.00                       0

[44126 rows x 16 columns]

In [58]:
burke_rehab_group[['PostingBookBasis','TotalAccumulatedDepreciation','PostingBookBookValue']].sum()

PostingBookBasis               $150,101,007.32
TotalAccumulatedDepreciation   $107,898,431.37
PostingBookBookValue            $42,202,575.95
dtype: float64

In [59]:
burke_source_asset_merge.columns

Index(['FinanceEnterpriseGroup', 'AssetImport', 'Book', 'RunGroup', 'Active',
       'Life', 'LifeRemaining', 'Basis', 'Method', 'InServiceDate',
       'Convention', 'YearToDateDepreciation', 'LifeToDateDepreciation',
       'InServiceDate_dt', 'aa_index', 'Asset Display Id', 'Asset Tag Number',
       'Account', 'Asset Class', 'Quantity', 'Asset Description',
       'Acquisition Date', 'Historical Cost', 'Life Months',
       'Period Depreciation', 'Accumulated Depreciation', 'Net Book Value'],
      dtype='object')

In [60]:
burke_source_asset_merge[['Basis', 'Historical Cost', 'LifeToDateDepreciation', 'Accumulated Depreciation' , 'Net Book Value' ]].sum()

Basis                      $150,101,007.32
Historical Cost            $150,101,007.32
LifeToDateDepreciation     $107,898,431.37
Accumulated Depreciation   $107,899,092.00
Net Book Value              $42,202,856.00
dtype: float64

In [61]:
# burke_rehab_group

In [61]:
# create a new index column called 'merge_index' to match the 'M_ID' column in the aa_load_merge file
burke_rehab_group['merge_index'] = burke_rehab_group['Reference1'].apply(lambda x: int(x.split('_')[2]))

<ipython-input-61-b57011b7c8c1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  burke_rehab_group['merge_index'] = burke_rehab_group['Reference1'].apply(lambda x: int(x.split('_')[2]))

In [62]:
burke_rehab_group = burke_rehab_group.set_index('merge_index',)

In [63]:
burke_rehab_group = burke_rehab_group.sort_index()

In [64]:
burke_rehab_group['cbiz_index'] = burke_rehab_group['Reference1'].apply(lambda x: int(x.split('_')[2]))

In [65]:
# burke_source_asset_merge.info()

In [66]:
# burke_source_asset_merge.head()

In [67]:
burke_source_asset_merge = burke_source_asset_merge.set_index('Asset Display Id')

In [68]:
burke_source_asset_merge.sort_index()

                  FinanceEnterpriseGroup       AssetImport Book          RunGroup  Active    Life  LifeRemaining     Basis Method InServiceDate Convention  YearToDateDepreciation  LifeToDateDepreciation InServiceDate_dt  aa_index Asset Tag Number                      Account                Asset Class  Quantity       Asset Description Acquisition Date  Historical Cost  Life Months  Period Depreciation  Accumulated Depreciation  Net Book Value
Asset Display Id
1                                      1      BURK_REHAB_1   GL  BURK_REHAB_ASSET    True $120.00              0 $2,795.65     SL      19960701         HY                     NaN               $2,795.65       1996-07-01         1            12141  MAJOR MOVABLE EQUIPMENT-NEW          MEDICAL EQUIPMENT         1  SCALE UPGRADES ADVANCE         7/1/1996        $2,795.65      $120.00                $0.00                 $2,796.00           $0.00
2                                      1      BURK_REHAB_2   GL  BURK_REHAB_ASSET    True $240.00              0   $514.65     SL      19960701         HY                     NaN                 $514.65       1996-07-01         2            12168  MAJOR MOVABLE EQUIPMENT-NEW  FURNITURE AND ACCESSORIES         1           BOOKCASE OPEN         7/1/1996          $514.65      $240.00                $0.00                   $515.00           $0.00
3                                      1      BURK_REHAB_3   GL  BURK_REHAB_ASSET    True $240.00              0   $514.65     SL      19960701         HY                     NaN                 $514.65       1996-07-01         3            12169  MAJOR MOVABLE EQUIPMENT-NEW  FURNITURE AND ACCESSORIES         1           BOOKCASE OPEN         7/1/1996          $514.65      $240.00                $0.00                   $515.00           $0.00
4                                      1      BURK_REHAB_4   GL  BURK_REHAB_ASSET    True $240.00              0   $893.00     SL      19960701         HY                     NaN                 $893.00       1996-07-01         4            12170  MAJOR MOVABLE EQUIPMENT-NEW  FURNITURE AND ACCESSORIES         1     DESK 72X36 SING PED         7/1/1996          $893.00      $240.00                $0.00                   $893.00           $0.00
5                                      1      BURK_REHAB_5   GL  BURK_REHAB_ASSET    True $240.00              0   $470.00     SL      19960701         HY                     NaN                 $470.00       1996-07-01         5            12171  MAJOR MOVABLE EQUIPMENT-NEW  FURNITURE AND ACCESSORIES         1       DESK RETURN 60X24         7/1/1996          $470.00      $240.00                $0.00                   $470.00           $0.00
...                                  ...               ...  ...               ...     ...     ...            ...       ...    ...           ...        ...                     ...                     ...              ...       ...              ...                          ...                        ...       ...                     ...              ...              ...          ...                  ...                       ...             ...
50460                                  1  BURK_REHAB_50460   GL  BURK_REHAB_ASSET    True $180.00            167   $875.12     SL      20191201         HY                     NaN                  $87.51       2019-12-01     50460            18175  MAJOR MOVABLE EQUIPMENT-NEW  FURNITURE AND ACCESSORIES         1               TABLE END        12/1/2019          $875.12      $180.00               $58.00                    $88.00         $788.00
50461                                  1  BURK_REHAB_50461   GL  BURK_REHAB_ASSET    True $180.00            167   $875.12     SL      20191201         HY                     NaN                  $87.51       2019-12-01     50461            18176  MAJOR MOVABLE EQUIPMENT-NEW  FURNITURE AND ACCESSORIES         1               TABLE END        12/1/2019          $875.12      $180.00               $58.00                    $88.00         $788.00
50462                                  1  BURK_REHAB_50462   GL  BURK_REHAB_ASSET    True $180.00            167   $875.12     SL      20191201         HY                     NaN                  $87.51       2019-12-01     50462            18177  MAJOR MOVABLE EQUIPMENT-NEW  FURNITURE AND ACCESSORIES         1               TABLE END        12/1/2019          $875.12      $180.00               $58.00                    $88.00         $788.00
50463                                  1  BURK_REHAB_50463   GL  BURK_REHAB_ASSET    True $180.00            167   $875.12     SL      20191201         HY                     NaN                  $87.51       2019-12-01     50463            18178  MAJOR MOVABLE EQUIPMENT-NEW  FURNITURE AND ACCESSORIES         1               TABLE END        12/1/2019          $875.12      $180.00               $58.00                    $88.00         $788.00
50464                                  1  BURK_REHAB_50464   GL  BURK_REHAB_ASSET    True $180.00            167 $9,726.30     SL      20191201         HY                     NaN                 $972.63       2019-12-01     50464         20201007  MAJOR MOVABLE EQUIPMENT-NEW  FURNITURE AND ACCESSORIES         1               FURNITURE        12/1/2019        $9,726.30      $180.00              $648.00                   $973.00       $8,754.00

[44126 rows x 26 columns]

In [69]:
# burke_rehab_group.info()

In [73]:
print(burke_source_asset_merge.index.nunique())
print(burke_rehab_group.index.nunique())

44126
44126

In [76]:
print(burke_rehab_group.index)
print(burke_source_asset_merge.index)

Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            50455, 50456, 50457, 50458, 50459, 50460, 50461, 50462, 50463,
            50464],
           dtype='int64', name='merge_index', length=44126)
Int64Index([1002,    1,   10,  100, 1000, 1001, 1003, 1004, 1006, 1007,
            ...
             990,  991,  992,  993,  994,  995,  996,  997,  998,  999],
           dtype='int64', name='Asset Display Id', length=44126)

In [77]:
burke_source_infor_rehab_matched = burke_source_asset_merge[burke_source_asset_merge.index.isin(burke_rehab_group.index)]

In [78]:
burke_source_infor_rehab_matched.shape

(44126, 26)

In [79]:
missing_rehab_asset_register_records = burke_source_asset_merge[~burke_source_asset_merge.index.isin(burke_rehab_group.index)]
missing_rehab_asset_register_records

Empty DataFrame
Columns: [FinanceEnterpriseGroup, AssetImport, Book, RunGroup, Active, Life, LifeRemaining, Basis, Method, InServiceDate, Convention, YearToDateDepreciation, LifeToDateDepreciation, InServiceDate_dt, aa_index, Asset Tag Number, Account, Asset Class, Quantity, Asset Description, Acquisition Date, Historical Cost, Life Months, Period Depreciation, Accumulated Depreciation, Net Book Value]
Index: []

In [80]:
asset_register_rehab_cost = burke_rehab_group['PostingBookBasis'].apply(lambda x: float(x)).sum()
asset_register_rehab_cost

150101007.32000002

In [81]:
# burke_source_infor_rehab_matched.columns

In [82]:
cost_for_asset_register_records_with_errors_rehab = burke_source_infor_rehab_matched['Historical Cost'].sum() - burke_rehab_group['PostingBookBasis'].sum()
cost_for_asset_register_records_with_errors_rehab

-2.9802322387695312e-08

In [83]:
burke_source_infor_rehab_matched_acc_dep = burke_source_infor_rehab_matched['Accumulated Depreciation'].sum()
burke_source_infor_rehab_matched_acc_dep

107899092.0

In [84]:
fsm_burke_asset_register_acc_dep = burke_rehab_group['TotalAccumulatedDepreciation'].sum()
fsm_burke_asset_register_acc_dep

107898431.37

In [85]:
burke_source_infor_rehab_matched_acc_dep - fsm_burke_asset_register_acc_dep

660.6299999952316

In [82]:

burke_source_asset_merge.to_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\burke\output_2200\sit3_2200_rehab_source_load_merge.csv')


burke_rehab_group.to_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\burke\output_2200\sit3_2200_rehab_source_asset_register.csv')

In [83]:
# burke_source_asset_merge.head()

### Find 2400 records that exist in the fsm asset register but have incorrect cost values

In [86]:
# burke_rehab_group.info()

In [87]:
# burke_source_infor_rehab_matched.info()

In [88]:
# slh_source_infor_2400_cost_diffs = burke_source_infor_rehab_matched['Historical Cost'].compare(burke_rehab_group['ItemTotalBaseCost'])
# slh_source_infor_2400_cost_diffs.rename(columns={'self': 'load file', 'other': 'FSM'}, inplace=True)
# slh_source_infor_2400_cost_diffs.rename_axis('Load ID', inplace=True)

In [89]:
# burke_source_asset_merge.head()

In [90]:
# burke_source_asset_merge.info()

### Calculate Burke Depreciation

In [91]:
fsm_depreciation = pd.read_csv(r"C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Depreciation By Asset.csv",
                              usecols=['Asset', 'CurrentPeriodDepreciation'])

In [92]:
df_depreciation_calc_rehab_2200 = burke_source_asset_merge[[
    'AssetImport', 'aa_index', 'Asset Description', 'Acquisition Date',
    'Historical Cost',  'Accumulated Depreciation', 'Net Book Value', 'Net Book Value','Life', 'Life Months', 'LifeRemaining', 'Basis',
    'InServiceDate_dt', 'Convention', 'Period Depreciation', 'LifeToDateDepreciation',
    
]]





df_depreciation_calc_rehab_2200.sort_index()

                       AssetImport  aa_index       Asset Description Acquisition Date  Historical Cost  Accumulated Depreciation  Net Book Value  Net Book Value    Life  Life Months  LifeRemaining     Basis InServiceDate_dt Convention  Period Depreciation  LifeToDateDepreciation
Asset Display Id
1                     BURK_REHAB_1         1  SCALE UPGRADES ADVANCE         7/1/1996        $2,795.65                 $2,796.00           $0.00           $0.00 $120.00      $120.00              0 $2,795.65       1996-07-01         HY                $0.00               $2,795.65
2                     BURK_REHAB_2         2           BOOKCASE OPEN         7/1/1996          $514.65                   $515.00           $0.00           $0.00 $240.00      $240.00              0   $514.65       1996-07-01         HY                $0.00                 $514.65
3                     BURK_REHAB_3         3           BOOKCASE OPEN         7/1/1996          $514.65                   $515.00           $0.00           $0.00 $240.00      $240.00              0   $514.65       1996-07-01         HY                $0.00                 $514.65
4                     BURK_REHAB_4         4     DESK 72X36 SING PED         7/1/1996          $893.00                   $893.00           $0.00           $0.00 $240.00      $240.00              0   $893.00       1996-07-01         HY                $0.00                 $893.00
5                     BURK_REHAB_5         5       DESK RETURN 60X24         7/1/1996          $470.00                   $470.00           $0.00           $0.00 $240.00      $240.00              0   $470.00       1996-07-01         HY                $0.00                 $470.00
...                            ...       ...                     ...              ...              ...                       ...             ...             ...     ...          ...            ...       ...              ...        ...                  ...                     ...
50460             BURK_REHAB_50460     50460               TABLE END        12/1/2019          $875.12                    $88.00         $788.00         $788.00 $180.00      $180.00            167   $875.12       2019-12-01         HY               $58.00                  $87.51
50461             BURK_REHAB_50461     50461               TABLE END        12/1/2019          $875.12                    $88.00         $788.00         $788.00 $180.00      $180.00            167   $875.12       2019-12-01         HY               $58.00                  $87.51
50462             BURK_REHAB_50462     50462               TABLE END        12/1/2019          $875.12                    $88.00         $788.00         $788.00 $180.00      $180.00            167   $875.12       2019-12-01         HY               $58.00                  $87.51
50463             BURK_REHAB_50463     50463               TABLE END        12/1/2019          $875.12                    $88.00         $788.00         $788.00 $180.00      $180.00            167   $875.12       2019-12-01         HY               $58.00                  $87.51
50464             BURK_REHAB_50464     50464               FURNITURE        12/1/2019        $9,726.30                   $973.00       $8,754.00       $8,754.00 $180.00      $180.00            167 $9,726.30       2019-12-01         HY              $648.00                 $972.63

[44126 rows x 16 columns]

In [93]:
df_depreciation_calc_rehab_2200['Life'] = df_depreciation_calc_rehab_2200['Life'].astype('int32')

<ipython-input-93-dba6928d35b3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_rehab_2200['Life'] = df_depreciation_calc_rehab_2200['Life'].astype('int32')

In [94]:
# df_depreciation_calc_rehab_2200.info()

In [95]:
df_depreciation_calc_rehab_2200['Life_years'] = df_depreciation_calc_rehab_2200['Life'] / 12

<ipython-input-95-b4ee39b90198>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_rehab_2200['Life_years'] = df_depreciation_calc_rehab_2200['Life'] / 12

In [96]:
df_depreciation_calc_rehab_2200['Life_years'] = df_depreciation_calc_rehab_2200['Life_years'].astype('int')

<ipython-input-96-0271fd78be58>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_rehab_2200['Life_years'] = df_depreciation_calc_rehab_2200['Life_years'].astype('int')

In [97]:
df_depreciation_calc_rehab_2200['full_dep_yr'] =  df_depreciation_calc_rehab_2200['Life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

<ipython-input-97-4abd5910e8b6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_rehab_2200['full_dep_yr'] =  df_depreciation_calc_rehab_2200['Life_years']\

In [98]:
df_depreciation_calc_rehab_2200.head()

                      AssetImport  aa_index       Asset Description Acquisition Date  Historical Cost  Accumulated Depreciation  Net Book Value  Net Book Value  Life  Life Months  LifeRemaining     Basis InServiceDate_dt Convention  Period Depreciation  LifeToDateDepreciation  Life_years               full_dep_yr
Asset Display Id
1002              BURK_REHAB_1002      1002     CABINET STORAGE MTL         7/1/1962           $81.00                    $81.00           $0.00           $0.00   240      $240.00              0    $81.00       1962-07-01         HY                $0.00                  $81.00          20  relativedelta(years=+20)
1                    BURK_REHAB_1         1  SCALE UPGRADES ADVANCE         7/1/1996        $2,795.65                 $2,796.00           $0.00           $0.00   120      $120.00              0 $2,795.65       1996-07-01         HY                $0.00               $2,795.65          10  relativedelta(years=+10)
10                  BURK_REHAB_10        10  CHAIR OPER SECRETARIAL         7/1/1996          $116.09                   $116.00           $0.00           $0.00   180      $180.00              0   $116.09       1996-07-01         HY                $0.00                 $116.09          15  relativedelta(years=+15)
100                BURK_REHAB_100       100       COMPUTER PERSONAL         7/1/1996        $1,964.57                 $1,965.00           $0.00           $0.00    60       $60.00              0 $1,964.57       1996-07-01         HY                $0.00               $1,964.57           5   relativedelta(years=+5)
1000              BURK_REHAB_1000      1000       DESK SP MTL 48X30         7/1/1961          $123.00                   $123.00           $0.00           $0.00   240      $240.00              0   $123.00       1961-07-01         HY                $0.00                 $123.00          20  relativedelta(years=+20)

In [99]:
df_depreciation_calc_rehab_2200['full_dep_yr_2'] = df_depreciation_calc_rehab_2200['InServiceDate_dt'] +\
df_depreciation_calc_rehab_2200['full_dep_yr']

C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-99-370300c20813>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_rehab_2200['full_dep_yr_2'] = df_depreciation_calc_rehab_2200['InServiceDate_dt'] +\

In [100]:
balance_sheet_date = datetime(2020, 12, 31)
balance_sheet_date_2021 = datetime(2021, 12, 31)

In [101]:
df_depreciation_calc_rehab_2200.columns

Index(['AssetImport', 'aa_index', 'Asset Description', 'Acquisition Date',
       'Historical Cost', 'Accumulated Depreciation', 'Net Book Value',
       'Net Book Value', 'Life', 'Life Months', 'LifeRemaining', 'Basis',
       'InServiceDate_dt', 'Convention', 'Period Depreciation',
       'LifeToDateDepreciation', 'Life_years', 'full_dep_yr', 'full_dep_yr_2'],
      dtype='object')

In [102]:
def dep_calc_2020(row):
    """
    This function takes a dataframe row as a parameter and
    calculates the straight line method depreciation using a half year convention.
    It adds a column for the 2020 calculated depreciation to the dataframe
    """
          
    if row['Life_years'] < 1:
        row['dep_exp_2020'] = 0
        
    elif row['InServiceDate_dt'].year == balance_sheet_date.year:
       
        row['dep_exp_2020'] = row['Historical Cost']\
        / row['Life_years'] * .5
    
    elif row['full_dep_yr_2'].year == balance_sheet_date.year:
        row['dep_exp_2020'] = row['Historical Cost']\
        / row['Life_years'] * .5
      
    elif (row['full_dep_yr_2'].year > balance_sheet_date.year) &\
    (row['InServiceDate_dt'].year < balance_sheet_date.year):
        
        row['dep_exp_2020'] = row['Historical Cost'] / row['Life_years']
         
    else:
        row['dep_exp_2020'] = 0
    
    return row

In [103]:
def dep_calc_2021(row):
    
    """
    This function takes a dataframe row as a parameter and
    calculates the straight line method depreciation using a half year convention.
    It adds a column for the 2021 calculated depreciation to the dataframe
    """
          
          
    if row['Life_years'] < 1:
        row['dep_exp_2021'] = 0
        
    elif row['InServiceDate_dt'].year == balance_sheet_date_2021.year:
       
        row['dep_exp_2021'] = row['Historical Cost']\
        / row['Life_years'] * .5
    
    elif row['full_dep_yr_2'].year == balance_sheet_date_2021.year:
        row['dep_exp_2021'] = row['Historical Cost']\
        / row['Life_years'] * .5
      
    elif (row['full_dep_yr_2'].year > balance_sheet_date_2021.year) &\
    (row['InServiceDate_dt'].year < balance_sheet_date_2021.year):
        
        row['dep_exp_2021'] = row['Historical Cost'] / row['Life_years']
         
    else:
        row['dep_exp_2021'] = 0
    
    return row

In [104]:
df_depreciation_calc_rehab_2200 = df_depreciation_calc_rehab_2200.apply(dep_calc_2020, axis=1)

In [105]:
# df_depreciation_calc_rehab_2200.info()

In [106]:
burke_rehab_assets_source[['Historical Cost','Period Depreciation', 'Accumulated Depreciation',
       'Net Book Value']].sum()

Historical Cost            $150,101,007.32
Period Depreciation          $4,445,144.00
Accumulated Depreciation   $107,899,092.00
Net Book Value              $42,202,856.00
dtype: float64

In [107]:
df_depreciation_calc_rehab_2200[['dep_exp_2020']].sum()

dep_exp_2020   $4,646,614.25
dtype: float64

In [108]:
df_depreciation_calc_rehab_2200 = df_depreciation_calc_rehab_2200.apply(dep_calc_2021, axis=1)

In [109]:
df_depreciation_calc_rehab_2200[['dep_exp_2021']].sum()

dep_exp_2021   $4,553,292.08
dtype: float64

In [110]:
df_depreciation_calc_rehab_2200['depr_ytd_oct'] = df_depreciation_calc_rehab_2200['dep_exp_2021'] * (10/12)

In [111]:
df_depreciation_calc_rehab_2200[['dep_exp_2021', 'depr_ytd_oct']].sum()

dep_exp_2021   $4,553,292.08
depr_ytd_oct   $3,794,410.07
dtype: float64

In [112]:
df_depreciation_calc_rehab_2200.columns

Index(['AssetImport', 'aa_index', 'Asset Description', 'Acquisition Date',
       'Historical Cost', 'Accumulated Depreciation', 'Net Book Value',
       'Net Book Value', 'Life', 'Life Months', 'LifeRemaining', 'Basis',
       'InServiceDate_dt', 'Convention', 'Period Depreciation',
       'LifeToDateDepreciation', 'Life_years', 'full_dep_yr', 'full_dep_yr_2',
       'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct'],
      dtype='object')

In [113]:
# df_depreciation_calc_rehab_2200.info()

In [114]:
# burke_rehab_group.info()

In [115]:

fsm_asset_number_rehab_2200 = burke_rehab_group[['Asset', 'cbiz_index']]

fsm_asset_number_rehab_2200['FSM Asset'] = fsm_asset_number_rehab_2200['Asset'].astype('int')
# fsm_asset_number

<ipython-input-115-7c44ae5473e1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fsm_asset_number_rehab_2200['FSM Asset'] = fsm_asset_number_rehab_2200['Asset'].astype('int')

In [116]:
fsm_asset_number_rehab_2200

             Asset  cbiz_index  FSM Asset
merge_index
1            31646           1      31646
2            40244           2      40244
3            49383           3      49383
4            60311           4      60311
5            70624           5      70624
...            ...         ...        ...
50460        71103       50460      71103
50461        71104       50461      71104
50462        71105       50462      71105
50463        71106       50463      71106
50464        71107       50464      71107

[44126 rows x 3 columns]

In [117]:
df_depreciation_calc_rehab_2200 = df_depreciation_calc_rehab_2200.merge(fsm_asset_number_rehab_2200, how='left',
                                            left_on='aa_index', right_on="cbiz_index")

In [118]:
df_depreciation_calc_rehab_2200.set_index('aa_index', inplace=True)

In [119]:
df_depreciation_calc_rehab_2200 = df_depreciation_calc_rehab_2200.sort_index()
df_depreciation_calc_rehab_2200.columns

Index(['AssetImport', 'Asset Description', 'Acquisition Date',
       'Historical Cost', 'Accumulated Depreciation', 'Net Book Value',
       'Net Book Value', 'Life', 'Life Months', 'LifeRemaining', 'Basis',
       'InServiceDate_dt', 'Convention', 'Period Depreciation',
       'LifeToDateDepreciation', 'Life_years', 'full_dep_yr', 'full_dep_yr_2',
       'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct', 'Asset', 'cbiz_index',
       'FSM Asset'],
      dtype='object')

In [120]:
# df_depreciation_calc_rehab_2200.drop(['Asset', 'full_dep_yr' , 'cbiz_index'], axis=1, inplace=True)

In [121]:
df_depreciation_calc_rehab_2200.columns

Index(['AssetImport', 'Asset Description', 'Acquisition Date',
       'Historical Cost', 'Accumulated Depreciation', 'Net Book Value',
       'Net Book Value', 'Life', 'Life Months', 'LifeRemaining', 'Basis',
       'InServiceDate_dt', 'Convention', 'Period Depreciation',
       'LifeToDateDepreciation', 'Life_years', 'full_dep_yr', 'full_dep_yr_2',
       'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct', 'Asset', 'cbiz_index',
       'FSM Asset'],
      dtype='object')

In [122]:
df_depreciation_calc_rehab_2200 = df_depreciation_calc_rehab_2200[['AssetImport', 'cbiz_index','FSM Asset', 'Asset Description', 'Acquisition Date',
       'Historical Cost',  'Basis', 'Accumulated Depreciation', 'LifeToDateDepreciation',
       'Net Book Value', 'Life Months','Life_years','full_dep_yr_2','Period Depreciation', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',   ]]

df_depreciation_calc_rehab_2200 = df_depreciation_calc_rehab_2200.merge(fsm_depreciation, how='left',
                                                           left_on='FSM Asset', right_on='Asset')

df_depreciation_calc_rehab_2200 = df_depreciation_calc_rehab_2200[['AssetImport', 'cbiz_index','FSM Asset', 'Asset Description', 'Acquisition Date',
       'Historical Cost',  'Basis', 'Accumulated Depreciation', 'LifeToDateDepreciation',
       'Net Book Value', 'Life Months', 'Life_years','full_dep_yr_2','Period Depreciation', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

In [144]:
df_depreciation_calc_rehab_2200

            AssetImport  cbiz_index  FSM Asset       Asset Description Acquisition Date  Historical Cost     Basis  Accumulated Depreciation  LifeToDateDepreciation  Net Book Value  Net Book Value  Life Months  Life_years full_dep_yr_2  Period Depreciation  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
0          BURK_REHAB_1           1      31646  SCALE UPGRADES ADVANCE         7/1/1996        $2,795.65 $2,795.65                 $2,796.00               $2,795.65           $0.00           $0.00      $120.00          10    2006-07-01                $0.00         $0.00         $0.00         $0.00                      $0.00
1          BURK_REHAB_2           2      40244           BOOKCASE OPEN         7/1/1996          $514.65   $514.65                   $515.00                 $514.65           $0.00           $0.00      $240.00          20    2016-07-01                $0.00         $0.00         $0.00         $0.00                      $0.00
2          BURK_REHAB_3           3      49383           BOOKCASE OPEN         7/1/1996          $514.65   $514.65                   $515.00                 $514.65           $0.00           $0.00      $240.00          20    2016-07-01                $0.00         $0.00         $0.00         $0.00                      $0.00
3          BURK_REHAB_4           4      60311     DESK 72X36 SING PED         7/1/1996          $893.00   $893.00                   $893.00                 $893.00           $0.00           $0.00      $240.00          20    2016-07-01                $0.00         $0.00         $0.00         $0.00                      $0.00
4          BURK_REHAB_5           5      70624       DESK RETURN 60X24         7/1/1996          $470.00   $470.00                   $470.00                 $470.00           $0.00           $0.00      $240.00          20    2016-07-01                $0.00         $0.00         $0.00         $0.00                      $0.00
...                 ...         ...        ...                     ...              ...              ...       ...                       ...                     ...             ...             ...          ...         ...           ...                  ...           ...           ...           ...                        ...
44121  BURK_REHAB_50460       50460      71103               TABLE END        12/1/2019          $875.12   $875.12                    $88.00                  $87.51         $788.00         $788.00      $180.00          15    2034-12-01               $58.00        $58.34        $58.34        $48.62                     $19.45
44122  BURK_REHAB_50461       50461      71104               TABLE END        12/1/2019          $875.12   $875.12                    $88.00                  $87.51         $788.00         $788.00      $180.00          15    2034-12-01               $58.00        $58.34        $58.34        $48.62                     $19.45
44123  BURK_REHAB_50462       50462      71105               TABLE END        12/1/2019          $875.12   $875.12                    $88.00                  $87.51         $788.00         $788.00      $180.00          15    2034-12-01               $58.00        $58.34        $58.34        $48.62                     $19.45
44124  BURK_REHAB_50463       50463      71106               TABLE END        12/1/2019          $875.12   $875.12                    $88.00                  $87.51         $788.00         $788.00      $180.00          15    2034-12-01               $58.00        $58.34        $58.34        $48.62                     $19.45
44125  BURK_REHAB_50464       50464      71107               FURNITURE        12/1/2019        $9,726.30 $9,726.30                   $973.00                 $972.63       $8,754.00       $8,754.00      $180.00          15    2034-12-01              $648.00       $648.42       $648.42       $540.35                    $216.14

[44126 rows x 19 columns]

In [154]:
burke_rehab_2020_depreciation_diffs = df_depreciation_calc_rehab_2200[df_depreciation_calc_rehab_2200['Period Depreciation'] != df_depreciation_calc_rehab_2200['dep_exp_2020']]

In [155]:
burke_rehab_2020_depreciation_diffs.shape

(6933, 19)

In [157]:
burke_rehab_2020_depreciation_diffs['Period Depreciation'].sum() - burke_rehab_2020_depreciation_diffs['dep_exp_2020'].sum()

-201470.24513349496

In [158]:
burke_rehab_2020_depreciation_diffs['Period Depreciation'].sum() - burke_rehab_2020_depreciation_diffs['dep_exp_2020'].sum()

-201470.24513349496

In [159]:
df_depreciation_calc_rehab_2200.to_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\burke\output_2200\sit3_2200_rehab_depreciation.csv')

In [160]:
burke_rehab_2020_depreciation_diffs.to_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\burke\output_2200\sit3_2200_rehab_depreciation_diffs.csv')