In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.max_row", 500)
pd.set_option('display.max.columns', None)
pd.set_option('display.precision', 2)
pd.options.display.float_format = '${:,.2f}'.format
from datetime import date, time, datetime, timedelta
import dateutil
from dateutil.relativedelta import relativedelta

## MMC CBIZ report import / cleanup

In [322]:
mmc_cbiz_report = pd.read_csv(r'C:\Users\Michael\OneDrive\Documents\Work\conversion\SIT3\sit3_environment\fixed_assets\source_files_2021\mmc\Montefiore Medical Center_FY21_Asset List v1.3 (3).csv',
                              
                             
                         
                         usecols=['Sys No', 'Asset ID', 'Status', 'Location Desc', 'Prev', 
                                  'Account Desc.', 'Quantity', 'Acquisition Date', ' Acquired Value* ',
                                 'Equip', 'Method_1', 'In Svc Date*',
                                 'Est Life*', ' Current YTD* ', ' Current Accum* ', ' NBV* ',
                                 'Depr Method*', 'Method_2', 'In Svc Date*.1', 'Est Life*.1',
                                 ' Current YTD* .1', ' Current Accum* .1', ' NBV* .1', 'Depr Method*.1'],
                             )

In [323]:
mmc_cbiz_report.columns

Index(['Sys No', 'Asset ID', 'Status', 'Prev', 'Location Desc',
       'Account Desc.', 'Quantity', 'Acquisition Date', ' Acquired Value* ',
       'Equip', 'Method_1', 'In Svc Date*', 'Est Life*', ' Current YTD* ',
       ' Current Accum* ', ' NBV* ', 'Depr Method*', 'Method_2',
       'In Svc Date*.1', 'Est Life*.1', ' Current YTD* .1',
       ' Current Accum* .1', ' NBV* .1', 'Depr Method*.1'],
      dtype='object')

In [324]:
# sum all the missing values in the df by applying df.isnull() and passing the
# resulting boolean series into np.count_nonzero() method
# np.count_nonzero(mmc_cbiz_report.isnull())

In [325]:
# calculate the missing fields by column
# num_rows = mmc_cbiz_report.shape[0]
# num_missing = num_rows - mmc_cbiz_report.count()
# num_missing

In [326]:
# mmc_tb = pd.read_csv(r'C:\Users\Michael\OneDrive\Documents\Work\conversion\august_2021\sap_tb_2020.csv')

In [327]:
mmc_cbiz_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29264 entries, 0 to 29263
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Sys No              29264 non-null  int64
 1   Asset ID            29264 non-null  int64
 2   Status              29264 non-null  object
 3   Prev                27327 non-null  float64
 4   Location Desc       29264 non-null  object
 5   Account Desc.       29262 non-null  object
 6   Quantity            29264 non-null  int64
 7   Acquisition Date    29264 non-null  object
 8    Acquired Value*    29264 non-null  object
 9   Equip               26173 non-null  object
 10  Method_1            28332 non-null  float64
 11  In Svc Date*        29264 non-null  object
 12  Est Life*           29264 non-null  object
 13   Current YTD*       29264 non-null  object
 14   Current Accum*     29264 non-null  object
 15   NBV*               29264 non-null  object
 16  Depr Method*        29264 non-null  object
 17  Method_2            27327 non-null  float64
 18  In Svc Date*.1      29264 non-null  object
 19  Est Life*.1         29264 non-null  object
 20   Current YTD* .1    29264 non-null  object
 21   Current Accum* .1  29264 non-null  object
 22   NBV* .1            29264 non-null  object
 23  Depr Method*.1      29264 non-null  object
dtypes: float64(3), int64(3), object(18)
memory usage: 5.4+ MB

In [328]:

mmc_cbiz_report['Asset ID'] = mmc_cbiz_report['Asset ID'].astype('int32')
mmc_cbiz_report['Quantity'] = mmc_cbiz_report['Quantity'].astype('int32')

In [329]:
# mmc_cbiz_report.loc[28782] = mmc_cbiz_report.loc[28782].fillna(0)
# mmc_cbiz_report.loc[28782, 'Est Life*.1'] = ' '
# mmc_cbiz_report.loc[28782, ['Est Life*', 'life_years']] = 'NaN'

In [330]:
mmc_cbiz_report['Depr Method*'] = mmc_cbiz_report['Depr Method*'].astype('category')
mmc_cbiz_report['Depr Method*.1'] = mmc_cbiz_report['Depr Method*.1'].astype('category')
mmc_cbiz_report['Method_1'] = mmc_cbiz_report['Method_1'].astype('category')
mmc_cbiz_report['Method_2'] = mmc_cbiz_report['Method_1'].astype('category')

In [331]:
mmc_cbiz_report[' Current YTD* '].fillna('-', inplace=True)
mmc_cbiz_report[' Current Accum* '].fillna('-', inplace=True)
mmc_cbiz_report[' NBV* '].fillna('-', inplace=True)
mmc_cbiz_report[' Current YTD* .1'].fillna('-', inplace=True)
mmc_cbiz_report[' Current Accum* .1'].fillna('-', inplace=True)
mmc_cbiz_report[' NBV* .1'].fillna('-', inplace=True)
mmc_cbiz_report[' Acquired Value* '].fillna('-', inplace=True)

In [332]:
def ser_to_float(ser):
    ser = ser.str.strip()
    ser = ser.apply(lambda x: x.replace(' - ', 'NaN'))
    ser = ser.apply(lambda x: x.replace('-', 'NaN'))
    ser = ser.apply(lambda x: x.replace(',', ''))
    ser = ser.apply(lambda x: x.replace('-', 'Nan'))
    ser = ser.apply(lambda x: x.replace(' ', ''))
    ser = ser.apply(lambda x: x.replace('(', ''))
    ser = ser.apply(lambda x: x.replace(')', ''))
    ser = ser.astype(float)
    return ser

In [333]:
mmc_cbiz_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29264 entries, 0 to 29263
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Sys No              29264 non-null  int64
 1   Asset ID            29264 non-null  int32
 2   Status              29264 non-null  object
 3   Prev                27327 non-null  float64
 4   Location Desc       29264 non-null  object
 5   Account Desc.       29262 non-null  object
 6   Quantity            29264 non-null  int32
 7   Acquisition Date    29264 non-null  object
 8    Acquired Value*    29264 non-null  object
 9   Equip               26173 non-null  object
 10  Method_1            28332 non-null  category
 11  In Svc Date*        29264 non-null  object
 12  Est Life*           29264 non-null  object
 13   Current YTD*       29264 non-null  object
 14   Current Accum*     29264 non-null  object
 15   NBV*               29264 non-null  object
 16  Depr Method*        29264 non-null  category
 17  Method_2            28332 non-null  category
 18  In Svc Date*.1      29264 non-null  object
 19  Est Life*.1         29264 non-null  object
 20   Current YTD* .1    29264 non-null  object
 21   Current Accum* .1  29264 non-null  object
 22   NBV* .1            29264 non-null  object
 23  Depr Method*.1      29264 non-null  category
dtypes: category(4), float64(1), int32(2), int64(1), object(16)
memory usage: 4.4+ MB

In [334]:
mmc_cbiz_report.columns

Index(['Sys No', 'Asset ID', 'Status', 'Prev', 'Location Desc',
       'Account Desc.', 'Quantity', 'Acquisition Date', ' Acquired Value* ',
       'Equip', 'Method_1', 'In Svc Date*', 'Est Life*', ' Current YTD* ',
       ' Current Accum* ', ' NBV* ', 'Depr Method*', 'Method_2',
       'In Svc Date*.1', 'Est Life*.1', ' Current YTD* .1',
       ' Current Accum* .1', ' NBV* .1', 'Depr Method*.1'],
      dtype='object')

In [335]:
mmc_cbiz_report[' Current YTD* '] = ser_to_float(mmc_cbiz_report[' Current YTD* '])
mmc_cbiz_report[' Current Accum* '] = ser_to_float(mmc_cbiz_report[' Current Accum* '])
mmc_cbiz_report[' NBV* '] = ser_to_float(mmc_cbiz_report[' NBV* '])
mmc_cbiz_report[' Acquired Value* '] = ser_to_float(mmc_cbiz_report[' Acquired Value* '])
mmc_cbiz_report[' Current YTD* .1'] = ser_to_float(mmc_cbiz_report[' Current YTD* .1'])
mmc_cbiz_report[' Current Accum* .1'] = ser_to_float(mmc_cbiz_report[' Current Accum* .1'])
mmc_cbiz_report[' NBV* .1'] = ser_to_float(mmc_cbiz_report[' NBV* .1'])

In [336]:
mmc_cbiz_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29264 entries, 0 to 29263
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Sys No              29264 non-null  int64
 1   Asset ID            29264 non-null  int32
 2   Status              29264 non-null  object
 3   Prev                27327 non-null  float64
 4   Location Desc       29264 non-null  object
 5   Account Desc.       29262 non-null  object
 6   Quantity            29264 non-null  int32
 7   Acquisition Date    29264 non-null  object
 8    Acquired Value*    28758 non-null  float64
 9   Equip               26173 non-null  object
 10  Method_1            28332 non-null  category
 11  In Svc Date*        29264 non-null  object
 12  Est Life*           29264 non-null  object
 13   Current YTD*       6919 non-null   float64
 14   Current Accum*     28721 non-null  float64
 15   NBV*               6464 non-null   float64
 16  Depr Method*        29264 non-null  category
 17  Method_2            28332 non-null  category
 18  In Svc Date*.1      29264 non-null  object
 19  Est Life*.1         29264 non-null  object
 20   Current YTD* .1    6919 non-null   float64
 21   Current Accum* .1  28721 non-null  float64
 22   NBV* .1            6386 non-null   float64
 23  Depr Method*.1      29264 non-null  category
dtypes: category(4), float64(8), int32(2), int64(1), object(9)
memory usage: 4.4+ MB

In [337]:
mmc_cbiz_report['Est Life*.1'].unique()

array(['00 yrs 00 mos', '10 yrs 00 mos', '15 yrs 00 mos', '05 yrs 00 mos',
       '14 yrs 00 mos', '20 yrs 00 mos', '08 yrs 00 mos', '21 yrs 00 mos',
       '22 yrs 00 mos', '13 yrs 00 mos', '07 yrs 00 mos', '11 yrs 00 mos',
       '29 yrs 00 mos', '19 yrs 00 mos', '18 yrs 00 mos', '16 yrs 00 mos',
       '03 yrs 00 mos', '09 yrs 00 mos', '24 yrs 00 mos', '23 yrs 00 mos',
       '33 yrs 00 mos', '32 yrs 00 mos', '17 yrs 00 mos', '12 yrs 00 mos',
       '40 yrs 00 mos', '06 yrs 00 mos', '04 yrs 00 mos', '25 yrs 00 mos',
       '27 yrs 00 mos', '30 yrs 00 mos', '44 yrs 00 mos', '35 yrs 00 mos',
       '26 yrs 00 mos', '28 yrs 00 mos', '36 yrs 00 mos', '37 yrs 00 mos',
       '45 yrs 00 mos', '39 yrs 00 mos', '11 yrs 09 mos', '95 yrs 00 mos'],
      dtype=object)

In [338]:
# mmc_cbiz_report['Est Life*.1'] = mmc_cbiz_report['Est Life*.1'].apply(lambda x: x.replace(' - ', 'NaN'))
# mmc_cbiz_report['Est Life*.1'] = mmc_cbiz_report['Est Life*.1'].apply(lambda x: x.replace(',', ''))
# mmc_cbiz_report['Est Life*.1'] = mmc_cbiz_report['Est Life*.1'].apply(lambda x: x.replace('-', 'Nan'))
# mmc_cbiz_report['Est Life*.1'] = mmc_cbiz_report['Est Life*.1'].apply(lambda x: x.replace(' ', ''))

In [339]:
mmc_cbiz_report['Acquisition Date'] = pd.to_datetime(mmc_cbiz_report['Acquisition Date'])
mmc_cbiz_report['In Svc Date*'] = pd.to_datetime(mmc_cbiz_report['In Svc Date*'])
mmc_cbiz_report['In Svc Date*.1'] = pd.to_datetime(mmc_cbiz_report['In Svc Date*.1'])

In [340]:
mmc_cbiz_report[['Sys No', 'Asset ID', 'Prev']] = mmc_cbiz_report[['Sys No', 'Asset ID', 'Prev']].astype(str)

In [341]:
# mmc_cbiz_report.loc[28782, ['Est Life*', 'life_years']] = 'NaN'

In [342]:
mmc_cbiz_report['life_years'] = mmc_cbiz_report['Est Life*'].apply(lambda x: x[:3])
mmc_cbiz_report['life_years'] = mmc_cbiz_report['life_years'].astype(float)

mmc_cbiz_report['life_years'] = mmc_cbiz_report['life_years'].astype('int32')

In [343]:
mmc_cbiz_report['life_years'].unique()

array([ 0, 10, 15,  5, 14, 20,  8, 21, 22, 13,  7, 11, 29, 19, 18, 16,  3,
        9, 24, 23, 33, 32, 17, 12, 40,  6,  4, 25, 27, 30, 44, 35, 26, 28,
       36, 37, 45, 39, 95])

In [344]:
mmc_cbiz_report['Est Life*.1'].unique()

array(['00 yrs 00 mos', '10 yrs 00 mos', '15 yrs 00 mos', '05 yrs 00 mos',
       '14 yrs 00 mos', '20 yrs 00 mos', '08 yrs 00 mos', '21 yrs 00 mos',
       '22 yrs 00 mos', '13 yrs 00 mos', '07 yrs 00 mos', '11 yrs 00 mos',
       '29 yrs 00 mos', '19 yrs 00 mos', '18 yrs 00 mos', '16 yrs 00 mos',
       '03 yrs 00 mos', '09 yrs 00 mos', '24 yrs 00 mos', '23 yrs 00 mos',
       '33 yrs 00 mos', '32 yrs 00 mos', '17 yrs 00 mos', '12 yrs 00 mos',
       '40 yrs 00 mos', '06 yrs 00 mos', '04 yrs 00 mos', '25 yrs 00 mos',
       '27 yrs 00 mos', '30 yrs 00 mos', '44 yrs 00 mos', '35 yrs 00 mos',
       '26 yrs 00 mos', '28 yrs 00 mos', '36 yrs 00 mos', '37 yrs 00 mos',
       '45 yrs 00 mos', '39 yrs 00 mos', '11 yrs 09 mos', '95 yrs 00 mos'],
      dtype=object)

In [345]:
# mmc_cbiz_report['life_years_2'] = mmc_cbiz_report['Est Life*.1'].apply(lambda x: x.replace(' - ', 'NaN'))
# mmc_cbiz_report['life_years_2'] = mmc_cbiz_report['Est Life*.1'].apply(lambda x: x.replace(',', ''))
# mmc_cbiz_report['life_years_2'] = mmc_cbiz_report['Est Life*.1'].apply(lambda x: x.replace('-', 'Nan'))
# mmc_cbiz_report['life_years_2'] = mmc_cbiz_report['Est Life*.1'].apply(lambda x: x.replace(' ', ''))
mmc_cbiz_report['life_years_2'] = mmc_cbiz_report['Est Life*.1'].apply(lambda x: x[:2])
# mmc_cbiz_report['life_years_2'].replace('', 0, inplace=True)
mmc_cbiz_report['life_years_2'] = mmc_cbiz_report['life_years_2'].astype('int32')

In [346]:
mmc_cbiz_report['life_years_2'].unique()

array([ 0, 10, 15,  5, 14, 20,  8, 21, 22, 13,  7, 11, 29, 19, 18, 16,  3,
        9, 24, 23, 33, 32, 17, 12, 40,  6,  4, 25, 27, 30, 44, 35, 26, 28,
       36, 37, 45, 39, 95])

In [347]:
mmc_cbiz_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29264 entries, 0 to 29263
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Sys No              29264 non-null  object
 1   Asset ID            29264 non-null  object
 2   Status              29264 non-null  object
 3   Prev                29264 non-null  object
 4   Location Desc       29264 non-null  object
 5   Account Desc.       29262 non-null  object
 6   Quantity            29264 non-null  int32
 7   Acquisition Date    29264 non-null  datetime64[ns]
 8    Acquired Value*    28758 non-null  float64
 9   Equip               26173 non-null  object
 10  Method_1            28332 non-null  category
 11  In Svc Date*        29264 non-null  datetime64[ns]
 12  Est Life*           29264 non-null  object
 13   Current YTD*       6919 non-null   float64
 14   Current Accum*     28721 non-null  float64
 15   NBV*               6464 non-null   float64
 16  Depr Method*        29264 non-null  category
 17  Method_2            28332 non-null  category
 18  In Svc Date*.1      29264 non-null  datetime64[ns]
 19  Est Life*.1         29264 non-null  object
 20   Current YTD* .1    6919 non-null   float64
 21   Current Accum* .1  28721 non-null  float64
 22   NBV* .1            6386 non-null   float64
 23  Depr Method*.1      29264 non-null  category
 24  life_years          29264 non-null  int32
 25  life_years_2        29264 non-null  int32
dtypes: category(4), datetime64[ns](3), float64(7), int32(3), object(9)
memory usage: 4.7+ MB

In [348]:
mmc_cbiz_report.columns

Index(['Sys No', 'Asset ID', 'Status', 'Prev', 'Location Desc',
       'Account Desc.', 'Quantity', 'Acquisition Date', ' Acquired Value* ',
       'Equip', 'Method_1', 'In Svc Date*', 'Est Life*', ' Current YTD* ',
       ' Current Accum* ', ' NBV* ', 'Depr Method*', 'Method_2',
       'In Svc Date*.1', 'Est Life*.1', ' Current YTD* .1',
       ' Current Accum* .1', ' NBV* .1', 'Depr Method*.1', 'life_years',
       'life_years_2'],
      dtype='object')

In [349]:
mmc_cbiz_report[' Current YTD* '].sum()

152866429.0

In [350]:
mmc_cbiz_report['life_years_2'].unique()

array([ 0, 10, 15,  5, 14, 20,  8, 21, 22, 13,  7, 11, 29, 19, 18, 16,  3,
        9, 24, 23, 33, 32, 17, 12, 40,  6,  4, 25, 27, 30, 44, 35, 26, 28,
       36, 37, 45, 39, 95])

In [351]:
# mmc_cbiz_report.info()

In [352]:
mmc_cbiz_report[['life_years','life_years_2']].sum()

life_years      302408
life_years_2    302395
dtype: int64

In [353]:
mmc_cbiz_report[mmc_cbiz_report['life_years'] != mmc_cbiz_report['life_years_2']]

      Sys No Asset ID  Status   Prev Location Desc              Account Desc.  Quantity Acquisition Date   Acquired Value*  Equip Method_1 In Svc Date*      Est Life*   Current YTD*    Current Accum*          NBV*  Depr Method* Method_2 In Svc Date*.1    Est Life*.1   Current YTD* .1   Current Accum* .1       NBV* .1 Depr Method*.1  life_years  life_years_2
24212  24213    45566  Active  162.0           MMC  215-BUILDINGS-NEW CAPITAL         1       2014-10-01      $5,580,423.00    NB    $0.00   2014-12-01  25 yrs 00 mos     $223,217.00     $1,581,120.00 $3,999,303.00           SH    $0.00     2014-10-01  16 yrs 00 mos       $310,971.00       $3,403,624.00 $2,176,799.00          DH200          25            16
24213  24214    45567  Active  163.0           MMC  215-BUILDINGS-NEW CAPITAL         1       2014-10-01      $8,215,183.00    NB    $0.00   2014-12-01  20 yrs 00 mos     $410,759.00     $2,909,543.00 $5,305,640.00           SH    $0.00     2014-10-01  16 yrs 00 mos       $457,026.00       $5,015,999.00 $3,199,184.00          DH200          20            16

## WOA CBIZ report import / cleanup

In [354]:
woa_cbiz_report = pd.read_csv(r'C:\Users\Michael\OneDrive\Documents\Work\conversion\SIT3\sit3_environment\fixed_assets\source_files_2021\mmc\Montefiore Health System_Westchester Operation_Active Assets_FY21.csv')

In [355]:
woa_cbiz_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1383 entries, 0 to 1382
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sys No             1383 non-null   int64
 1   Asset ID           1383 non-null   int64
 2   Status             1383 non-null   object
 3   Location Descr     1383 non-null   object
 4   Account Descr      1383 non-null   object
 5   Department Descr   1363 non-null   object
 6   Building Descr     1227 non-null   object
 7   Floor              747 non-null    object
 8   Quantity           1383 non-null   int64
 9   Description        1383 non-null   object
 10  Manufacturer       1132 non-null   object
 11  Model              739 non-null    object
 12  Serial Number      753 non-null    float64
 13  Src_Code           1383 non-null   object
 14  Tag_1              68 non-null     object
 15  Acquisition Date   1383 non-null   object
 16   Acquired Value*   1383 non-null   object
 17  Opt_3              341 non-null    object
 18  Opt_4              1062 non-null   object
 19  Method_1           1314 non-null   float64
 20  In Svc Date*       1383 non-null   object
 21  Est Life*          1383 non-null   object
 22   Current YTD*      1383 non-null   object
 23   Current Accum*    1383 non-null   object
 24   NBV*              1383 non-null   object
 25  Depr Method*       1383 non-null   object
dtypes: float64(2), int64(3), object(21)
memory usage: 281.0+ KB

In [356]:
# woa_num_rows = woa_cbiz_report.shape[0]
# woa_num_missing = woa_num_rows - woa_cbiz_report.count()
# woa_num_missing

In [357]:
# woa_cbiz_report.iloc[1308] = woa_cbiz_report.iloc[1308].fillna(0)

In [358]:
woa_cbiz_report['Quantity'] = woa_cbiz_report['Quantity'].astype('int')
woa_cbiz_report['Asset ID'] = woa_cbiz_report['Asset ID'].astype('int')
woa_cbiz_report['Serial Number'] = woa_cbiz_report['Serial Number'].astype('str')
woa_cbiz_report['Acquisition Date'] = pd.to_datetime(woa_cbiz_report['Acquisition Date'])
woa_cbiz_report['In Svc Date*'] = pd.to_datetime(woa_cbiz_report['In Svc Date*'])

In [359]:
woa_cbiz_report[' Acquired Value* '] = ser_to_float(woa_cbiz_report[' Acquired Value* '])
woa_cbiz_report[' Current YTD* '] = ser_to_float(woa_cbiz_report[' Current YTD* '])
woa_cbiz_report[' Current Accum* '] = ser_to_float(woa_cbiz_report[' Current Accum* '])
woa_cbiz_report[' NBV* '] = ser_to_float(woa_cbiz_report[' NBV* '])

In [360]:
# woa_cbiz_report.loc[1308, 'Est Life*'] = 'NaN'
woa_cbiz_report['Est Life*'] = woa_cbiz_report['Est Life*'].apply(lambda x: x.replace(' - ', 'NaN'))
woa_cbiz_report['Est Life*'] = woa_cbiz_report['Est Life*'].apply(lambda x: x.replace(',', ''))
woa_cbiz_report['Est Life*'] = woa_cbiz_report['Est Life*'].apply(lambda x: x.replace('-', 'Nan'))
woa_cbiz_report['Est Life*'] = woa_cbiz_report['Est Life*'].apply(lambda x: x.replace(' ', ''))

In [361]:
woa_cbiz_report['life_years'] = woa_cbiz_report['Est Life*'].apply(lambda x: x[:2])
# woa_cbiz_report.loc[1308, 'life_years'] = 0
woa_cbiz_report['life_years'] = woa_cbiz_report['life_years'].astype('int')

In [362]:
woa_cbiz_report['Depr Method*'] = woa_cbiz_report['Depr Method*'].astype('category')
woa_cbiz_report['Method_1'] = woa_cbiz_report['Method_1'].astype('category')

In [363]:
woa_cbiz_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1383 entries, 0 to 1382
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sys No             1383 non-null   int64
 1   Asset ID           1383 non-null   int32
 2   Status             1383 non-null   object
 3   Location Descr     1383 non-null   object
 4   Account Descr      1383 non-null   object
 5   Department Descr   1363 non-null   object
 6   Building Descr     1227 non-null   object
 7   Floor              747 non-null    object
 8   Quantity           1383 non-null   int32
 9   Description        1383 non-null   object
 10  Manufacturer       1132 non-null   object
 11  Model              739 non-null    object
 12  Serial Number      1383 non-null   object
 13  Src_Code           1383 non-null   object
 14  Tag_1              68 non-null     object
 15  Acquisition Date   1383 non-null   datetime64[ns]
 16   Acquired Value*   1383 non-null   float64
 17  Opt_3              341 non-null    object
 18  Opt_4              1062 non-null   object
 19  Method_1           1314 non-null   category
 20  In Svc Date*       1383 non-null   datetime64[ns]
 21  Est Life*          1383 non-null   object
 22   Current YTD*      591 non-null    float64
 23   Current Accum*    1380 non-null   float64
 24   NBV*              566 non-null    float64
 25  Depr Method*       1383 non-null   category
 26  life_years         1383 non-null   int32
dtypes: category(2), datetime64[ns](2), float64(4), int32(3), int64(1), object(15)
memory usage: 256.9+ KB

In [34]:
# woa_cbiz_report.head()

### CBIZ 'Other' file import / cleanup

In [364]:
other_cbiz_report = pd.read_csv(r'C:\Users\Michael\OneDrive\Documents\Work\conversion\SIT3\sit3_environment\fixed_assets\source_files_2021\mmc\Montefiore Health System-Other_Data File_FY21.csv')

In [365]:
# other_cbiz_report.info()

In [366]:
# other_num_rows = other_cbiz_report.shape[0]
# other_num_missing = other_num_rows - other_cbiz_report.count()
# other_num_missing

In [367]:
# other_cbiz_report.iloc[810] = other_cbiz_report.iloc[810].fillna(0)

In [368]:
other_cbiz_report['Quantity'] = other_cbiz_report['Quantity'].astype('int')
other_cbiz_report['Asset ID'] = other_cbiz_report['Asset ID'].astype('int')
other_cbiz_report['Serial Number'] = other_cbiz_report['Serial Number'].astype('str')

In [369]:
other_cbiz_report['Acquisition Date'] = pd.to_datetime(other_cbiz_report['Acquisition Date'])
other_cbiz_report['In Svc Date*'] = pd.to_datetime(other_cbiz_report['In Svc Date*'])

In [370]:
# mmc_cbiz_report[' Current YTD* '].fillna('-', inplace=True)
# mmc_cbiz_report[' Current Accum* '].fillna('-', inplace=True)
# mmc_cbiz_report[' NBV* '].fillna('-', inplace=True)
# mmc_cbiz_report[' Current YTD* .1'].fillna('-', inplace=True)
# mmc_cbiz_report[' Current Accum* .1'].fillna('-', inplace=True)
# mmc_cbiz_report[' NBV* .1'].fillna('-', inplace=True)
# mmc_cbiz_report[' Acquired Value* '].fillna('-', inplace=True)

In [371]:
# other_cbiz_report[' Acquired Value* '] = ser_to_float(other_cbiz_report[' Acquired Value* '])

In [372]:
other_cbiz_report['Depr Method*'] = other_cbiz_report['Depr Method*'].astype('category')
other_cbiz_report['Method_1'] = other_cbiz_report['Method_1'].astype('category')

In [373]:
other_cbiz_report[' Current YTD* '] = ser_to_float(other_cbiz_report[' Current YTD* '])

In [374]:
other_cbiz_report['Est Life*'] =other_cbiz_report['Est Life*'].apply(lambda x: x.replace(' - ', 'NaN'))
other_cbiz_report['Est Life*'] = other_cbiz_report['Est Life*'].apply(lambda x: x.replace(',', ''))
other_cbiz_report['Est Life*'] = other_cbiz_report['Est Life*'].apply(lambda x: x.replace('-', 'Nan'))
other_cbiz_report['Est Life*'] = other_cbiz_report['Est Life*'].apply(lambda x: x.replace(' ', ''))

In [375]:
other_cbiz_report['life_years'] = other_cbiz_report['Est Life*'].apply(lambda x: x[:2])
other_cbiz_report.loc[810, 'life_years'] = 0
other_cbiz_report['life_years'] = other_cbiz_report['life_years'].astype('int')

In [376]:
other_cbiz_report[other_cbiz_report[' Current Accum* '] == 'NaN']

Empty DataFrame
Columns: [Sys No, Asset ID, Status, Location Descr, Account Descr, Department Descr, Building Descr, Floor, Quantity, Description, Manufacturer, Model, Serial Number, Src_Code, Tag_1, Acquisition Date,  Acquired Value* , Opt_3, Opt_4, Method_1, In Svc Date*, Est Life*,  Current YTD* ,  Current Accum* ,  NBV* , Depr Method*, life_years]
Index: []

In [377]:
# other_cbiz_report[' Current Accum* '] = ser_to_float(other_cbiz_report[' Current Accum* '])

In [378]:
other_cbiz_report[' NBV* '] = ser_to_float(other_cbiz_report[' NBV* '])

In [379]:
other_cbiz_report.columns

Index(['Sys No', 'Asset ID', 'Status', 'Location Descr', 'Account Descr',
       'Department Descr', 'Building Descr', 'Floor', 'Quantity',
       'Description', 'Manufacturer', 'Model', 'Serial Number', 'Src_Code',
       'Tag_1', 'Acquisition Date', ' Acquired Value* ', 'Opt_3', 'Opt_4',
       'Method_1', 'In Svc Date*', 'Est Life*', ' Current YTD* ',
       ' Current Accum* ', ' NBV* ', 'Depr Method*', 'life_years'],
      dtype='object')

In [380]:
other_cbiz_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sys No             822 non-null    int64
 1   Asset ID           822 non-null    int32
 2   Status             822 non-null    object
 3   Location Descr     822 non-null    object
 4   Account Descr      822 non-null    object
 5   Department Descr   27 non-null     object
 6   Building Descr     252 non-null    object
 7   Floor              0 non-null      float64
 8   Quantity           822 non-null    int32
 9   Description        822 non-null    object
 10  Manufacturer       1 non-null      object
 11  Model              0 non-null      float64
 12  Serial Number      822 non-null    object
 13  Src_Code           822 non-null    object
 14  Tag_1              1 non-null      object
 15  Acquisition Date   822 non-null    datetime64[ns]
 16   Acquired Value*   822 non-null    float64
 17  Opt_3              0 non-null      float64
 18  Opt_4              0 non-null      float64
 19  Method_1           811 non-null    category
 20  In Svc Date*       822 non-null    datetime64[ns]
 21  Est Life*          822 non-null    object
 22   Current YTD*      263 non-null    float64
 23   Current Accum*    822 non-null    float64
 24   NBV*              517 non-null    float64
 25  Depr Method*       822 non-null    category
 26  life_years         822 non-null    int32
dtypes: category(2), datetime64[ns](2), float64(8), int32(3), int64(1), object(11)
memory usage: 152.8+ KB

In [321]:
# other_cbiz_report.tail()

### CBIZ MMC File Exploration

In [53]:
# mmc_cbiz_report.info()

In [54]:
# mmc_cbiz_report.columns

In [55]:
# mmc_cbiz_report[' Acquired Value* '].sum()

In [56]:
# mmc_cbiz_report['Method_1'].unique()

In [57]:
# mmc_cbiz_report['Depr Method*'].unique()

In [58]:
# mmc_cbiz_report['Depr Method*'].value_counts()

In [59]:
# mmc_cbiz_report[mmc_cbiz_report['Depr Method*'] == 'NO']['Account Desc.'].unique()

In [60]:
# mmc_cbiz_report.head()

In [61]:
# mmc_cbiz_report[[' Acquired Value* ', ' Current Accum* ', ' NBV* ', ' Current Accum* .1', ' NBV* .1']].sum()

In [62]:
# mmc_cbiz_report['Location Desc'].unique()

In [63]:
# mmc_cbiz_report_by_location_desc = mmc_cbiz_report.groupby('Location Desc')[[
#                                                                         ' Acquired Value* ',' Current Accum* ', ' NBV* ',
#                                                                          ]].sum()

# mmc_cbiz_report_by_location_desc

In [64]:
# mmc_cbiz_report['Account Desc.'].unique()

In [65]:
# mmc_cbiz_report.groupby('Account Desc.')[[' Acquired Value* ',' Current Accum* ', ' NBV* ',]].sum()

In [66]:
# mmc_cbiz_report['Depr Method*'].unique()

In [67]:
# mmc_cbiz_report.groupby('Depr Method*')[[' Acquired Value* ',' Current Accum* ', ' NBV* ',]].sum()

In [68]:
# mmc_cbiz_report[[' Acquired Value* ', ' Current Accum* ', ' NBV* ']].sum()

In [69]:
# mmc_cbiz_report['Method_1'].unique()

In [70]:
# mmc_cbiz_report['Method_2'].unique()

### MMC asset book

In [71]:
mmc_load_asset_book = pd.read_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\MMC_AssetBookImport.csv',
                                 usecols=(['FinanceEnterpriseGroup', 'AssetImport', 'Book', 'RunGroup',
                                          'Active', 'Life', 'LifeRemaining', 'Basis', 'Method', 'InServiceDate', 
                                           'YearPlacedInService', 'Convention','LifeToDateDepreciation',
                                           'LifeToDateDepreciation',
                                          ]))

In [72]:
# mmc_load_asset_book.info()

In [73]:
mmc_load_asset_book['cbiz_index'] = mmc_load_asset_book['AssetImport'].apply(lambda x: int(x.split('_')[1]))
mmc_load_asset_book['cbiz_asset_ids'] = mmc_load_asset_book['AssetImport'].apply(lambda x: (x.split('_')[1]))

In [74]:
mmc_gl_book_filter = (mmc_load_asset_book['Book'] == 'GL') & (mmc_load_asset_book['RunGroup'] == 'MMC_ASSET')
mmc_gl_book_df = mmc_load_asset_book[mmc_gl_book_filter]
# mmc_gl_book_df.info()

In [75]:
woa_gl_book_filter = (mmc_load_asset_book['Book'] == 'GL') & (mmc_load_asset_book['RunGroup'] == 'WOA_ASSET')
woa_gl_book_df = mmc_load_asset_book[woa_gl_book_filter]
# woa_gl_book_df.info()

In [76]:
oth_gl_book_filter = (mmc_load_asset_book['Book'] == 'GL') & (mmc_load_asset_book['RunGroup'] == 'OTH_ASSET')
oth_gl_book_df = mmc_load_asset_book[oth_gl_book_filter]
# oth_gl_book_df.info()

In [77]:
# mmc_load_asset_book[oth_gl_book_filter]

In [78]:
# mmc_gl_book_df.RunGroup.unique()

In [79]:
# mmc_load_asset_book[mmc_load_asset_book['AssetImport'] == 'OTH_534']

In [80]:
# create a new column in me_load_asset_book that contains the 'InServiceDate' elements to datetime objects
mmc_load_asset_book['InServiceDate_dt'] = pd.to_datetime(mmc_load_asset_book['InServiceDate'])

In [81]:
# mmc_load_asset_book.Book.unique()

In [82]:
book_groupby = mmc_load_asset_book.groupby('Book')['Basis'].sum()
# book_groupby

In [83]:
# the asset_book file contains two books and a group of assets where the method is 'nan'
# mmc_load_asset_book.Method.unique()

In [84]:
# mmc_load_asset_book.Method.value_counts(dropna=False)

In [85]:
# Basis per the asset_book load file by depreciation method
# SL method and Nan tie to the G/L Book above
book_method_groupby = mmc_load_asset_book.groupby(['RunGroup', 'Book', 'Method'], dropna=False)['Basis'].sum()
# book_method_groupby

In [86]:
asset_load_book_method_isna = mmc_load_asset_book['Method'].isna()

In [87]:
method_na_basis = mmc_load_asset_book[asset_load_book_method_isna]['Basis'].sum()
# method_na_basis

In [88]:
# mmc_load_asset_book[asset_load_book_method_isna]

In [89]:
# the sum of the basis of the records having a depreciation method and the records with no method
# ties to sum of basis per the asset_book load file (cel 325)

book_method_groupby.sum() + method_na_basis

7218433661.0199995

In [90]:
# the asset_book load file has 3 run groups in it
# mmc_load_asset_book['RunGroup'].unique()

In [91]:
# mmc_load_asset_book['RunGroup'].value_counts()

In [92]:
mmc_load_assets_by_rungroup_and_method = mmc_load_asset_book.groupby(['RunGroup', 'Method'])['Basis'].sum()
# mmc_load_assets_by_rungroup_and_method

In [93]:
# mmc_load_asset_book.groupby(['RunGroup', 'Method']).agg({'Basis':'sum', 'AssetImport': 'count'},)

In [94]:
# mmc_load_asset_book['AssetImport'].count()

In [95]:
# mmc_load_asset_book.shape

In [96]:
# there are 28232 records in the asset_book load file with method of SL
# and RunGroup of 'MMC_ASSET' while there are 30893 
# records in the asset_load and asset_item_load files which contain woa and other assets

# mmc_load_asset_book[(mmc_load_asset_book['Method'] == 'SL') &
#                    (mmc_load_asset_book['RunGroup'] == 'MMC_ASSET')].count()

In [97]:
# there are 28,783 MMC records in the CBIZ report
# ties to number of rows in the CBIZ Montefiore Medical Center_FY20_Asset list_rev2.csv file
# the bulk of the difference should be the records with missing (NaN) method


# mmc_cbiz_report.shape

### mmc assets file load

In [98]:
mmc_asset_load = pd.read_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\MMC_AssetImport_Load.csv',
                            usecols=(['FinanceEnterpriseGroup', 'AssetImport', 'Description',
       'Classification', 'TagNumber', 'AssetGroup', 'AssetCategory',
       'Reference2', 'Company', 'Currency', 'AssetLocation',
       'AssetAccountingUnitGroup', 'AssetAccountGroup']))

In [99]:
# mmc_asset_load.columns

In [100]:
# mmc_asset_load.info()

In [101]:
mmc_asset_load['AssetImport'].nunique()

30387

In [102]:
mmc_asset_load['cbiz_index'] = mmc_asset_load['AssetImport'].apply(lambda x: int(x.split('_')[1]))
mmc_asset_load['cbiz_asset_ids'] = mmc_asset_load['AssetImport'].apply(lambda x: (x.split('_')[1]))

In [103]:
mmc_asset_load['Company'].unique()

array([3000, 3010, 3080, 2100, 3020, 2000, 3060, 3090, 2010, 2020, 2040,
       2030, 2060, 2050], dtype=int64)

In [104]:
# mmc_asset_load_by_company = mmc_asset_load.groupby('Company')
# mmc_asset_load_by_company.get_group(3020)

In [105]:
mhs_2000_assets = mmc_asset_load[mmc_asset_load['Company'] == 2000]
mnr_2010_assets = mmc_asset_load[mmc_asset_load['Company'] == 2010]
mmv_2020_assets = mmc_asset_load[mmc_asset_load['Company'] == 2020]
sec_2030_assets = mmc_asset_load[mmc_asset_load['Company'] == 2030]
mss_holdings_2040_assets = mmc_asset_load[mmc_asset_load['Company'] == 2040]
mvh_holdings_2050_assets = mmc_asset_load[mmc_asset_load['Company'] == 2050]
mva_holdings_2060_assets = mmc_asset_load[mmc_asset_load['Company'] == 2060]
uba_2100_assets = mmc_asset_load[mmc_asset_load['Company'] == 2100]
mmc_3000_assets = mmc_asset_load[mmc_asset_load['Company'] == 3000]
cmo_3010_assets = mmc_asset_load[mmc_asset_load['Company'] == 3010]
hou1_3020_assets = mmc_asset_load[mmc_asset_load['Company'] == 3020]
mhvc_3060_assets = mmc_asset_load[mmc_asset_load['Company'] == 3060]
mmc_corp_3080_assets = mmc_asset_load[mmc_asset_load['Company'] == 3080]
mosholu_3090_assets = mmc_asset_load[mmc_asset_load['Company'] == 3090]

In [106]:
uba_2100_assets

       FinanceEnterpriseGroup AssetImport                              Description Classification TagNumber  AssetGroup AssetCategory Reference2  Company Currency AssetLocation  AssetAccountingUnitGroup AssetAccountGroup  cbiz_index cbiz_asset_ids
4815                        1   MMC_43159         5110923 UBA 148TH ST NEW DEVICES              P       NaN  Conversion             D        10I     2100      USD           NaN                         1               CIP       43159          43159
25685                       1   MMC_46963    5113126 UBA AREA A AND AREA B (OPTION              P       NaN  Conversion             D        15I     2100      USD          387B                         1               CIP       46963          46963
25686                       1   MMC_46964  5115117 UBA-EXECUTIVE OFFICE RENOVATION              P       NaN  Conversion             D        15I     2100      USD          416B                         1               CIP       46964          46964

In [107]:
# mmc_3000_assets.columns

In [108]:
# mmc_cbiz_report.columns

In [109]:
# mmc_cbiz_report.info()

In [110]:
# mmc_3000_assets.columns

In [111]:
# cmo_3010_assets.columns

In [112]:
# mmc_cbiz_report.columns

### These values tie to the 12/31/2020 audit reconciliation
#### Need to tie these numbers back to the Infor trial balances

In [113]:
cbiz_3000_merge = mmc_3000_assets.merge(mmc_cbiz_report,how='inner',
left_on='cbiz_asset_ids', right_on='Asset ID').set_index('cbiz_index')

cbiz_3000_merge[[' Acquired Value* ', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $3,417,017,186.00
 Current Accum*     $2,370,440,614.00
 NBV*               $1,046,576,745.00
dtype: float64

In [114]:
cbiz_asset_and_book_3000_merge = cbiz_3000_merge.merge(mmc_gl_book_df, how='inner',
                                 left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Prev', 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_3000_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $3,417,017,186.00
 Current Accum*     $2,370,440,614.00
 NBV*               $1,046,576,745.00
dtype: float64

In [115]:
# cbiz_asset_and_book_3000_merge.head()

In [116]:
# mmc_cbiz_report.columns

In [117]:
# view all the 3000 assets merged with the cbiz file
# cbiz_3000_merge

In [118]:
cbiz_3010_merge = cmo_3010_assets.merge(mmc_cbiz_report,how='inner',
left_on="cbiz_asset_ids", right_on='Asset ID')

cbiz_3010_merge[[' Acquired Value* ', ' Current Accum* ',  ' NBV* ']].sum()

 Acquired Value*    $30,767,684.00
 Current Accum*     $27,515,315.00
 NBV*                $3,252,369.00
dtype: float64

In [119]:
cbiz_asset_and_book_3010_merge = cbiz_3010_merge.merge(mmc_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Prev', 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_3010_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $30,767,684.00
Basis               $30,767,685.74
 Current Accum*     $27,515,315.00
 NBV*                $3,252,369.00
dtype: float64

In [120]:
cbiz_3080_merge = mmc_corp_3080_assets.merge(mmc_cbiz_report,how='inner',
left_on="cbiz_asset_ids", right_on='Asset ID')

cbiz_3080_merge[[' Acquired Value* ', ' Current Accum* ',  ' NBV* ', ]].sum()

 Acquired Value*    $118,736,253.00
 Current Accum*      $34,838,153.00
 NBV*                $83,898,104.00
dtype: float64

In [121]:

cbiz_asset_and_book_3080_merge = cbiz_3080_merge.merge(mmc_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Prev', 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_3080_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $118,736,253.00
Basis               $118,736,252.21
 Current Accum*      $34,838,153.00
 NBV*                $83,898,104.00
dtype: float64

In [122]:
cbiz_3020_merge = hou1_3020_assets.merge(other_cbiz_report,how='inner',
left_on="cbiz_index", right_on='Asset ID')

cbiz_3020_merge[[' Acquired Value* ', ' Current Accum* ', ' NBV* ', ]].sum()

 Acquired Value*    $8,201,691.61
 Current Accum*     $6,345,633.36
 NBV*               $1,856,058.25
dtype: float64

In [123]:
cbiz_asset_and_book_3020_merge = cbiz_3020_merge.merge(woa_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_3020_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*     $8,201,691.61
Basis               $42,509,653.00
 Current Accum*      $6,345,633.36
 NBV*                $1,856,058.25
dtype: float64

In [124]:
cbiz_3090_merge = mosholu_3090_assets.merge(other_cbiz_report,how='inner',
left_on="cbiz_index", right_on='Asset ID').set_index('cbiz_index')

cbiz_3090_merge[[' Acquired Value* ', ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $7,710,311.00
 Current Accum*     $3,298,307.96
 NBV*               $4,412,003.04
dtype: float64

In [125]:
cbiz_asset_and_book_3090_merge = cbiz_3090_merge.merge(woa_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_3090_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*     $7,710,311.00
Basis               $27,142,693.00
 Current Accum*      $3,298,307.96
 NBV*                $4,412,003.04
dtype: float64

In [126]:
cbiz_3060_merge = mhvc_3060_assets.merge(other_cbiz_report,how='inner',
left_on="cbiz_index", right_on='Asset ID')

cbiz_3060_merge[[' Acquired Value* ', ' Current Accum* ', ' NBV* ', ]].sum()

 Acquired Value*    $23,840.65
 Current Accum*      $6,401.74
 NBV*               $17,438.91
dtype: float64

In [127]:
cbiz_asset_and_book_3060_merge = cbiz_3060_merge.merge(woa_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_3060_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $23,840.65
Basis                $2,250.00
 Current Accum*      $6,401.74
 NBV*               $17,438.91
dtype: float64

In [128]:
cbiz_2000_merge = mhs_2000_assets.merge(other_cbiz_report,how='inner',
left_on="cbiz_index", right_on='Asset ID')

cbiz_2000_merge[[' Acquired Value* ', ' Current Accum* ', ' NBV* ', ]].sum()

 Acquired Value*    $1,008,190.08
 Current Accum*       $105,692.20
 NBV*                 $902,497.88
dtype: float64

In [129]:
cbiz_asset_and_book_2000_merge = cbiz_2000_merge.merge(oth_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_2000_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $1,008,190.08
Basis               $1,008,190.08
 Current Accum*       $105,692.20
 NBV*                 $902,497.88
dtype: float64

In [130]:
cbiz_2010_merge = mnr_2010_assets.merge(woa_cbiz_report,how='inner',
left_on="cbiz_index", right_on='Asset ID')

cbiz_2010_merge[[' Acquired Value* ', ' Current Accum* ', ' NBV* ', ]].sum()

 Acquired Value*    $61,384,280.00
 Current Accum*     $21,131,212.00
 NBV*               $40,253,077.00
dtype: float64

In [131]:
cbiz_asset_and_book_2010_merge = cbiz_2010_merge.merge(woa_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_2010_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $61,384,280.00
Basis               $61,384,279.97
 Current Accum*     $21,131,212.00
 NBV*               $40,253,077.00
dtype: float64

In [132]:
cbiz_2040_merge = mss_holdings_2040_assets.merge(woa_cbiz_report,how='inner',
left_on="cbiz_index", right_on='Asset ID')

cbiz_2040_merge[[' Acquired Value* ', ' Current Accum* ', ' NBV* ', ]].sum()

 Acquired Value*    $38,110,000.00
 Current Accum*      $9,872,083.00
 NBV*               $28,237,917.00
dtype: float64

In [133]:
cbiz_asset_and_book_2040_merge = cbiz_2040_merge.merge(woa_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_2040_merge[[' Acquired Value* ', 'Basis',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $38,110,000.00
Basis               $38,110,000.00
 Current Accum*      $9,872,083.00
 NBV*               $28,237,917.00
dtype: float64

In [134]:
cbiz_2020_merge = mmv_2020_assets.merge(woa_cbiz_report,how='inner',
left_on="cbiz_index", right_on='Asset ID')

cbiz_2020_merge[[' Acquired Value* ', ' Current Accum* ', ' NBV* ', ]].sum()

 Acquired Value*    $19,764,903.00
 Current Accum*     $10,486,388.00
 NBV*                $9,278,519.00
dtype: float64

In [135]:
cbiz_asset_and_book_2020_merge = cbiz_2020_merge.merge(woa_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_2020_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $19,764,903.00
Basis               $19,764,902.67
 Current Accum*     $10,486,388.00
 NBV*                $9,278,519.00
dtype: float64

In [136]:
cbiz_2050_merge = mvh_holdings_2050_assets.merge(woa_cbiz_report,how='inner',
left_on="cbiz_index", right_on='Asset ID')

cbiz_2050_merge[[' Acquired Value* ', ' Current Accum* ', ' NBV* ', ]].sum()

 Acquired Value*    $10,411,827.00
 Current Accum*        $888,512.00
 NBV*                $9,523,315.00
dtype: float64

In [137]:
cbiz_asset_and_book_2050_merge = cbiz_2050_merge.merge(woa_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_2050_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $10,411,827.00
Basis               $10,411,827.00
 Current Accum*        $888,512.00
 NBV*                $9,523,315.00
dtype: float64

In [138]:
cbiz_2030_merge = sec_2030_assets.merge(woa_cbiz_report,how='inner',
left_on="cbiz_index", right_on='Asset ID')

cbiz_2030_merge[[' Acquired Value* ', ' Current Accum* ', ' NBV* ', ]].sum()

 Acquired Value*    $4,854,391.00
 Current Accum*     $1,906,454.00
 NBV*               $2,947,938.00
dtype: float64

In [139]:
cbiz_asset_and_book_2030_merge = cbiz_2030_merge.merge(woa_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_2030_merge[[' Acquired Value* ',  'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $4,854,391.00
Basis               $4,854,390.60
 Current Accum*     $1,906,454.00
 NBV*               $2,947,938.00
dtype: float64

In [140]:
cbiz_2060_merge = mva_holdings_2060_assets.merge(woa_cbiz_report,how='inner',
left_on="cbiz_index", right_on='Asset ID')

cbiz_2060_merge[[' Acquired Value* ', ' Current Accum* ', ' NBV* ', ]].sum()

 Acquired Value*    $5,756,151.00
 Current Accum*     $1,371,313.00
 NBV*               $4,384,838.00
dtype: float64

In [141]:
cbiz_asset_and_book_2060_merge = cbiz_2060_merge.merge(woa_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'Sys No', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                 'Status', 'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_2060_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $5,756,151.00
Basis               $5,756,151.00
 Current Accum*     $1,371,313.00
 NBV*               $4,384,838.00
dtype: float64

In [142]:
# cbiz_asset_and_book_2060_merge.columns

In [143]:
cbiz_2100_merge = uba_2100_assets.merge(mmc_cbiz_report,how='inner',
left_on="cbiz_asset_ids", right_on='Asset ID')

cbiz_2100_merge[[' Acquired Value* ', ' Current Accum* ',  ' NBV* ', ]].sum()

 Acquired Value*    $174,933.00
 Current Accum*      $75,146.00
 NBV*                $99,787.00
dtype: float64

In [144]:
# cbiz_2100_merge.columns

In [145]:
cbiz_asset_and_book_2100_merge = cbiz_2100_merge.merge(mmc_gl_book_df, how='inner',
                                                      left_on='cbiz_index', right_on='cbiz_index').set_index('cbiz_index').\
                                 drop(['FinanceEnterpriseGroup_x', 'AssetImport_y', 'cbiz_asset_ids_x',
                                 'cbiz_asset_ids_y', 'Classification', 'Currency', 'TagNumber', 'AssetGroup',
                                 'AssetAccountingUnitGroup', 'AssetAccountGroup', 'Active', 'Reference2',
                                  'AssetAccountingUnitGroup', 'FinanceEnterpriseGroup_y'], 
                                 axis=1)

cbiz_asset_and_book_2100_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']]

             Acquired Value*        Basis   Current Accum*       NBV*
cbiz_index
43159              $17,374.00  $17,374.00        $17,374.00        NaN
46963             $132,009.00 $132,009.00        $48,404.00 $83,605.00
46964              $25,550.00  $25,550.00         $9,368.00 $16,182.00

### Load the FSM asset register for all companies

In [146]:
asset_download_all_entities = pd.read_csv(r"C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Asset Download All Entities 113021.csv",)

In [147]:
asset_download_all_entities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135421 entries, 0 to 135420
Data columns (total 16 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   FinanceEnterpriseGroup        135421 non-null  int64
 1   Asset                         135421 non-null  int64
 2   Reference1                    135421 non-null  object
 3   Description                   135421 non-null  object
 4   Company                       135421 non-null  int64
 5   ItemTotalBaseCost             135421 non-null  float64
 6   ItemTotalTransactionCost      135421 non-null  float64
 7   TotalItemsBaseCost            135421 non-null  float64
 8   PostingBookBasis              135421 non-null  float64
 9   PostingBookBookValue          135421 non-null  float64
 10  TotalAccumulatedDepreciation  135421 non-null  float64
 11  DepreciationToAssetCost       135421 non-null  float64
 12  AssetBookValue                135421 non-null  float64
 13  PostingBookValue              135421 non-null  float64
 14  RemainingDepreciation         135421 non-null  float64
 15  LTDDepreciationExpense        135421 non-null  int64
dtypes: float64(10), int64(4), object(2)
memory usage: 16.5+ MB

In [148]:
# look for NaN values in the company column
asset_download_all_entities[asset_download_all_entities['Company'].isna()]

Empty DataFrame
Columns: [FinanceEnterpriseGroup, Asset, Reference1, Description, Company, ItemTotalBaseCost, ItemTotalTransactionCost, TotalItemsBaseCost, PostingBookBasis, PostingBookBookValue, TotalAccumulatedDepreciation, DepreciationToAssetCost, AssetBookValue, PostingBookValue, RemainingDepreciation, LTDDepreciationExpense]
Index: []

In [149]:
# replace 'NaN' in company column for a record
# asset_download_all_entities.loc[126381, 'Company'] = ''

In [150]:
# cast the company column as a string and strip out the excess digits
asset_download_all_entities['Company'] = asset_download_all_entities['Company'].astype('str').apply(lambda x: x[:4])

In [151]:
# group the FSM asset register by company
fsm_asset_register_groupby_company = asset_download_all_entities.groupby('Company')

In [152]:
# look at the asset register company groups keys
fsm_asset_register_groupby_company.groups.keys()

dict_keys(['2000', '2010', '2020', '2030', '2040', '2050', '2060', '2100', '2200', '2300', '2400', '2600', '3000', '3010', '3020', '3060', '3080', '3090'])

### Find 3080 records that are missing from the FSM asset register

In [153]:
assets_group_3080 = fsm_asset_register_groupby_company.get_group('3080')

In [154]:
assets_group_3080.columns

Index(['FinanceEnterpriseGroup', 'Asset', 'Reference1', 'Description',
       'Company', 'ItemTotalBaseCost', 'ItemTotalTransactionCost',
       'TotalItemsBaseCost', 'PostingBookBasis', 'PostingBookBookValue',
       'TotalAccumulatedDepreciation', 'DepreciationToAssetCost',
       'AssetBookValue', 'PostingBookValue', 'RemainingDepreciation',
       'LTDDepreciationExpense'],
      dtype='object')

In [155]:
cbiz_asset_and_book_3080_merge.columns

Index(['AssetImport_x', 'Description', 'AssetCategory', 'Company',
       'AssetLocation', 'Asset ID', 'Location Desc', 'Account Desc.',
       'Quantity', 'Acquisition Date', ' Acquired Value* ', 'Equip',
       'Method_1', 'In Svc Date*', 'Est Life*', ' Current YTD* ',
       ' Current Accum* ', ' NBV* ', 'Depr Method*', 'Method_2',
       'In Svc Date*.1', 'Est Life*.1', ' Current YTD* .1',
       ' Current Accum* .1', ' NBV* .1', 'Depr Method*.1', 'life_years',
       'life_years_2', 'Book', 'RunGroup', 'Life', 'LifeRemaining', 'Basis',
       'Method', 'InServiceDate', 'YearPlacedInService', 'Convention',
       'LifeToDateDepreciation'],
      dtype='object')

In [156]:
assets_group_3080.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 28120 to 28264
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   FinanceEnterpriseGroup        145 non-null    int64
 1   Asset                         145 non-null    int64
 2   Reference1                    145 non-null    object
 3   Description                   145 non-null    object
 4   Company                       145 non-null    object
 5   ItemTotalBaseCost             145 non-null    float64
 6   ItemTotalTransactionCost      145 non-null    float64
 7   TotalItemsBaseCost            145 non-null    float64
 8   PostingBookBasis              145 non-null    float64
 9   PostingBookBookValue          145 non-null    float64
 10  TotalAccumulatedDepreciation  145 non-null    float64
 11  DepreciationToAssetCost       145 non-null    float64
 12  AssetBookValue                145 non-null    float64
 13  PostingBookValue              145 non-null    float64
 14  RemainingDepreciation         145 non-null    float64
 15  LTDDepreciationExpense        145 non-null    int64
dtypes: float64(10), int64(3), object(3)
memory usage: 19.3+ KB

In [157]:
assets_group_3080.head()

       FinanceEnterpriseGroup  Asset Reference1                         Description Company  ItemTotalBaseCost  ItemTotalTransactionCost  TotalItemsBaseCost  PostingBookBasis  PostingBookBookValue  TotalAccumulatedDepreciation  DepreciationToAssetCost  AssetBookValue  PostingBookValue  RemainingDepreciation  LTDDepreciationExpense
28120                       1  28122  MMC_38285             1635 POPLAR ACQUISITION    3080        $565,718.00               $565,718.00         $565,718.00       $565,718.00           $565,718.00                         $0.00                    $0.00     $565,718.00       $565,718.00                  $0.00                       0
28121                       1  28123  MMC_38286        1516 JARRETT AVE ACQUISITION    3080        $250,480.00               $250,480.00         $250,480.00       $250,480.00           $250,480.00                         $0.00                    $0.00     $250,480.00       $250,480.00                  $0.00                       0
28122                       1  28124  MMC_38287  1621-25 EASTCHESTER RD ACQUISITION    3080        $577,647.00               $577,647.00         $577,647.00       $577,647.00           $577,647.00                         $0.00                    $0.00     $577,647.00       $577,647.00                  $0.00                       0
28123                       1  28125  MMC_38288     1627 EASTCHESTER RD ACQUISITION    3080        $344,140.00               $344,140.00         $344,140.00       $344,140.00           $344,140.00                         $0.00                    $0.00     $344,140.00       $344,140.00                  $0.00                       0
28124                       1  28126  MMC_38289     1627 EASTCHESTER RD ACQUISITION    3080        $160,513.00               $160,513.00         $160,513.00       $160,513.00           $160,513.00                         $0.00                    $0.00     $160,513.00       $160,513.00                  $0.00                       0

In [158]:
cbiz_asset_and_book_3080_merge.head()

           AssetImport_x                      Description AssetCategory  Company AssetLocation Asset ID Location Desc              Account Desc.  Quantity Acquisition Date   Acquired Value*  Equip Method_1 In Svc Date*      Est Life*   Current YTD*    Current Accum*       NBV*  Depr Method* Method_2 In Svc Date*.1 Est Life*.1   Current YTD* .1   Current Accum* .1    NBV* .1 Depr Method*.1  life_years  life_years_2 Book   RunGroup  Life  LifeRemaining      Basis Method  InServiceDate  YearPlacedInService Convention  LifeToDateDepreciation
cbiz_index
48386          MMC_48386  2000304  MOSES GUNHILL MRI 2013             D     3080           NaN    48386    3-MMC CORP         512-MME-CENTERWIDE         1       2018-07-01          $5,012.00   NaN    $0.00   2018-07-01  05 yrs 00 mos       $1,002.00         $2,506.00  $2,506.00           SH    $0.00     2018-07-01  05yrs00mos           $962.00           $3,568.00  $1,444.00          DH200           5             5   GL  MMC_ASSET    60         $30.00  $5,012.00     SL       20180701                  NaN         HY               $2,505.80
48383          MMC_48383  2000304  MOSES GUNHILL MRI 2013             D     3080          050B    48383    3-MMC CORP  215-BUILDINGS-NEW CAPITAL         1       2018-07-01         $36,810.00   NaN    $0.00   2018-07-01  15 yrs 00 mos       $2,454.00         $6,135.00 $30,675.00           SH    $0.00     2018-07-01  15yrs00mos         $3,970.00          $11,005.00 $25,805.00          DH200          15            15   GL  MMC_ASSET   180        $150.00 $36,810.00     SL       20180701                  NaN         HY               $6,135.00
48384          MMC_48384  2000304  MOSES GUNHILL MRI 2013             D     3080          050B    48384    3-MMC CORP            223-NEW CAPITAL         1       2018-07-01          $2,440.00   NaN    $0.00   2018-07-01  15 yrs 00 mos         $163.00           $406.00  $2,034.00           SH    $0.00     2018-07-01  15yrs00mos           $263.00             $730.00  $1,710.00          DH200          15            15   GL  MMC_ASSET   180        $150.00  $2,440.00     SL       20180701                  NaN         HY                 $406.34
48385          MMC_48385  2000304  MOSES GUNHILL MRI 2013             D     3080          050B    48385    3-MMC CORP            223-NEW CAPITAL         1       2018-07-01          $5,525.00   NaN    $0.00   2018-07-01  15 yrs 00 mos         $368.00           $921.00  $4,604.00           SH    $0.00     2018-07-01  15yrs00mos           $596.00           $1,652.00  $3,873.00          DH200          15            15   GL  MMC_ASSET   180        $150.00  $5,525.00     SL       20180701                  NaN         HY                 $920.66
48067          MMC_48067                     CART FREIGHT             D     3080           NaN    48067    3-MMC CORP         512-MME-CENTERWIDE         1       2017-07-01         $35,878.00   NaN    $0.00   2017-07-01  10 yrs 00 mos       $3,588.00        $12,558.00 $23,320.00           SH    $0.00     2017-07-01  10yrs00mos         $4,133.00          $19,346.00 $16,532.00          DH200          10            10   GL  MMC_ASSET   120         $78.00 $35,878.00     SL       20170701                  NaN         HY              $12,557.60

In [159]:
# cbiz_asset_and_book_3080_merge['AssetImport_x'] = cbiz_asset_and_book_3080_merge['AssetImport_x'].apply(lambda x: x.strip())
# assets_group_3080['Reference1'] = assets_group_3080['Reference1'].apply(lambda x: x.strip())

In [160]:
# assets_group_3080.head()

In [161]:
assets_group_3080[['ItemTotalBaseCost', 'ItemTotalTransactionCost', 'TotalItemsBaseCost',
                   'PostingBookBasis','PostingBookBookValue', 'TotalAccumulatedDepreciation', ]].sum()

ItemTotalBaseCost              $118,727,390.78
ItemTotalTransactionCost       $118,727,390.78
TotalItemsBaseCost             $118,727,390.78
PostingBookBasis               $118,736,252.21
PostingBookBookValue            $83,898,101.12
TotalAccumulatedDepreciation    $34,838,151.09
dtype: float64

In [162]:
# asset_download_3080['Reference1'] = asset_download_3080['Reference1'].apply(lambda x: x.strip())

In [163]:
# asset_download_3080['ItemTotalBaseCost'] = asset_download_3080['ItemTotalBaseCost'].apply(lambda x: float(x))

In [164]:
# asset_download_3080.head()

In [165]:
# asset_download_3080.info()

In [166]:
# add ther merge index column to the company asset group
assets_group_3080['merge_index'] = assets_group_3080['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-166-bd43fc3cbe47>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_3080['merge_index'] = assets_group_3080['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [167]:
assets_group_3080 = assets_group_3080.set_index('merge_index')

In [168]:
assets_group_3080['cbiz_index'] = assets_group_3080['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [169]:
cbiz_asset_and_book_3080_merge = cbiz_asset_and_book_3080_merge.sort_index()

In [170]:
cbiz_asset_and_book_3080_merge.index

Int64Index([38285, 38286, 38287, 38288, 38289, 38290, 38291, 38292, 38293,
            38294,
            ...
            49622, 49623, 49624, 49625, 49626, 49627, 49628, 49629, 49630,
            49631],
           dtype='int64', name='cbiz_index', length=145)

In [171]:
assets_group_3080.index

Int64Index([38285, 38286, 38287, 38288, 38289, 38290, 38291, 38292, 38293,
            38294,
            ...
            49622, 49623, 49624, 49625, 49626, 49627, 49628, 49629, 49630,
            49631],
           dtype='int64', name='merge_index', length=145)

In [172]:
# assets_group_3080

In [173]:
# isin() method returns a boolean array
# cbiz_asset_and_book_3080_merge.index.isin(assets_group_3080.index)

In [174]:
# uset the boolean array as a filter in the df returns a df with matching index where array is True
cbiz_infor_3080_matched = cbiz_asset_and_book_3080_merge[cbiz_asset_and_book_3080_merge.index.isin(assets_group_3080.index)]

In [175]:
# use the '~' with .isin method to get notin results in the returned df
missing_assets_3080 = cbiz_asset_and_book_3080_merge[~cbiz_asset_and_book_3080_merge.index.isin(assets_group_3080.index)]
# missing_assets_3080

In [176]:
missing_3080__records_acquired_value = missing_assets_3080[' Acquired Value* '].sum()
missing_3080__records_acquired_value

0.0

In [177]:
# assets_group_3080.info()

In [178]:
asset_register_3080_cost = assets_group_3080['ItemTotalBaseCost'].apply(lambda x: float(x)).sum()

In [179]:
# comparing sum of missing records and total of records in FSM asset register indicates
# that there is still missing cost; next step is to explore the cost column of the matched
# records to see if there are differences in the asset register and the cbiz_load merged file
sum_asset_register_and_missing_records_cost = asset_register_3080_cost + missing_3080__records_acquired_value
sum_asset_register_and_missing_records_cost

118727390.78

In [180]:
cbiz_asset_and_book_3080_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $118,736,253.00
Basis               $118,736,252.21
 Current Accum*      $34,838,153.00
 NBV*                $83,898,104.00
dtype: float64

In [181]:
# assets_group_3080.info()

In [182]:
# create a df from fsm asset group that contains the fsm assigned asset number
fsm_asset_number = assets_group_3080[['Asset', 'cbiz_index']]
fsm_asset_number

             Asset  cbiz_index
merge_index
38285        28122       38285
38286        28123       38286
38287        28124       38287
38288        28125       38288
38289        28126       38289
38290        28127       38290
38291        28128       38291
38292        28129       38292
38293        28130       38293
38294        28131       38294
38295        28132       38295
38296        28133       38296
38297        28134       38297
38298        28135       38298
39052        28136       39052
39053        28137       39053
39054        28138       39054
39085        28139       39085
39086        28140       39086
39087        28141       39087
39088        28142       39088
39089        28143       39089
39090        28144       39090
39091        28145       39091
39092        28146       39092
39094        28147       39094
39857        28148       39857
39858        28149       39858
39859        28150       39859
39860        28151       39860
39861        28152       39861
39862        28153       39862
39863        28154       39863
39864        28155       39864
41268        28156       41268
41333        28157       41333
41334        28158       41334
42127        28159       42127
42128        28160       42128
42134        28161       42134
43080        28162       43080
43081        28163       43081
43162        28164       43162
43163        28165       43163
43164        28166       43164
43165        28167       43165
43166        28168       43166
43167        28169       43167
43168        28170       43168
43826        28171       43826
43856        28172       43856
43857        28173       43857
43858        28174       43858
44629        28175       44629
44630        28176       44630
44631        28177       44631
44632        28178       44632
44658        28179       44658
44659        28180       44659
44660        28181       44660
45371        28182       45371
45373        28183       45373
45374        28184       45374
45443        28185       45443
45444        28186       45444
45445        28187       45445
45446        28188       45446
45447        28189       45447
45448        28190       45448
46053        28191       46053
46054        28192       46054
46742        28193       46742
46743        28194       46743
46744        28195       46744
46745        28196       46745
46746        28197       46746
46747        28198       46747
46748        28199       46748
47396        28200       47396
47397        28201       47397
47398        28202       47398
48041        28203       48041
48042        28204       48042
48043        28205       48043
48044        28206       48044
48045        28207       48045
48046        28208       48046
48047        28209       48047
48048        28210       48048
48049        28211       48049
48050        28212       48050
48051        28213       48051
48052        28214       48052
48053        28215       48053
48054        28216       48054
48055        28217       48055
48056        28218       48056
48057        28219       48057
48058        28220       48058
48059        28221       48059
48060        28222       48060
48061        28223       48061
48062        28224       48062
48063        28225       48063
48064        28226       48064
48065        28227       48065
48066        28228       48066
48067        28229       48067
48068        28230       48068
48069        28231       48069
48070        28232       48070
48084        28233       48084
48085        28234       48085
48086        28235       48086
48087        28236       48087
48383        28237       48383
48384        28238       48384
48385        28239       48385
48386        28240       48386
49598        28241       49598
49599        28242       49599
49600        28243       49600
49601        28244       49601
49602        28245       49602
49603        28246       49603
49604        28247       49604
49605        28248       49605
49606        28249       49606
49607        28250       49607
49608        28251       49608
49609        28252       49609
49610        28253       49610
49611        28254       49611
49612        28255       49612
49613        28256       49613
49622        28257       49622
49623        28258       49623
49624        28259       49624
49625        28260       49625
49626        28261       49626
49627        28262       49627
49628        28263       49628
49629        28264       49629
49630        28265       49630
49631        28266       49631

In [183]:
# cbiz_asset_and_book_3080_merge.head()

### Find 3080 records that exist in the fsm asset register but have incorrect cost values

In [184]:
cbiz_infor_3080_matched[' Acquired Value* '].sum()

118736253.0

In [185]:
assets_group_3080['ItemTotalBaseCost'].sum()

118727390.78

In [186]:
cost_for_asset_register_records_with_errors_3080 = cbiz_infor_3080_matched[' Acquired Value* '].sum() - assets_group_3080['ItemTotalBaseCost'].sum()
cost_for_asset_register_records_with_errors_3080

8862.219999998808

In [187]:
cbiz_infor_3080_matched[' Current Accum* '].sum()

34838153.0

In [188]:
assets_group_3080['TotalAccumulatedDepreciation'].sum()

34838151.089999996

In [189]:
# the sum of the cost the records missing from FSM asset register (includes asset register total cost) and difference in those records in the asset register
# that have a different cost than the cbiz_asset_and_book_3080_merge file ties to the cost per the 
# cbiz_asset_and_book_3080_merge file below
sum_asset_register_and_missing_records_cost + cost_for_asset_register_records_with_errors_3080

118736253.0

In [190]:
cbiz_asset_and_book_3080_merge[[' Acquired Value* ', ' Current Accum* ',  ' NBV* ', ]].sum()

 Acquired Value*    $118,736,253.00
 Current Accum*      $34,838,153.00
 NBV*                $83,898,104.00
dtype: float64

In [191]:
# asset_download_3080.info()

In [192]:
# cbiz_infor_3080_matched.columns

In [193]:
cbiz_infor_3080_cost_diffs = cbiz_infor_3080_matched[' Acquired Value* '].compare(assets_group_3080['ItemTotalBaseCost'])
cbiz_infor_3080_cost_diffs.rename(columns={'self': 'load file', 'other': 'FSM'}, inplace=True)
cbiz_infor_3080_cost_diffs.rename_axis('Load ID', inplace=True)

In [194]:
# compare accumulated depreciation from both files; ties to cbiz_asset_and_book_3080_merge

missing_assets_3080[' Current Accum* '].sum() + assets_group_3080['TotalAccumulatedDepreciation'].sum()

34838151.089999996

In [195]:
cbiz_asset_and_book_3080_merge[[' Acquired Value* ', ' Current Accum* ',  ' NBV* ', ]].sum()

 Acquired Value*    $118,736,253.00
 Current Accum*      $34,838,153.00
 NBV*                $83,898,104.00
dtype: float64

In [196]:
# cbiz_asset_and_book_3080_merge.columns

In [197]:
# cbiz_asset_and_book_3080_merge = cbiz_asset_and_book_3080_merge.merge(fsm_asset_number, how='left',
#                                             left_on='Asset ID', right_on="cbiz_index")

In [198]:
# cbiz_asset_and_book_3080_merge.head()

In [199]:
cbiz_asset_and_book_3080_merge['Asset ID'] = cbiz_asset_and_book_3080_merge['Asset ID'].astype('int')

In [200]:
# cbiz_asset_and_book_3080_merge.info()

In [201]:
cbiz_asset_and_book_3080_merge[' Acquired Value* '].sum()

118736253.0

#### save the files to drive

In [202]:
cbiz_asset_and_book_3080_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3080\sit3_cbiz_asset_and_book_3080_merge.csv'
)

In [203]:
assets_group_3080.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3080\sit3_fsm_asset_register_3080.csv'
)

In [204]:
missing_assets_3080.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3080\sit3_assets_missing_from_register_3080.csv'
)

In [205]:
cbiz_infor_3080_cost_diffs.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3080\sit3_assets_with_wrong_cost_3080.csv'
)

### Find 3000 records that are missing from the FSM asset register

In [206]:
# asset_download_mmc = pd.read_csv(r'C:\Users\Michael\OneDrive\Documents\Work\conversion\august_2021\Asset Download MMC.csv',)

In [207]:
# asset_download_mmc.info()

In [208]:
# asset_download_mmc['Company'] = asset_download_mmc['Company'].astype(str).apply(lambda x: x[:4])

In [209]:
# asset_download_mmc['Company'].unique()

In [210]:
# mmc_asset_register_groupby_company = asset_download_mmc.groupby('Company')

In [211]:
assets_group_3000 = fsm_asset_register_groupby_company.get_group('3000')

In [212]:
assets_group_3000['merge_index'] = assets_group_3000['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-212-ef59286247ba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_3000['merge_index'] = assets_group_3000['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [213]:
assets_group_3000['cbiz_index'] = assets_group_3000['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-213-258da68ddb03>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_3000['cbiz_index'] = assets_group_3000['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [214]:
# mmc_group_3000.columns

In [215]:
assets_group_3000 = assets_group_3000.set_index('merge_index',)

In [216]:
assets_group_3000 = assets_group_3000.sort_index()

In [217]:
# mmc_group_3000

In [218]:
cbiz_asset_and_book_3000_merge = cbiz_asset_and_book_3000_merge.sort_index()
# cbiz_asset_and_book_3000_merge

In [219]:
# count the number of unique records in the cbiz merge file
cbiz_asset_and_book_3000_merge.index.nunique()

27173

In [220]:
# count the number of unique files in the fsm 3000 asset register
assets_group_3000.index.nunique()

27173

In [221]:
# create a df of the cbiz and fsm matched records
cbiz_infor_3000_matched = cbiz_asset_and_book_3000_merge[cbiz_asset_and_book_3000_merge.index.isin(assets_group_3000.index)]
# cbiz_infor_3000_matched

In [222]:
# create a file of the non-matching cbiz and fsm recordss
missing_3000_asset_register_records = cbiz_asset_and_book_3000_merge[~cbiz_asset_and_book_3000_merge.index.isin(assets_group_3000.index)]
missing_3000_asset_register_records

Empty DataFrame
Columns: [AssetImport_x, Description, AssetCategory, Company, AssetLocation, Asset ID, Location Desc, Account Desc., Quantity, Acquisition Date,  Acquired Value* , Equip, Method_1, In Svc Date*, Est Life*,  Current YTD* ,  Current Accum* ,  NBV* , Depr Method*, Method_2, In Svc Date*.1, Est Life*.1,  Current YTD* .1,  Current Accum* .1,  NBV* .1, Depr Method*.1, life_years, life_years_2, Book, RunGroup, Life, LifeRemaining, Basis, Method, InServiceDate, YearPlacedInService, Convention, LifeToDateDepreciation]
Index: []

In [223]:
# examine the numbers for the missing records
missing_3000_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

In [224]:
# create a variable for the cost of the missing records
missing_3000_asset_register_records_cost = missing_3000_asset_register_records[' Acquired Value* '].sum()
missing_3000_asset_register_records_cost

0.0

In [225]:
assets_group_3000.columns

Index(['FinanceEnterpriseGroup', 'Asset', 'Reference1', 'Description',
       'Company', 'ItemTotalBaseCost', 'ItemTotalTransactionCost',
       'TotalItemsBaseCost', 'PostingBookBasis', 'PostingBookBookValue',
       'TotalAccumulatedDepreciation', 'DepreciationToAssetCost',
       'AssetBookValue', 'PostingBookValue', 'RemainingDepreciation',
       'LTDDepreciationExpense', 'cbiz_index'],
      dtype='object')

In [226]:
assets_group_3000[['TotalItemsBaseCost', 'PostingBookBasis', 'ItemTotalBaseCost' ]].sum()

TotalItemsBaseCost   $3,265,908,123.17
PostingBookBasis     $3,417,017,171.77
ItemTotalBaseCost    $3,265,908,123.17
dtype: float64

In [227]:
# create a variable for the total fsm asset register cost for 3000
asset_register_3000_cost = assets_group_3000['PostingBookBasis'].sum()
asset_register_3000_cost

3417017171.77

In [228]:
# total the 3000 asset register cost and the missing records cost
missing_3000_asset_register_records_cost + asset_register_3000_cost

3417017171.77

In [229]:
# there is still a difference in the cbiz 3000 cost so there must be existing records
# that have an incorrect costs value; examine those differences in the next section
cbiz_asset_and_book_3000_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $3,417,017,186.00
 Current Accum*     $2,370,440,614.00
 NBV*               $1,046,576,745.00
dtype: float64

In [230]:
cbiz_asset_and_book_3000_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3000\sit3_cbiz_asset_and_book_3000_merge.csv'
)

In [231]:
assets_group_3000.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3000\sit3_fsm_asset_register_3000.csv'
)

In [232]:
missing_3000_asset_register_records.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3000\sit3_assets_missing_from_register_3000.csv'
)

### Find 3000 records that exist in the fsm asset register but have incorrect cost values

In [233]:
# cbiz_infor_3000_matched.info()

In [234]:
# mmc_group_3000.info()

In [235]:
# use df.compare() method to determine records where cost doesn't match in merged file and
# FSM asset register
cbiz_infor_3000_cost_diffs = cbiz_infor_3000_matched[' Acquired Value* '].compare(assets_group_3000['PostingBookBasis'])
# cbiz_infor_3000_cost_diffs

In [236]:
cbiz_infor_3000_cost_diffs[['self', 'other']].sum()

self    $194,739,524.00
other   $194,739,509.77
dtype: float64

In [237]:
asset_register_3000_records_in_error_cost = cbiz_infor_3000_cost_diffs['self'].sum() - cbiz_infor_3000_cost_diffs['other'].sum()
asset_register_3000_records_in_error_cost

14.229999989271164

In [238]:
# sum of the cost from FSM 3000 asset register, missing records (6008) cost, and asset register records
# with incorrect cost field ties to the cost of the cbiz_asset_and_book_3000_merge file
missing_3000_asset_register_records_cost + asset_register_3000_cost + asset_register_3000_records_in_error_cost

3417017186.0

In [239]:
cbiz_asset_and_book_3000_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $3,417,017,186.00
 Current Accum*     $2,370,440,614.00
 NBV*               $1,046,576,745.00
dtype: float64

In [240]:
cbiz_infor_3000_cost_diffs = cbiz_infor_3000_matched[' Acquired Value* '].compare(assets_group_3000['PostingBookBasis'])
cbiz_infor_3000_cost_diffs.rename(columns={'self': 'load file', 'other': 'FSM'}, inplace=True)
cbiz_infor_3000_cost_diffs.rename_axis('Load ID', inplace=True)

In [241]:
cbiz_infor_3000_cost_diffs.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3000\sit3_assets_with_wrong_cost_3000.csv'
)

### Find 3090 records that are missing from the FSM asset register

In [242]:
assets_group_3090 = fsm_asset_register_groupby_company.get_group('3090')

In [243]:
assets_group_3090['merge_index'] = assets_group_3090['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-243-f4f3ae7feb03>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_3090['merge_index'] = assets_group_3090['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [244]:
assets_group_3090['cbiz_index'] = assets_group_3090['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-244-ff8984253236>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_3090['cbiz_index'] = assets_group_3090['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [245]:
# mmc_group_3090.columns

In [246]:
assets_group_3090 = assets_group_3090.set_index('merge_index',)

In [247]:
assets_group_3090 = assets_group_3090.sort_index()

In [248]:
# mmc_group_3090

In [249]:
cbiz_asset_and_book_3090_merge = cbiz_asset_and_book_3090_merge.sort_index()
# cbiz_asset_and_book_3090_merge

In [250]:
print(assets_group_3090.index.nunique())
print(cbiz_asset_and_book_3090_merge.index.nunique())

268
268

In [251]:
cbiz_infor_3090_matched = cbiz_asset_and_book_3090_merge[cbiz_asset_and_book_3090_merge.index.isin(assets_group_3090.index)]
# cbiz_infor_3090_matched

In [252]:
missing_3090_asset_register_records = cbiz_asset_and_book_3090_merge[~cbiz_asset_and_book_3090_merge.index.isin(assets_group_3090.index)]
# missing_3090_asset_register_records

In [253]:
missing_3090_asset_register_records.shape

(0, 40)

In [254]:
missing_3090_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

In [255]:
missing_3090_asset_register_records_cost = missing_3090_asset_register_records[' Acquired Value* '].sum()
missing_3090_asset_register_records_cost

0.0

In [256]:
asset_register_3090_cost = assets_group_3090['PostingBookBasis'].sum()
asset_register_3090_cost

7710311.000000001

In [257]:
# the entire difference in the asset register adn the load file is due to the missing records
missing_3090_asset_register_records_cost + asset_register_3090_cost

7710311.000000001

In [258]:
cbiz_asset_and_book_3090_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $7,710,311.00
 Current Accum*     $3,298,307.96
 NBV*               $4,412,003.04
dtype: float64

In [259]:
# cbiz_infor_3090_matched.info()

### Find 3090 records that exist in the fsm asset register but have incorrect cost values

In [260]:
# there are no records in the 3090 asset register with incorrect cost
cbiz_infor_3090_cost_diffs = cbiz_infor_3090_matched[' Acquired Value* '].compare(assets_group_3090['PostingBookBasis'])
cbiz_infor_3090_cost_diffs

Empty DataFrame
Columns: [self, other]
Index: []

In [261]:
cbiz_asset_and_book_3090_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3090\sit3_cbiz_asset_and_book_3090_merge.csv'
)

assets_group_3090.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3090\sit3_fsm_asset_register_3090.csv'
)

missing_3090_asset_register_records.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3090\sit3_assets_missing_from_register_3090.csv'
)

cbiz_infor_3090_cost_diffs.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3090\sit3_assets_with_wrong_cost_3090.csv'
)

### Find 3060 records that are missing from the FSM asset register

In [262]:
assets_group_3060 = fsm_asset_register_groupby_company.get_group('3060')

In [263]:
assets_group_3060['merge_index'] = assets_group_3060['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-263-24f6afdebcc8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_3060['merge_index'] = assets_group_3060['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [264]:
assets_group_3060['cbiz_index'] = assets_group_3060['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-264-40a1fed32e68>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_3060['cbiz_index'] = assets_group_3060['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [265]:
assets_group_3060 = assets_group_3060.set_index('merge_index',)

In [266]:
assets_group_3060 = assets_group_3060.sort_index()

In [267]:
cbiz_asset_and_book_3060_merge = cbiz_asset_and_book_3060_merge.sort_index()
# cbiz_asset_and_book_3060_merge

In [268]:
print(assets_group_3060.index.nunique())
print(cbiz_asset_and_book_3060_merge.index.nunique())

3
3

In [269]:
cbiz_infor_3060_matched = cbiz_asset_and_book_3060_merge[cbiz_asset_and_book_3060_merge.index.isin(assets_group_3060.index)]
# cbiz_infor_3060_matched

In [270]:
# there are no missing records for 3060
missing_3060_asset_register_records = cbiz_asset_and_book_3060_merge[~cbiz_asset_and_book_3060_merge.index.isin(assets_group_3060.index)]
# missing_3060_asset_register_records

In [271]:
missing_3060_asset_register_records.shape

(0, 40)

In [272]:
missing_3060_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

In [273]:
asset_register_3060_cost = assets_group_3060['PostingBookBasis'].sum()
asset_register_3060_cost

23840.65

In [274]:
cbiz_asset_and_book_3060_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $23,840.65
 Current Accum*      $6,401.74
 NBV*               $17,438.91
dtype: float64

In [275]:
cbiz_asset_and_book_3060_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3060\sit3_cbiz_asset_and_book_3060_merge.csv'
)

assets_group_3060.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3060\sit3_fsm_asset_register_3060.csv'
)

missing_3060_asset_register_records.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3060\sit3_assets_missing_from_register_3060.csv'
)

### Find 2000 records that are missing from the FSM asset register

In [276]:
assets_group_2000 = fsm_asset_register_groupby_company.get_group('2000')

In [277]:
assets_group_2000['merge_index'] = assets_group_2000['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-277-f7c44cc7a4a7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2000['merge_index'] = assets_group_2000['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [278]:
assets_group_2000['cbiz_index'] = assets_group_2000['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-278-919ec3115047>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2000['cbiz_index'] = assets_group_2000['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [279]:
assets_group_2000 = assets_group_2000.set_index('merge_index',)

In [280]:
assets_group_2000 = assets_group_2000.sort_index()

In [281]:
cbiz_asset_and_book_2000_merge = cbiz_asset_and_book_2000_merge.sort_index()
# cbiz_asset_and_book_2000_merge

In [282]:
print(assets_group_2000.index.nunique())
print(cbiz_asset_and_book_2000_merge.index.nunique())

4
4

In [283]:
cbiz_infor_2000_matched = cbiz_asset_and_book_2000_merge[cbiz_asset_and_book_2000_merge.index.isin(assets_group_2000.index)]
# cbiz_infor_2000_matched

In [284]:
missing_2000_asset_register_records = cbiz_asset_and_book_2000_merge[~cbiz_asset_and_book_2000_merge.index.isin(assets_group_2000.index)]
# missing_2000_asset_register_records

In [285]:
missing_2000_asset_register_records.shape

(0, 40)

In [286]:
missing_2000_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

In [287]:
# mmc_group_2000.columns

In [288]:
# there are erroneous cost records in the 2000 asset register but accum. dep. is correct
asset_register_2000_cost = assets_group_2000[['PostingBookBasis', 'TotalAccumulatedDepreciation']].sum()
asset_register_2000_cost

PostingBookBasis               $1,008,190.08
TotalAccumulatedDepreciation     $105,692.20
dtype: float64

In [289]:
missing_2000_asset_register_records = cbiz_asset_and_book_2000_merge[~cbiz_asset_and_book_2000_merge.index.isin(assets_group_2000.index)]
# missing_2000_asset_register_records

### Find 2000 records that exist in the fsm asset register but have incorrect cost values

In [290]:
cbiz_infor_2000_cost_diffs = cbiz_infor_2000_matched[' Acquired Value* '].compare(assets_group_2000['PostingBookBasis'])
# cbiz_infor_2000_cost_diffs

In [291]:
cbiz_infor_2000_cost_diffs[['self', 'other']].sum()

self    $0.00
other   $0.00
dtype: float64

In [292]:
asset_register_2000_records_in_error_cost = cbiz_infor_2000_cost_diffs['self'].sum() - cbiz_infor_2000_cost_diffs['other'].sum()

In [293]:
# sum of the cost from FSM 3000 asset register, missing records (6008) cost, and asset register records
# with incorrect cost field ties to the cost of the cbiz_asset_and_book_3000_merge file
asset_register_2000_cost + asset_register_2000_records_in_error_cost

PostingBookBasis               $1,008,190.08
TotalAccumulatedDepreciation     $105,692.20
dtype: float64

In [294]:
cbiz_asset_and_book_2000_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $1,008,190.08
 Current Accum*       $105,692.20
 NBV*                 $902,497.88
dtype: float64

In [295]:
cbiz_infor_2000_cost_diffs = cbiz_infor_2000_matched[' Acquired Value* '].compare(assets_group_2000['PostingBookBasis'])
cbiz_infor_2000_cost_diffs.rename(columns={'self': 'load file', 'other': 'FSM'}, inplace=True)
cbiz_infor_2000_cost_diffs.rename_axis('Load ID', inplace=True)

In [296]:
cbiz_asset_and_book_2000_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2000\sit3_cbiz_asset_and_book_2000_merge.csv'
)

assets_group_2000.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2000\sit3_fsm_asset_register_2000.csv'
)

missing_2000_asset_register_records.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2000\sit3_assets_missing_from_register_2000.csv'
)

cbiz_infor_2000_cost_diffs.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2000\sit3_assets_with_wrong_cost_2000.csv'
)

### Find 2010 records that are missing from the FSM asset register

In [297]:
assets_group_2010 = fsm_asset_register_groupby_company.get_group('2010')

In [298]:
cbiz_asset_and_book_2010_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $61,384,280.00
Basis               $61,384,279.97
 Current Accum*     $21,131,212.00
 NBV*               $40,253,077.00
dtype: float64

In [299]:
assets_group_2010['merge_index'] = assets_group_2010['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-299-bbda85f267aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2010['merge_index'] = assets_group_2010['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [300]:
assets_group_2010['cbiz_index'] = assets_group_2010['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-300-a57b96247601>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2010['cbiz_index'] = assets_group_2010['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [301]:
assets_group_2010 = assets_group_2010.set_index('merge_index',)

In [302]:
assets_group_2010 = assets_group_2010.sort_index()

In [303]:
cbiz_asset_and_book_2010_merge = cbiz_asset_and_book_2010_merge.sort_index()

In [304]:
print(assets_group_2010.index.nunique())
print(cbiz_asset_and_book_2010_merge.index.nunique())

778
778

In [305]:
cbiz_infor_2010_matched = cbiz_asset_and_book_2010_merge[cbiz_asset_and_book_2010_merge.index.isin(assets_group_2010.index)]

In [306]:
missing_2010_asset_register_records = cbiz_asset_and_book_2010_merge[~cbiz_asset_and_book_2010_merge.index.isin(assets_group_2010.index)]

In [307]:
missing_2010_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

In [308]:
missing_2010_asset_register_records_cost = missing_2010_asset_register_records[' Acquired Value* '].sum()
missing_2010_asset_register_records_cost

0.0

### Find 2010 records that exist in the fsm asset register but have incorrect cost values

In [309]:
cbiz_infor_2010_cost_diffs = cbiz_infor_2010_matched[' Acquired Value* '].compare(assets_group_2010['PostingBookBasis'])
# cbiz_infor_2010_cost_diffs

In [310]:
cbiz_infor_2010_cost_diffs[['self', 'other']].sum()

self    $9,558,361.00
other   $9,558,360.97
dtype: float64

In [311]:
asset_register_2010_records_in_error_cost = cbiz_infor_2010_cost_diffs['self'].sum() - cbiz_infor_2010_cost_diffs['other'].sum()
asset_register_2010_records_in_error_cost

0.029999999329447746

In [312]:
asset_register_2010_cost = assets_group_2010['PostingBookBasis'].sum()
asset_register_2010_cost

61384279.97

In [313]:
cbiz_asset_and_book_2010_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $61,384,280.00
 Current Accum*     $21,131,212.00
 NBV*               $40,253,077.00
dtype: float64

In [314]:
asset_register_2010_cost + asset_register_2010_records_in_error_cost + missing_2010_asset_register_records_cost

61384280.0

In [315]:
cbiz_infor_2010_cost_diffs = cbiz_infor_2010_matched[' Acquired Value* '].compare(assets_group_2010['PostingBookBasis'])
cbiz_infor_2010_cost_diffs.rename(columns={'self': 'load file', 'other': 'FSM'}, inplace=True)
cbiz_infor_2010_cost_diffs.rename_axis('Load ID', inplace=True)

In [316]:
cbiz_asset_and_book_2010_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2010\sit3_cbiz_asset_and_book_2010_merge.csv'
)

assets_group_2010.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2010\sit3_fsm_asset_register_2010.csv'
)

missing_2010_asset_register_records.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2010\sit3_assets_missing_from_register_2010.csv'
)

cbiz_infor_2010_cost_diffs.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2010\sit3_assets_with_wrong_cost_2010.csv'
)

### Find 2020 records that are missing from the FSM asset register

In [317]:
cbiz_asset_and_book_2020_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $19,764,903.00
Basis               $19,764,902.67
 Current Accum*     $10,486,388.00
 NBV*                $9,278,519.00
dtype: float64

In [318]:
assets_group_2020 = fsm_asset_register_groupby_company.get_group('2020')

In [319]:
assets_group_2020['merge_index'] = assets_group_2020['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-319-a9f46e339fa0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2020['merge_index'] = assets_group_2020['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [320]:
assets_group_2020['cbiz_index'] = assets_group_2020['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-320-55f41cfc39c6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2020['cbiz_index'] = assets_group_2020['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [321]:
assets_group_2020 = assets_group_2020.set_index('merge_index',)

In [322]:
assets_group_2020 = assets_group_2020.sort_index()

In [323]:
cbiz_asset_and_book_2020_merge = cbiz_asset_and_book_2020_merge.sort_index()

In [324]:
print(assets_group_2020.index.nunique())
print(cbiz_asset_and_book_2020_merge.index.nunique())

428
428

In [325]:
cbiz_infor_2020_matched = cbiz_asset_and_book_2020_merge[cbiz_asset_and_book_2020_merge.index.isin(assets_group_2020.index)]

In [326]:
missing_2020_asset_register_records = cbiz_asset_and_book_2020_merge[~cbiz_asset_and_book_2020_merge.index.isin(assets_group_2020.index)]

In [327]:
missing_2020_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

In [328]:
missing_2020_asset_register_records_cost = missing_2020_asset_register_records[' Acquired Value* '].sum()
missing_2020_asset_register_records_cost

0.0

### Find 2020 records that exist in the fsm asset register but have incorrect cost values

In [329]:
cbiz_infor_2020_cost_diffs = cbiz_infor_2020_matched[' Acquired Value* '].compare(assets_group_2020['PostingBookBasis'])
# cbiz_infor_2020_cost_diffs

In [330]:
cbiz_infor_2020_cost_diffs[['self', 'other']].sum()

self    $304,210.00
other   $304,209.67
dtype: float64

In [331]:
asset_register_2020_records_in_error_cost = cbiz_infor_2020_cost_diffs['self'].sum() - cbiz_infor_2020_cost_diffs['other'].sum()
asset_register_2020_records_in_error_cost

0.3300000000745058

In [332]:
asset_register_2020_cost = assets_group_2020['PostingBookBasis'].sum()
asset_register_2020_cost

19764902.67

In [333]:
cbiz_asset_and_book_2020_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $19,764,903.00
 Current Accum*     $10,486,388.00
 NBV*                $9,278,519.00
dtype: float64

In [334]:
asset_register_2020_cost + asset_register_2020_records_in_error_cost + missing_2020_asset_register_records_cost

19764903.0

In [335]:
cbiz_infor_2020_cost_diffs = cbiz_infor_2020_matched[' Acquired Value* '].compare(assets_group_2020['PostingBookBasis'])
cbiz_infor_2020_cost_diffs.rename(columns={'self': 'load file', 'other': 'FSM'}, inplace=True)
cbiz_infor_2020_cost_diffs.rename_axis('Load ID', inplace=True)

In [336]:
cbiz_asset_and_book_2020_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2020\sit3_cbiz_asset_and_book_2020_merge.csv'
)

assets_group_2020.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2020\sit3_fsm_asset_register_2020.csv'
)

missing_2020_asset_register_records.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2020\sit3_assets_missing_from_register_2020.csv'
)

cbiz_infor_2020_cost_diffs.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2020\sit3_assets_with_wrong_cost_2020.csv'
)

### Find 2030 records that are missing from the FSM asset register

In [337]:
cbiz_asset_and_book_2030_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $4,854,391.00
Basis               $4,854,390.60
 Current Accum*     $1,906,454.00
 NBV*               $2,947,938.00
dtype: float64

In [338]:
assets_group_2030 = fsm_asset_register_groupby_company.get_group('2030')

In [339]:
assets_group_2030['merge_index'] = assets_group_2030['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-339-5823e497866d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2030['merge_index'] = assets_group_2030['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [340]:
assets_group_2030['cbiz_index'] = assets_group_2030['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-340-c359f9c7e224>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2030['cbiz_index'] = assets_group_2030['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [341]:
assets_group_2030 = assets_group_2030.set_index('merge_index',)

In [342]:
assets_group_2030 =assets_group_2030.sort_index()

In [343]:
cbiz_asset_and_book_2030_merge = cbiz_asset_and_book_2030_merge.sort_index()

In [344]:
print(assets_group_2030.index.nunique())
print(cbiz_asset_and_book_2030_merge.index.nunique())

96
96

In [345]:
cbiz_infor_2030_matched = cbiz_asset_and_book_2030_merge[cbiz_asset_and_book_2030_merge.index.isin(assets_group_2030.index)]

In [346]:
missing_2030_asset_register_records = cbiz_asset_and_book_2030_merge[~cbiz_asset_and_book_2030_merge.index.isin(assets_group_2030.index)]

In [347]:
missing_2030_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

In [348]:
missing_2030_asset_register_records_cost = missing_2030_asset_register_records[' Acquired Value* '].sum()
missing_2030_asset_register_records_cost

0.0

### Find 2030 records that exist in the fsm asset register but have incorrect cost values

In [349]:
cbiz_infor_2030_cost_diffs = cbiz_infor_2030_matched[' Acquired Value* '].compare(assets_group_2030['PostingBookBasis'])
# cbiz_infor_2030_cost_diffs

In [350]:
cbiz_infor_2030_cost_diffs[['self', 'other']].sum()

self    $167,798.00
other   $167,797.60
dtype: float64

In [351]:
asset_register_2030_records_in_error_cost = cbiz_infor_2030_cost_diffs['self'].sum() - cbiz_infor_2030_cost_diffs['other'].sum()
asset_register_2030_records_in_error_cost

0.39999999999417923

In [352]:
asset_register_2030_cost = assets_group_2030['PostingBookBasis'].sum()
asset_register_2030_cost

4854390.6

In [353]:
cbiz_asset_and_book_2030_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $4,854,391.00
 Current Accum*     $1,906,454.00
 NBV*               $2,947,938.00
dtype: float64

In [354]:
asset_register_2030_cost + asset_register_2030_records_in_error_cost + missing_2030_asset_register_records_cost

4854391.0

In [355]:
cbiz_infor_2030_cost_diffs = cbiz_infor_2030_matched[' Acquired Value* '].compare(assets_group_2030['PostingBookBasis'])
cbiz_infor_2030_cost_diffs.rename(columns={'self': 'load file', 'other': 'FSM'}, inplace=True)
cbiz_infor_2030_cost_diffs.rename_axis('Load ID', inplace=True)

In [356]:


cbiz_asset_and_book_2030_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2030\sit3_cbiz_asset_and_book_2030_merge.csv'
)

assets_group_2030.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2030\sit3_fsm_asset_register_2030.csv'
)

missing_2030_asset_register_records.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2030\sit3_assets_missing_from_register_2030.csv'
)

cbiz_infor_2030_cost_diffs.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2030\sit3_assets_with_wrong_cost_2030.csv'
)

### Find 2040 records that are missing from the FSM asset register

In [357]:
cbiz_asset_and_book_2040_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $38,110,000.00
Basis               $38,110,000.00
 Current Accum*      $9,872,083.00
 NBV*               $28,237,917.00
dtype: float64

In [358]:
assets_group_2040 = fsm_asset_register_groupby_company.get_group('2040')

In [359]:
assets_group_2040['merge_index'] = assets_group_2040['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-359-2c223fdc6eae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2040['merge_index'] = assets_group_2040['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [360]:
assets_group_2040['cbiz_index'] = assets_group_2040['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-360-a5e1099850be>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2040['cbiz_index'] = assets_group_2040['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [361]:
assets_group_2040= assets_group_2040.set_index('merge_index',)
assets_group_2040 = assets_group_2040.sort_index()
cbiz_asset_and_book_2040_merge = cbiz_asset_and_book_2040_merge.sort_index()

In [362]:
print(assets_group_2040.index.nunique())
print(cbiz_asset_and_book_2040_merge.index.nunique())

2
2

In [363]:
cbiz_infor_2040_matched = cbiz_asset_and_book_2040_merge[cbiz_asset_and_book_2040_merge.index.isin(assets_group_2040.index)]

In [364]:
missing_2040_asset_register_records = cbiz_asset_and_book_2040_merge[~cbiz_asset_and_book_2040_merge.index.isin(assets_group_2040.index)]

In [365]:
missing_2040_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

In [366]:
missing_2040_asset_register_records_cost = missing_2040_asset_register_records[' Acquired Value* '].sum()
missing_2040_asset_register_records_cost

0.0

### Find 2040 records that exist in the fsm asset register but have incorrect cost values

In [367]:
cbiz_infor_2040_cost_diffs = cbiz_infor_2040_matched[' Acquired Value* '].compare(assets_group_2040['PostingBookBasis'])
cbiz_infor_2040_cost_diffs

Empty DataFrame
Columns: [self, other]
Index: []

In [368]:
cbiz_infor_2040_cost_diffs[['self', 'other']].sum()

self    $0.00
other   $0.00
dtype: float64

In [369]:
asset_register_2040_records_in_error_cost = cbiz_infor_2040_cost_diffs['self'].sum() - cbiz_infor_2040_cost_diffs['other'].sum()
asset_register_2040_records_in_error_cost

0.0

In [370]:
asset_register_2040_cost = assets_group_2040['PostingBookBasis'].sum()
asset_register_2040_cost

38110000.0

In [371]:
cbiz_asset_and_book_2040_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $38,110,000.00
 Current Accum*      $9,872,083.00
 NBV*               $28,237,917.00
dtype: float64

In [372]:
asset_register_2040_cost

38110000.0

In [373]:
cbiz_asset_and_book_2040_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2040\sit3_cbiz_asset_and_book_2040_merge.csv'
)

### Find 2050 records that are missing from the FSM asset register

In [374]:
cbiz_asset_and_book_2050_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $10,411,827.00
Basis               $10,411,827.00
 Current Accum*        $888,512.00
 NBV*                $9,523,315.00
dtype: float64

In [375]:
assets_group_2050 = fsm_asset_register_groupby_company.get_group('2050')

assets_group_2050['merge_index'] = assets_group_2050['Reference1'].apply(lambda x: int(x.split('_')[1]))

assets_group_2050['cbiz_index'] = assets_group_2050['Reference1'].apply(lambda x: int(x.split('_')[1]))

assets_group_2050 = assets_group_2050.set_index('merge_index',)
assets_group_2050 = assets_group_2050.sort_index()
cbiz_asset_and_book_2050_merge = cbiz_asset_and_book_2050_merge.sort_index()

<ipython-input-375-b1fc7632101c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2050['merge_index'] = assets_group_2050['Reference1'].apply(lambda x: int(x.split('_')[1]))
<ipython-input-375-b1fc7632101c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2050['cbiz_index'] = assets_group_2050['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [376]:
print(assets_group_2050.index.nunique())
print(cbiz_asset_and_book_2050_merge.index.nunique())

2
2

In [377]:
cbiz_infor_2050_matched = cbiz_asset_and_book_2050_merge[cbiz_asset_and_book_2050_merge.index.isin(assets_group_2050.index)]
missing_2050_asset_register_records = cbiz_asset_and_book_2050_merge[~cbiz_asset_and_book_2050_merge.index.isin(assets_group_2050.index)]

In [378]:
missing_2050_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

### Find 2050 records that exist in the fsm asset register but have incorrect cost values

In [379]:
cbiz_infor_2050_cost_diffs = cbiz_infor_2050_matched[' Acquired Value* '].compare(assets_group_2050['PostingBookBasis'])
cbiz_infor_2050_cost_diffs

Empty DataFrame
Columns: [self, other]
Index: []

In [380]:
cbiz_infor_2050_cost_diffs[['self', 'other']].sum()

self    $0.00
other   $0.00
dtype: float64

In [381]:
asset_register_2050_records_in_error_cost = cbiz_infor_2050_cost_diffs['self'].sum() - cbiz_infor_2050_cost_diffs['other'].sum()
asset_register_2050_records_in_error_cost

0.0

In [382]:
asset_register_2050_cost = assets_group_2050['PostingBookBasis'].sum()

asset_register_2050_cost

10411827.0

In [383]:
cbiz_asset_and_book_2050_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $10,411,827.00
 Current Accum*        $888,512.00
 NBV*                $9,523,315.00
dtype: float64

In [384]:
cbiz_asset_and_book_2050_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2050\sit3_cbiz_asset_and_book_2050_merge.csv'
)

### Find 2060 records that are missing from the FSM asset register

In [385]:
cbiz_asset_and_book_2060_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $5,756,151.00
Basis               $5,756,151.00
 Current Accum*     $1,371,313.00
 NBV*               $4,384,838.00
dtype: float64

In [386]:
assets_group_2060 = fsm_asset_register_groupby_company.get_group('2060')

assets_group_2060['merge_index'] = assets_group_2060['Reference1'].apply(lambda x: int(x.split('_')[1]))

assets_group_2060['cbiz_index'] = assets_group_2060['Reference1'].apply(lambda x: int(x.split('_')[1]))

assets_group_2060 = assets_group_2060.set_index('merge_index',)
assets_group_2060 = assets_group_2060.sort_index()
cbiz_asset_and_book_2060_merge = cbiz_asset_and_book_2060_merge.sort_index()

<ipython-input-386-fce0a6052ced>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2060['merge_index'] = assets_group_2060['Reference1'].apply(lambda x: int(x.split('_')[1]))
<ipython-input-386-fce0a6052ced>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2060['cbiz_index'] = assets_group_2060['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [387]:
print(assets_group_2060.index.nunique())
print(cbiz_asset_and_book_2060_merge.index.nunique())

2
2

In [388]:
cbiz_infor_2060_matched = cbiz_asset_and_book_2060_merge[cbiz_asset_and_book_2060_merge.index.isin(assets_group_2060.index)]
missing_2060_asset_register_records = cbiz_asset_and_book_2060_merge[~cbiz_asset_and_book_2060_merge.index.isin(assets_group_2060.index)]

In [389]:
missing_2060_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

### Find 2060 records that exist in the fsm asset register but have incorrect cost values

In [390]:
cbiz_infor_2060_cost_diffs = cbiz_infor_2060_matched[' Acquired Value* '].compare(assets_group_2060['ItemTotalBaseCost'])
cbiz_infor_2060_cost_diffs

Empty DataFrame
Columns: [self, other]
Index: []

In [391]:
asset_register_2060_cost = assets_group_2060['PostingBookBasis'].sum()

asset_register_2060_cost

5756151.0

In [392]:
cbiz_asset_and_book_2060_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $5,756,151.00
 Current Accum*     $1,371,313.00
 NBV*               $4,384,838.00
dtype: float64

In [393]:
cbiz_asset_and_book_2060_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2060\sit3_cbiz_asset_and_book_2060_merge.csv'
)

### Find 2100 records that are missing from the FSM asset register

In [394]:
cbiz_asset_and_book_2100_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $174,933.00
Basis               $174,933.00
 Current Accum*      $75,146.00
 NBV*                $99,787.00
dtype: float64

In [395]:
assets_group_2100 = fsm_asset_register_groupby_company.get_group('2100')

assets_group_2100['merge_index'] = assets_group_2100['Reference1'].apply(lambda x: int(x.split('_')[1]))

assets_group_2100['cbiz_index'] = assets_group_2100['Reference1'].apply(lambda x: int(x.split('_')[1]))

assets_group_2100 =assets_group_2100.set_index('merge_index',)
assets_group_2100 = assets_group_2100.sort_index()
cbiz_asset_and_book_2100_merge = cbiz_asset_and_book_2100_merge.sort_index()

<ipython-input-395-52cc01d17d0a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2100['merge_index'] = assets_group_2100['Reference1'].apply(lambda x: int(x.split('_')[1]))
<ipython-input-395-52cc01d17d0a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_2100['cbiz_index'] = assets_group_2100['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [396]:
print(assets_group_2100.index.nunique())
print(cbiz_asset_and_book_2100_merge.index.nunique())

3
3

In [397]:
cbiz_infor_2100_matched = cbiz_asset_and_book_2100_merge[cbiz_asset_and_book_2100_merge.index.isin(assets_group_2100.index)]
missing_2100_asset_register_records = cbiz_asset_and_book_2100_merge[~cbiz_asset_and_book_2100_merge.index.isin(assets_group_2100.index)]

In [398]:
asset_register_2100_cost = assets_group_2100['PostingBookBasis'].sum()

asset_register_2100_cost

174933.0

In [399]:
cbiz_asset_and_book_2100_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $174,933.00
 Current Accum*      $75,146.00
 NBV*                $99,787.00
dtype: float64

In [400]:
cbiz_asset_and_book_2100_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2100\sit3_cbiz_asset_and_book_2100_merge.csv'
)

### Find 3010 records that are missing from the FSM asset register

In [401]:
cbiz_asset_and_book_3010_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $30,767,684.00
Basis               $30,767,685.74
 Current Accum*     $27,515,315.00
 NBV*                $3,252,369.00
dtype: float64

In [402]:
assets_group_3010 = fsm_asset_register_groupby_company.get_group('3010')

assets_group_3010['merge_index'] = assets_group_3010['Reference1'].apply(lambda x: int(x.split('_')[1]))

assets_group_3010['cbiz_index'] = assets_group_3010['Reference1'].apply(lambda x: int(x.split('_')[1]))

assets_group_3010 =assets_group_3010.set_index('merge_index',)
assets_group_3010 = assets_group_3010.sort_index()
cbiz_asset_and_book_3010_merge = cbiz_asset_and_book_3010_merge.sort_index()

<ipython-input-402-013e52a3e369>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_3010['merge_index'] = assets_group_3010['Reference1'].apply(lambda x: int(x.split('_')[1]))
<ipython-input-402-013e52a3e369>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_3010['cbiz_index'] = assets_group_3010['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [403]:
print(assets_group_3010.index.nunique())
print(cbiz_asset_and_book_3010_merge.index.nunique())

948
948

In [404]:
cbiz_infor_3010_matched = cbiz_asset_and_book_3010_merge[cbiz_asset_and_book_3010_merge.index.isin(assets_group_3010.index)]

In [405]:
missing_3010_asset_register_records = cbiz_asset_and_book_3010_merge[~cbiz_asset_and_book_3010_merge.index.isin(assets_group_3010.index)]

In [406]:
missing_3010_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

In [407]:
missing_3010_asset_register_records_cost = missing_3010_asset_register_records[' Acquired Value* '].sum()
missing_3010_asset_register_records_cost

0.0

### Find 3010 records that exist in the fsm asset register but have incorrect cost values

In [408]:
cbiz_infor_3010_cost_diffs = cbiz_infor_3010_matched[' Acquired Value* '].compare(assets_group_3010['PostingBookBasis'])
# cbiz_infor_3010_cost_diffs

In [409]:
cbiz_infor_3010_cost_diffs[['self', 'other']].sum()

self    $2,444,617.00
other   $2,444,618.74
dtype: float64

In [410]:
asset_register_3010_records_in_error_cost = cbiz_infor_3010_cost_diffs['self'].sum() - cbiz_infor_3010_cost_diffs['other'].sum()
asset_register_3010_records_in_error_cost

-1.7399999997578561

In [411]:
asset_register_3010_cost = assets_group_3010['PostingBookBasis'].sum()
asset_register_3010_cost

30767685.740000002

In [412]:
cbiz_asset_and_book_3010_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $30,767,684.00
 Current Accum*     $27,515,315.00
 NBV*                $3,252,369.00
dtype: float64

In [413]:
asset_register_3010_cost + asset_register_3010_records_in_error_cost + missing_3010_asset_register_records_cost

30767684.000000004

In [414]:
cbiz_infor_3010_cost_diffs = cbiz_infor_3010_matched[' Acquired Value* '].compare(assets_group_3010['ItemTotalBaseCost'])
cbiz_infor_3010_cost_diffs.rename(columns={'self': 'load file', 'other': 'FSM'}, inplace=True)
cbiz_infor_3010_cost_diffs.rename_axis('Load ID', inplace=True)

cbiz_asset_and_book_3010_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3010\sit3_cbiz_asset_and_book_3010_merge.csv'
)

assets_group_3010.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3010\sit3_fsm_asset_register_3010.csv'
)

missing_3010_asset_register_records.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3010\sit3_assets_missing_from_register_3010.csv'
)

cbiz_infor_3010_cost_diffs.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3010\sit3_assets_with_wrong_cost_3010.csv'
)

### Find 3020 records that are missing from the FSM asset register

In [415]:
cbiz_asset_and_book_3020_merge[[' Acquired Value* ', 'Basis', ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*     $8,201,691.61
Basis               $42,509,653.00
 Current Accum*      $6,345,633.36
 NBV*                $1,856,058.25
dtype: float64

In [416]:
assets_group_3020 = fsm_asset_register_groupby_company.get_group('3020')

assets_group_3020['merge_index'] = assets_group_3020['Reference1'].apply(lambda x: int(x.split('_')[1]))

assets_group_3020['cbiz_index'] = assets_group_3020['Reference1'].apply(lambda x: int(x.split('_')[1]))

assets_group_3020 = assets_group_3020.set_index('merge_index',)
assets_group_3020 = assets_group_3020.sort_index()
cbiz_asset_and_book_3020_merge = cbiz_asset_and_book_3020_merge.sort_index()

<ipython-input-416-dc1230593c96>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_3020['merge_index'] = assets_group_3020['Reference1'].apply(lambda x: int(x.split('_')[1]))
<ipython-input-416-dc1230593c96>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assets_group_3020['cbiz_index'] = assets_group_3020['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [417]:
print(assets_group_3020.index.nunique())
print(cbiz_asset_and_book_3020_merge.index.nunique())

535
535

In [418]:
cbiz_infor_3020_matched = cbiz_asset_and_book_3020_merge[cbiz_asset_and_book_3020_merge.index.isin(assets_group_3020.index)]
missing_3020_asset_register_records = cbiz_asset_and_book_3020_merge[~cbiz_asset_and_book_3020_merge.index.isin(assets_group_3020.index)]

In [419]:
missing_3020_asset_register_records[[' Acquired Value* ', 'Basis', 
                                     ' Current Accum* ', ' NBV* ',]].sum()

 Acquired Value*    $0.00
Basis               $0.00
 Current Accum*     $0.00
 NBV*               $0.00
dtype: float64

In [420]:
missing_3020_asset_register_records_cost = missing_3020_asset_register_records[' Acquired Value* '].sum()
missing_3020_asset_register_records_cost

0.0

### Find 3020 records that exist in the fsm asset register but have incorrect cost values

In [421]:
cbiz_infor_3020_cost_diffs = cbiz_infor_3020_matched[' Acquired Value* '].compare(assets_group_3020['PostingBookBasis'])
cbiz_infor_3020_cost_diffs

          self       other
105 $36,669.00 $-36,669.00

In [422]:
cbiz_infor_3020_cost_diffs[['self', 'other']].sum()

self     $36,669.00
other   $-36,669.00
dtype: float64

In [423]:
asset_register_3020_records_in_error_cost = cbiz_infor_3020_cost_diffs['self'].sum() - cbiz_infor_3020_cost_diffs['other'].sum()
asset_register_3020_records_in_error_cost

73338.0

In [424]:
asset_register_3020_cost = assets_group_3020['PostingBookBasis'].sum()
asset_register_3020_cost

8128353.61

In [425]:
cbiz_asset_and_book_3020_merge[[' Acquired Value* ',  ' Current Accum* ', ' NBV* ']].sum()

 Acquired Value*    $8,201,691.61
 Current Accum*     $6,345,633.36
 NBV*               $1,856,058.25
dtype: float64

In [426]:
asset_register_3020_cost + asset_register_3020_records_in_error_cost + missing_3020_asset_register_records_cost

8201691.61

In [427]:
cbiz_infor_3020_cost_diffs = cbiz_infor_3020_matched[' Acquired Value* '].compare(assets_group_3020['ItemTotalBaseCost'])
cbiz_infor_3020_cost_diffs.rename(columns={'self': 'load file', 'other': 'FSM'}, inplace=True)
cbiz_infor_3020_cost_diffs.rename_axis('Load ID', inplace=True)

cbiz_asset_and_book_3020_merge.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3020\sit3_cbiz_asset_and_book_3020_merge.csv'
)

assets_group_3020.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3020\sit3_fsm_asset_register_3020.csv'
)

missing_3020_asset_register_records.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3020\sit3_assets_missing_from_register_3020.csv'
)

cbiz_infor_3020_cost_diffs.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3020\sit3_assets_with_wrong_cost_3020.csv'
)

### Calculate company 3080 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [428]:
fsm_depreciation = pd.read_csv(r"C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Depreciation By Asset.csv",
                              usecols=['Asset', 'CurrentPeriodDepreciation'])

In [429]:
# fsm_depreciation.head()

In [430]:
fsm_depreciation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135421 entries, 0 to 135420
Data columns (total 2 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Asset                      135421 non-null  int64
 1   CurrentPeriodDepreciation  135421 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 2.1 MB

In [431]:
# cbiz_asset_and_book_3080_merge.head()

In [432]:
# cbiz_asset_and_book_3080_merge.info()

In [433]:
# cbiz_asset_and_book_3080_merge.columns

In [434]:
df_depreciation_calc_3080 = cbiz_asset_and_book_3080_merge[[
    'AssetImport_x',  'Asset ID', 'Description', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation',
]]

In [435]:
# df_depreciation_calc_3080.tail(2)

In [436]:
# df_depreciation_calc_3080.loc[49631]['Acquisition Date'] +\
# relativedelta(years=df_depreciation_calc_3080.loc[49631]['life_years'])

In [437]:
df_depreciation_calc_3080['full_dep_yr'] =  df_depreciation_calc_3080['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

<ipython-input-437-e84ed08ff0bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3080['full_dep_yr'] =  df_depreciation_calc_3080['life_years']\

In [438]:
df_depreciation_calc_3080['full_dep_yr_2'] = df_depreciation_calc_3080['Acquisition Date'] +\
df_depreciation_calc_3080['full_dep_yr']

C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-438-b86b5c7e6994>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3080['full_dep_yr_2'] = df_depreciation_calc_3080['Acquisition Date'] +\

In [439]:
# df_depreciation_calc_3080.head()

In [440]:
# test_df = df_depreciation_calc_3080.loc[[38285, 39094, 39860, 48386, 49631 ]]
# test_df.loc[48386, 'life_years'] = 2
# test_df.loc[48386, 'full_dep_yr_2'] = pd.datetime(2020, 7, 1)
# test_df

In [441]:
balance_sheet_date = datetime(2020, 12, 31)
balance_sheet_date_2021 = datetime(2021, 12, 31)

In [442]:
def dep_calc_2020(row):
    """
    This function takes a dataframe row as a parameter and
    calculates the straight line method depreciation using a half year convention.
    It adds a column for the 2020 calculated depreciation to the dataframe
    """
          
    if row['life_years'] < 1:
        row['dep_exp_2020'] = 0
        
    elif row['Acquisition Date'].year == balance_sheet_date.year:
       
        row['dep_exp_2020'] = row[' Acquired Value* ']\
        / row['life_years'] * .5
    
    elif row['full_dep_yr_2'].year == balance_sheet_date.year:
        row['dep_exp_2020'] = row[' Acquired Value* ']\
        / row['life_years'] * .5
      
    elif (row['full_dep_yr_2'].year > balance_sheet_date.year) &\
    (row['Acquisition Date'].year < balance_sheet_date.year):
        
        row['dep_exp_2020'] = row[' Acquired Value* '] / row['life_years']
         
    else:
        row['dep_exp_2020'] = 0
    
    return row

In [443]:
def dep_calc_2021(row):
    
    """
    This function takes a dataframe row as a parameter and
    calculates the straight line method depreciation using a half year convention.
    It adds a column for the 2021 calculated depreciation to the dataframe
    """
          
    if row['life_years'] < 1:
        row['dep_exp_2021'] = 0
        
    elif row['Acquisition Date'].year == balance_sheet_date_2021.year:
       
        row['dep_exp_2021'] = row[' Acquired Value* ']\
        / row['life_years'] * .5
    
    elif row['full_dep_yr_2'].year == balance_sheet_date_2021.year:
        row['dep_exp_2021'] = row[' Acquired Value* ']\
        / row['life_years'] * .5
      
    elif (row['full_dep_yr_2'].year > balance_sheet_date_2021.year) &\
    (row['Acquisition Date'].year < balance_sheet_date_2021.year):
        
        row['dep_exp_2021'] = row[' Acquired Value* '] / row['life_years']
         
    else:
        row['dep_exp_2021'] = 0
    
    return row

In [444]:
# add a column for 2020 depreciation
df_depreciation_calc_3080 = df_depreciation_calc_3080.apply(dep_calc_2020, axis=1)

In [445]:
# compare calculated 2020 depreciation with Current YTD depreciation column (from cbiz)
df_depreciation_calc_3080[[' Current YTD* ', 'dep_exp_2020' ]].sum()

 Current YTD*    $3,839,786.00
dep_exp_2020     $3,839,784.52
dtype: float64

In [446]:
# calculate 2021 depreciation and add column to df
df_depreciation_calc_3080 = df_depreciation_calc_3080.apply(dep_calc_2021, axis=1)

In [447]:
# df_depreciation_calc_3080.columns

In [448]:
df_depreciation_calc_3080[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021' ]].sum()

 Current YTD*    $3,839,786.00
dep_exp_2020     $3,839,784.52
dep_exp_2021     $4,024,555.09
dtype: float64

In [449]:
# filter the df for columns that have a different depreciation expense for 2020 and 2021
df_depreciation_calc_3080[df_depreciation_calc_3080['dep_exp_2020'] != df_depreciation_calc_3080['dep_exp_2021' ]]

           AssetImport_x  Asset ID                                     Description Acquisition Date   Acquired Value*       Est Life*   Current YTD*    Current Accum*           NBV*   life_years  LifeRemaining          Basis  YearPlacedInService Convention  LifeToDateDepreciation               full_dep_yr full_dep_yr_2  dep_exp_2020  dep_exp_2021
cbiz_index
48045          MMC_48045     48045                     -SPECTRUM SMART CABLE SCOPE       2017-07-01         $12,785.00  03 yrs 00 mos       $2,130.00        $12,785.00            NaN           3          $0.00     $12,785.00                  NaN         HY              $12,785.00   relativedelta(years=+3)    2020-07-01     $2,130.83         $0.00
49613          MMC_49613     49613  PURCHASE - 3519-3515 BAINBRIDGE AVE - ST. ANNS       2020-07-01     $14,479,688.00  40 yrs 00 mos     $180,996.00       $180,996.00 $14,298,692.00          40        $474.00 $14,479,687.61                  NaN         HY             $180,996.10  relativedelta(years=+40)    2060-07-01   $180,996.10   $361,992.20
49622          MMC_49622     49622                        BMS MIGRATION (HARDWEAR)       2020-07-01         $17,800.00  05 yrs 00 mos       $1,780.00         $1,780.00     $16,020.00           5         $54.00     $17,800.00                  NaN         HY               $1,780.00   relativedelta(years=+5)    2025-07-01     $1,780.00     $3,560.00
49623          MMC_49623     49623                           BMS MIGRATION (FIBER)       2020-07-01         $15,900.00  05 yrs 00 mos       $1,590.00         $1,590.00     $14,310.00           5         $54.00     $15,900.00                  NaN         HY               $1,590.00   relativedelta(years=+5)    2025-07-01     $1,590.00     $3,180.00
49624          MMC_49624     49624                              WINDOW REPLACEMENT       2020-07-01          $8,100.00  15 yrs 00 mos         $270.00           $270.00      $7,830.00          15        $174.00      $8,100.00                  NaN         HY                 $270.00  relativedelta(years=+15)    2035-07-01       $270.00       $540.00
49625          MMC_49625     49625                                 NEW EXHAUST FAN       2020-07-01          $6,815.00  15 yrs 00 mos         $227.00           $227.00      $6,588.00          15        $174.00      $6,815.00                  NaN         HY                 $227.17  relativedelta(years=+15)    2035-07-01       $227.17       $454.33
49626          MMC_49626     49626                         SPENCE REGULATION VALVE       2020-07-01          $8,700.00  15 yrs 00 mos         $290.00           $290.00      $8,410.00          15        $174.00      $8,700.00                  NaN         HY                 $290.00  relativedelta(years=+15)    2035-07-01       $290.00       $580.00
49627          MMC_49627     49627                  CULLIGAN WATER SOFTENER SYSTEM       2020-07-01          $8,000.00  15 yrs 00 mos         $267.00           $267.00      $7,733.00          15        $174.00      $8,000.00                  NaN         HY                 $266.67  relativedelta(years=+15)    2035-07-01       $266.67       $533.33
49628          MMC_49628     49628                         BOILER NO. 2 REFRACTORY       2020-07-01         $13,375.00  15 yrs 00 mos         $446.00           $446.00     $12,929.00          15        $174.00     $13,375.00                  NaN         HY                 $445.83  relativedelta(years=+15)    2035-07-01       $445.83       $891.67
49629          MMC_49629     49629                          COMPRESSOR REPLACEMENT       2020-07-01          $6,385.00  15 yrs 00 mos         $213.00           $213.00      $6,172.00          15        $174.00      $6,385.00                  NaN         HY                 $212.83  relativedelta(years=+15)    2035-07-01       $212.83       $425.67
49630          MMC_49630     49630                                  AHU GS REMODEL       2020-07-01         $11,000.00  15 yrs 00 mos         $367.00           $367.00     $10,633.00          15        $174.00     $11,000.00                  NaN         HY                 $366.67  relativedelta(years=+15)    2035-07-01       $366.67       $733.33
49631          MMC_49631     49631                            ADA DOOR REPLACEMENT       2020-07-01         $13,684.00  15 yrs 00 mos         $456.00           $456.00     $13,228.00          15        $174.00     $13,684.00                  NaN         HY                 $456.13  relativedelta(years=+15)    2035-07-01       $456.13       $912.27

In [450]:
# populate a column with 2020 YTD depreciation expense through October 2021

df_depreciation_calc_3080['depr_ytd_oct'] = df_depreciation_calc_3080['dep_exp_2021'] * (10/12)

In [451]:
df_depreciation_calc_3080[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $3,839,786.00
dep_exp_2020     $3,839,784.52
dep_exp_2021     $4,024,555.09
depr_ytd_oct     $3,353,795.91
dtype: float64

In [452]:
# cbiz_asset_and_book_3080_merge = cbiz_asset_and_book_3080_merge.merge(fsm_asset_number, how='left',
#                                             left_on='Asset ID', right_on="cbiz_index")

In [453]:
cbiz_asset_and_book_3080_merge[' Acquired Value* '].sum()

118736253.0

In [454]:
df_depreciation_calc_3080[' Acquired Value* '].sum()

118736253.0

In [455]:
df_depreciation_calc_3080 = df_depreciation_calc_3080.merge(fsm_asset_number, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [456]:
df_depreciation_calc_3080.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 0 to 144
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   AssetImport_x           145 non-null    object
 1   Asset ID                145 non-null    int64
 2   Description             145 non-null    object
 3   Acquisition Date        145 non-null    datetime64[ns]
 4    Acquired Value*        145 non-null    float64
 5   Est Life*               145 non-null    object
 6    Current YTD*           101 non-null    float64
 7    Current Accum*         131 non-null    float64
 8    NBV*                   114 non-null    float64
 9   life_years              145 non-null    int64
 10  LifeRemaining           145 non-null    float64
 11  Basis                   145 non-null    float64
 12  YearPlacedInService     0 non-null      float64
 13  Convention              145 non-null    object
 14  LifeToDateDepreciation  145 non-null    float64
 15  full_dep_yr             145 non-null    object
 16  full_dep_yr_2           145 non-null    datetime64[ns]
 17  dep_exp_2020            145 non-null    float64
 18  dep_exp_2021            145 non-null    float64
 19  depr_ytd_oct            145 non-null    float64
 20  Asset                   145 non-null    int64
 21  cbiz_index              145 non-null    int64
dtypes: datetime64[ns](2), float64(11), int64(4), object(5)
memory usage: 26.1+ KB

In [457]:
df_depreciation_calc_3080 = df_depreciation_calc_3080[['Asset ID', 'cbiz_index', 'Asset','Description', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_3080 = df_depreciation_calc_3080.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_3080 = df_depreciation_calc_3080[['Asset ID', 'cbiz_index', 'Asset','Description', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

In [458]:
df_depreciation_calc_3080.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3080\sit3_depreciation_3080.csv'
)

### Calculate company 3000 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [459]:
df_depreciation_calc_3000 = cbiz_asset_and_book_3000_merge[[
    'AssetImport_x',  'Asset ID', 'Description', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_3000['full_dep_yr'] =  df_depreciation_calc_3000['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

<ipython-input-459-df65570c3184>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3000['full_dep_yr'] =  df_depreciation_calc_3000['life_years']\

In [460]:
df_depreciation_calc_3000['full_dep_yr_2'] = df_depreciation_calc_3000['Acquisition Date'] +\
df_depreciation_calc_3000['full_dep_yr']

C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-460-bf62fb49683e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3000['full_dep_yr_2'] = df_depreciation_calc_3000['Acquisition Date'] +\

In [461]:
# cbiz_asset_and_book_3000_merge.loc[46049]

In [462]:
# df_depreciation_calc_3000.loc[46049]

In [463]:
# there is one asset whose useful life is not an integer number of years;
# so change this asset useful life to the '11.75' life used in the cbiz report
df_depreciation_calc_3000.loc[46049, 'life_years']  = 11.75

C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [464]:
# add a column for 2020 depreciation
df_depreciation_calc_3000 = df_depreciation_calc_3000.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_3000 = df_depreciation_calc_3000.apply(dep_calc_2021, axis=1)

In [465]:
# compare calculated 2020 depreciation with Current YTD depreciation column (from cbiz)
df_depreciation_calc_3000[[' Current YTD* ', 'dep_exp_2020' ]].sum()

 Current YTD*    $147,573,270.00
dep_exp_2020     $147,573,184.78
dtype: float64

In [466]:
df_depreciation_calc_3000['depr_ytd_oct'] = df_depreciation_calc_3000['dep_exp_2021'] * (10/12)

In [467]:
df_depreciation_calc_3000[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $147,573,270.00
dep_exp_2020     $147,573,184.78
dep_exp_2021     $140,176,394.57
depr_ytd_oct     $116,813,662.14
dtype: float64

In [468]:
# look at the records for which depreciation has changed from 2020 to 2021
# df_depreciation_calc_3000[df_depreciation_calc_3000['dep_exp_2020'] != df_depreciation_calc_3000['dep_exp_2021']]

In [469]:
# asset that is causing the difference between mmc Current YTD 2020 per cbiz and calculated 2020
# assetlife is 11yrs 9 months 
df_depreciation_calc_3000[abs(df_depreciation_calc_3000[' Current YTD* '] - df_depreciation_calc_3000['dep_exp_2020']) > 1]

Empty DataFrame
Columns: [AssetImport_x, Asset ID, Description, Acquisition Date,  Acquired Value* , Est Life*,  Current YTD* ,  Current Accum* ,  NBV* , life_years, LifeRemaining, Basis, YearPlacedInService, Convention, LifeToDateDepreciation, full_dep_yr, full_dep_yr_2, dep_exp_2020, dep_exp_2021, depr_ytd_oct]
Index: []

In [470]:
# df_depreciation_calc_3000.info()

In [471]:
df_depreciation_calc_3000['Asset ID'] = df_depreciation_calc_3000['Asset ID'].astype('int')

In [472]:
# fsm_asset_number.info()

In [473]:
# assets_group_3000.info()

In [474]:
fsm_asset_number_3000 = assets_group_3000[['Asset', 'cbiz_index']]
fsm_asset_number

             Asset  cbiz_index
merge_index
38285        28122       38285
38286        28123       38286
38287        28124       38287
38288        28125       38288
38289        28126       38289
38290        28127       38290
38291        28128       38291
38292        28129       38292
38293        28130       38293
38294        28131       38294
38295        28132       38295
38296        28133       38296
38297        28134       38297
38298        28135       38298
39052        28136       39052
39053        28137       39053
39054        28138       39054
39085        28139       39085
39086        28140       39086
39087        28141       39087
39088        28142       39088
39089        28143       39089
39090        28144       39090
39091        28145       39091
39092        28146       39092
39094        28147       39094
39857        28148       39857
39858        28149       39858
39859        28150       39859
39860        28151       39860
39861        28152       39861
39862        28153       39862
39863        28154       39863
39864        28155       39864
41268        28156       41268
41333        28157       41333
41334        28158       41334
42127        28159       42127
42128        28160       42128
42134        28161       42134
43080        28162       43080
43081        28163       43081
43162        28164       43162
43163        28165       43163
43164        28166       43164
43165        28167       43165
43166        28168       43166
43167        28169       43167
43168        28170       43168
43826        28171       43826
43856        28172       43856
43857        28173       43857
43858        28174       43858
44629        28175       44629
44630        28176       44630
44631        28177       44631
44632        28178       44632
44658        28179       44658
44659        28180       44659
44660        28181       44660
45371        28182       45371
45373        28183       45373
45374        28184       45374
45443        28185       45443
45444        28186       45444
45445        28187       45445
45446        28188       45446
45447        28189       45447
45448        28190       45448
46053        28191       46053
46054        28192       46054
46742        28193       46742
46743        28194       46743
46744        28195       46744
46745        28196       46745
46746        28197       46746
46747        28198       46747
46748        28199       46748
47396        28200       47396
47397        28201       47397
47398        28202       47398
48041        28203       48041
48042        28204       48042
48043        28205       48043
48044        28206       48044
48045        28207       48045
48046        28208       48046
48047        28209       48047
48048        28210       48048
48049        28211       48049
48050        28212       48050
48051        28213       48051
48052        28214       48052
48053        28215       48053
48054        28216       48054
48055        28217       48055
48056        28218       48056
48057        28219       48057
48058        28220       48058
48059        28221       48059
48060        28222       48060
48061        28223       48061
48062        28224       48062
48063        28225       48063
48064        28226       48064
48065        28227       48065
48066        28228       48066
48067        28229       48067
48068        28230       48068
48069        28231       48069
48070        28232       48070
48084        28233       48084
48085        28234       48085
48086        28235       48086
48087        28236       48087
48383        28237       48383
48384        28238       48384
48385        28239       48385
48386        28240       48386
49598        28241       49598
49599        28242       49599
49600        28243       49600
49601        28244       49601
49602        28245       49602
49603        28246       49603
49604        28247       49604
49605        28248       49605
49606        28249       49606
49607        28250       49607
49608        28251       49608
49609        28252       49609
49610        28253       49610
49611        28254       49611
49612        28255       49612
49613        28256       49613
49622        28257       49622
49623        28258       49623
49624        28259       49624
49625        28260       49625
49626        28261       49626
49627        28262       49627
49628        28263       49628
49629        28264       49629
49630        28265       49630
49631        28266       49631

In [475]:
df_depreciation_calc_3000 = df_depreciation_calc_3000.merge(fsm_asset_number_3000, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [476]:
df_depreciation_calc_3000 = df_depreciation_calc_3000[['Asset ID', 'cbiz_index', 'Asset','Description', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_3000 = df_depreciation_calc_3000.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_3000 = df_depreciation_calc_3000[['Asset ID', 'cbiz_index', 'Asset','Description', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_3000.tail()

       Asset ID  cbiz_index  Asset                                     Description Acquisition Date   Acquired Value*            Basis   Current YTD*    Current Accum*   LifeToDateDepreciation           NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
27168     50131       50131  26275  5000005347  BURKE REHAB BILING BLDG RENOVATION       2020-07-01         $92,355.00      $92,355.14       $3,079.00         $3,079.00               $3,078.51      $89,277.00      $15.00    2035-07-01        $174.00     $3,078.50     $6,157.00     $5,130.83                  $2,052.34
27169     50132       50132  26276  5000005347  BURKE REHAB BILING BLDG RENOVATION       2020-07-01         $25,469.00      $25,469.17         $849.00           $849.00                 $848.97      $24,620.00      $15.00    2035-07-01        $174.00       $848.97     $1,697.93     $1,414.94                    $565.98
27170     50133       50133  26277  5000005347  BURKE REHAB BILING BLDG RENOVATION       2020-07-01         $49,000.00      $49,000.00       $4,900.00         $4,900.00               $4,900.00      $44,100.00       $5.00    2025-07-01         $54.00     $4,900.00     $9,800.00     $8,166.67                  $3,266.67
27171     50134       50134  26278    PURCHASE LEASE IMPROVEMENT - 785 MOMMARONECK       2020-07-01        $143,376.00     $143,376.34       $4,779.00         $4,779.00               $4,779.21     $138,597.00      $15.00    2035-07-01        $174.00     $4,779.20     $9,558.40     $7,965.33                  $3,186.14
27172     50135       50135  26279                             WEILER CAMPUS LEASE       2019-01-01    $144,036,221.00 $144,036,221.00   $1,516,171.00     $3,032,342.00           $3,032,341.50 $141,003,880.00      $95.00    2114-01-01      $1,122.00 $1,516,170.75 $1,516,170.75 $1,263,475.62                $502,687.63

In [477]:
df_depreciation_calc_3000.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3000\sit3_depreciation_3000.csv'
)

### Calculate company 3010 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [478]:
df_depreciation_calc_3010 = cbiz_asset_and_book_3010_merge[[
    'AssetImport_x',  'Asset ID', 'Description', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_3010['full_dep_yr'] =  df_depreciation_calc_3010['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

<ipython-input-478-77f649c91b9c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3010['full_dep_yr'] =  df_depreciation_calc_3010['life_years']\

In [479]:
df_depreciation_calc_3010['full_dep_yr_2'] = df_depreciation_calc_3010['Acquisition Date'] +\
df_depreciation_calc_3010['full_dep_yr']

C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-479-364d451669da>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3010['full_dep_yr_2'] = df_depreciation_calc_3010['Acquisition Date'] +\

In [480]:
# add a column for 2020 depreciation
df_depreciation_calc_3010 = df_depreciation_calc_3010.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_3010 = df_depreciation_calc_3010.apply(dep_calc_2021, axis=1)

In [481]:
df_depreciation_calc_3010['depr_ytd_oct'] = df_depreciation_calc_3010['dep_exp_2021'] * (10/12)

In [482]:
df_depreciation_calc_3010[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $652,347.00
dep_exp_2020     $652,348.72
dep_exp_2021     $714,688.20
depr_ytd_oct     $595,573.50
dtype: float64

In [483]:
df_depreciation_calc_3010['Asset ID'] = df_depreciation_calc_3010['Asset ID'].astype('int')

fsm_asset_number_3010 = assets_group_3010[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_3010 = df_depreciation_calc_3010.merge(fsm_asset_number_3010, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [484]:
df_depreciation_calc_3010 = df_depreciation_calc_3010[['Asset ID', 'cbiz_index', 'Asset','Description', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_3010 = df_depreciation_calc_3010.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_3010 = df_depreciation_calc_3010[['Asset ID', 'cbiz_index', 'Asset','Description', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_3010.tail()

     Asset ID  cbiz_index  Asset                                        Description Acquisition Date   Acquired Value*        Basis   Current YTD*    Current Accum*   LifeToDateDepreciation       NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
943     49617       49617  28117                 5000004664  CMO TRAINING SITE (IT)       2020-07-01         $62,739.00  $62,739.26       $2,091.00         $2,091.00               $2,091.31  $60,648.00          15    2035-07-01        $174.00     $2,091.30     $4,182.60     $3,485.50                  $1,394.21
944     49618       49618  28118                 5000004664  CMO TRAINING SITE (IT)       2020-07-01         $61,136.00  $61,136.26       $6,114.00         $6,114.00               $6,113.63  $55,023.00           5    2025-07-01         $54.00     $6,113.60    $12,227.20    $10,189.33                  $4,075.75
945     49619       49619  28119  5000005296  2019 ROTAFLOW ECMO UNITS UPGRADE -...       2020-07-01         $11,246.00  $11,246.14         $375.00           $375.00                 $374.87  $10,871.00          15    2035-07-01        $174.00       $374.87       $749.73       $624.78                    $249.91
946     49620       49620  28120  5000005296  2019 ROTAFLOW ECMO UNITS UPGRADE -...       2020-07-01        $117,894.00 $117,893.68      $11,789.00        $11,789.00              $11,789.37 $106,104.00           5    2025-07-01         $54.00    $11,789.40    $23,578.80    $19,649.00                  $7,859.58
947     49621       49621  28121     5000005723  CMO-EMBLEM DISK ENCRYPTION PROJECT       2020-07-01        $820,999.00 $820,999.12      $82,100.00        $82,100.00              $82,099.91 $738,899.00           5    2025-07-01         $54.00    $82,099.90   $164,199.80   $136,833.17                 $54,733.28

In [485]:
df_depreciation_calc_3010.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3010\sit3_depreciation_3010.csv'
)

### Calculate company 2100 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [486]:
df_depreciation_calc_2100 = cbiz_asset_and_book_2100_merge[[
    'AssetImport_x',  'Asset ID',  'Description', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_2100['full_dep_yr'] =  df_depreciation_calc_2100['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

<ipython-input-486-a266bf8cf34b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2100['full_dep_yr'] =  df_depreciation_calc_2100['life_years']\

In [487]:
df_depreciation_calc_2100['full_dep_yr_2'] = df_depreciation_calc_2100['Acquisition Date'] +\
df_depreciation_calc_2100['full_dep_yr']

C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-487-17e4236e0cd0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2100['full_dep_yr_2'] = df_depreciation_calc_2100['Acquisition Date'] +\

In [488]:
# add a column for 2020 depreciation
df_depreciation_calc_2100 = df_depreciation_calc_2100.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_2100 = df_depreciation_calc_2100.apply(dep_calc_2021, axis=1)

In [489]:
df_depreciation_calc_2100['depr_ytd_oct'] = df_depreciation_calc_2100['dep_exp_2021'] * (10/12)

In [490]:
df_depreciation_calc_2100[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $10,504.00
dep_exp_2020     $10,503.93
dep_exp_2021     $10,503.93
depr_ytd_oct      $8,753.28
dtype: float64

In [491]:
df_depreciation_calc_2100['Asset ID'] = df_depreciation_calc_2100['Asset ID'].astype('int')

fsm_asset_number_2100 = assets_group_2100[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_2100 = df_depreciation_calc_2100.merge(fsm_asset_number_2100, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [492]:
df_depreciation_calc_2100 = df_depreciation_calc_2100[['Asset ID', 'cbiz_index', 'Asset','Description', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_2100 = df_depreciation_calc_2100.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_2100 = df_depreciation_calc_2100[['Asset ID', 'cbiz_index', 'Asset','Description', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_3010.tail()

     Asset ID  cbiz_index  Asset                                        Description Acquisition Date   Acquired Value*        Basis   Current YTD*    Current Accum*   LifeToDateDepreciation       NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
943     49617       49617  28117                 5000004664  CMO TRAINING SITE (IT)       2020-07-01         $62,739.00  $62,739.26       $2,091.00         $2,091.00               $2,091.31  $60,648.00          15    2035-07-01        $174.00     $2,091.30     $4,182.60     $3,485.50                  $1,394.21
944     49618       49618  28118                 5000004664  CMO TRAINING SITE (IT)       2020-07-01         $61,136.00  $61,136.26       $6,114.00         $6,114.00               $6,113.63  $55,023.00           5    2025-07-01         $54.00     $6,113.60    $12,227.20    $10,189.33                  $4,075.75
945     49619       49619  28119  5000005296  2019 ROTAFLOW ECMO UNITS UPGRADE -...       2020-07-01         $11,246.00  $11,246.14         $375.00           $375.00                 $374.87  $10,871.00          15    2035-07-01        $174.00       $374.87       $749.73       $624.78                    $249.91
946     49620       49620  28120  5000005296  2019 ROTAFLOW ECMO UNITS UPGRADE -...       2020-07-01        $117,894.00 $117,893.68      $11,789.00        $11,789.00              $11,789.37 $106,104.00           5    2025-07-01         $54.00    $11,789.40    $23,578.80    $19,649.00                  $7,859.58
947     49621       49621  28121     5000005723  CMO-EMBLEM DISK ENCRYPTION PROJECT       2020-07-01        $820,999.00 $820,999.12      $82,100.00        $82,100.00              $82,099.91 $738,899.00           5    2025-07-01         $54.00    $82,099.90   $164,199.80   $136,833.17                 $54,733.28

In [493]:
df_depreciation_calc_2100.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2100\sit3_depreciation_2100.csv'
)

### Calculate company 3020 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [494]:
df_depreciation_calc_3020 = cbiz_asset_and_book_3020_merge[[
    'AssetImport_x',  'Asset ID', 'Description_x', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]



df_depreciation_calc_3020['full_dep_yr'] =  df_depreciation_calc_3020['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

<ipython-input-494-aff4a4539a64>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3020['full_dep_yr'] =  df_depreciation_calc_3020['life_years']\

In [495]:
df_depreciation_calc_3020['full_dep_yr_2'] = df_depreciation_calc_3020['Acquisition Date'] +\
df_depreciation_calc_3020['full_dep_yr']

# add a column for 2020 depreciation
df_depreciation_calc_3020 = df_depreciation_calc_3020.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_3020 = df_depreciation_calc_3020.apply(dep_calc_2021, axis=1)

df_depreciation_calc_3020['depr_ytd_oct'] = df_depreciation_calc_3020['dep_exp_2021'] * (10/12)

C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-495-6b028caf13db>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3020['full_dep_yr_2'] = df_depreciation_calc_3020['Acquisition Date'] +\

In [496]:
df_depreciation_calc_3020[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*     $71,578.65
dep_exp_2020     $137,234.95
dep_exp_2021     $135,220.37
depr_ytd_oct     $112,683.64
dtype: float64

In [497]:
# look at the records where cbiz 3020 depreciation and calculated depreciation don't match
dep_variance_3020 = df_depreciation_calc_3020[abs(df_depreciation_calc_3020['dep_exp_2020'] - df_depreciation_calc_3020[' Current YTD* '])  > 1]

In [498]:
df_depreciation_calc_3020.columns

Index(['AssetImport_x', 'Asset ID', 'Description_x', 'Acquisition Date',
       ' Acquired Value* ', 'Est Life*', ' Current YTD* ', ' Current Accum* ',
       ' NBV* ', 'life_years', 'LifeRemaining', 'Basis', 'YearPlacedInService',
       'Convention', 'LifeToDateDepreciation', 'full_dep_yr', 'full_dep_yr_2',
       'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct'],
      dtype='object')

In [499]:
df_depreciation_calc_3020 = df_depreciation_calc_3020[['Asset ID',  'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_3020 = df_depreciation_calc_3020.merge(fsm_depreciation, how='left',
                                                           left_on='Asset ID', right_on='Asset')

df_depreciation_calc_3020 = df_depreciation_calc_3020[['Asset ID',  'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_3010.tail()

     Asset ID  cbiz_index  Asset                                        Description Acquisition Date   Acquired Value*        Basis   Current YTD*    Current Accum*   LifeToDateDepreciation       NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
943     49617       49617  28117                 5000004664  CMO TRAINING SITE (IT)       2020-07-01         $62,739.00  $62,739.26       $2,091.00         $2,091.00               $2,091.31  $60,648.00          15    2035-07-01        $174.00     $2,091.30     $4,182.60     $3,485.50                  $1,394.21
944     49618       49618  28118                 5000004664  CMO TRAINING SITE (IT)       2020-07-01         $61,136.00  $61,136.26       $6,114.00         $6,114.00               $6,113.63  $55,023.00           5    2025-07-01         $54.00     $6,113.60    $12,227.20    $10,189.33                  $4,075.75
945     49619       49619  28119  5000005296  2019 ROTAFLOW ECMO UNITS UPGRADE -...       2020-07-01         $11,246.00  $11,246.14         $375.00           $375.00                 $374.87  $10,871.00          15    2035-07-01        $174.00       $374.87       $749.73       $624.78                    $249.91
946     49620       49620  28120  5000005296  2019 ROTAFLOW ECMO UNITS UPGRADE -...       2020-07-01        $117,894.00 $117,893.68      $11,789.00        $11,789.00              $11,789.37 $106,104.00           5    2025-07-01         $54.00    $11,789.40    $23,578.80    $19,649.00                  $7,859.58
947     49621       49621  28121     5000005723  CMO-EMBLEM DISK ENCRYPTION PROJECT       2020-07-01        $820,999.00 $820,999.12      $82,100.00        $82,100.00              $82,099.91 $738,899.00           5    2025-07-01         $54.00    $82,099.90   $164,199.80   $136,833.17                 $54,733.28

In [500]:
dep_variance_3020.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3020\sit3_incorrect_depreciation_3020.csv'
)

In [501]:
dep_variance_3020.shape

(67, 20)

In [502]:
df_depreciation_calc_3020['Asset ID'] = df_depreciation_calc_3020['Asset ID'].astype('int')

fsm_asset_number_3020 = assets_group_3020[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_3020 = df_depreciation_calc_3020.merge(fsm_asset_number_3020, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [503]:
df_depreciation_calc_3020.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3020\sit3_depreciation_3020.csv'
)

### Calculate company 2000 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [504]:
df_depreciation_calc_2000 = cbiz_asset_and_book_2000_merge[[
    'AssetImport_x',  'Asset ID',  'Description_x', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_2000['full_dep_yr'] =  df_depreciation_calc_2000['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

df_depreciation_calc_2000['full_dep_yr_2'] = df_depreciation_calc_2000['Acquisition Date'] +\
df_depreciation_calc_2000['full_dep_yr']

# add a column for 2020 depreciation
df_depreciation_calc_2000 = df_depreciation_calc_2000.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_2000 = df_depreciation_calc_2000.apply(dep_calc_2021, axis=1)

df_depreciation_calc_2000['depr_ytd_oct'] = df_depreciation_calc_2000['dep_exp_2021'] * (10/12)

<ipython-input-504-bfaced8b7d2d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2000['full_dep_yr'] =  df_depreciation_calc_2000['life_years']\
C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-504-bfaced8b7d2d>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2000['full_dep_yr_2'] = df_depreciation_calc_2000['Acquisition Date'] +\

In [505]:
df_depreciation_calc_2000[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $70,722.48
dep_exp_2020     $70,722.48
dep_exp_2021     $71,505.53
depr_ytd_oct     $59,587.95
dtype: float64

In [506]:
df_depreciation_calc_2000['Asset ID'] = df_depreciation_calc_2000['Asset ID'].astype('int')

fsm_asset_number_2000 = assets_group_2000[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_2000 = df_depreciation_calc_2000.merge(fsm_asset_number_2000, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [507]:
df_depreciation_calc_2000.columns

Index(['AssetImport_x', 'Asset ID', 'Description_x', 'Acquisition Date',
       ' Acquired Value* ', 'Est Life*', ' Current YTD* ', ' Current Accum* ',
       ' NBV* ', 'life_years', 'LifeRemaining', 'Basis', 'YearPlacedInService',
       'Convention', 'LifeToDateDepreciation', 'full_dep_yr', 'full_dep_yr_2',
       'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct', 'Asset', 'cbiz_index'],
      dtype='object')

In [508]:
df_depreciation_calc_2000 = df_depreciation_calc_2000[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_2000 = df_depreciation_calc_2000.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_2000 = df_depreciation_calc_2000[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_2000.tail()

   Asset ID                                      Description_x  cbiz_index  Asset Acquisition Date   Acquired Value*        Basis   Current YTD*    Current Accum*   LifeToDateDepreciation       NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
0         4  5000003014  FINANCE SHARED SERVICES - TARRYTOW...           4  29096       2019-07-01         $44,093.62  $44,093.62       $2,939.58         $4,409.37               $4,409.37  $39,684.25          15    2034-07-01        $162.00     $2,939.57     $2,939.57     $2,449.65                    $979.86
1         5  5000003014  FINANCE SHARED SERVICES - TARRYTOW...           5  29097       2019-07-01        $908,408.25 $908,408.25      $60,560.55        $90,840.83              $90,840.83 $817,567.42          15    2034-07-01        $162.00    $60,560.55    $60,560.55    $50,467.13                 $20,186.85
2         6                          FURNITURE GENERAL - 5-PAT           6  29098       2019-07-01         $32,196.47  $32,196.47       $6,439.29         $9,658.94               $9,658.94  $22,537.53           5    2024-07-01         $42.00     $6,439.29     $6,439.29     $5,366.08                  $2,146.43
3         7  5000003014  FINANCE SHARED SERVICES - TARRYTOW...           7  29099       2020-07-01         $23,491.74  $23,491.74         $783.06           $783.06                 $783.06  $22,708.68          15    2035-07-01        $174.00       $783.06     $1,566.12     $1,305.10                    $522.04

In [509]:
df_depreciation_calc_2000.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2000\sit3_depreciation_2000.csv'
)

### Calculate company 3060 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [510]:
df_depreciation_calc_3060 = cbiz_asset_and_book_3060_merge[[
    'AssetImport_x',  'Asset ID',  'Description_x', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_3060['full_dep_yr'] =  df_depreciation_calc_3060['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

df_depreciation_calc_3060['full_dep_yr_2'] = df_depreciation_calc_3060['Acquisition Date'] +\
df_depreciation_calc_3060['full_dep_yr']

# add a column for 2020 depreciation
df_depreciation_calc_3060 = df_depreciation_calc_3060.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_3060 = df_depreciation_calc_3060.apply(dep_calc_2021, axis=1)

df_depreciation_calc_3060['depr_ytd_oct'] = df_depreciation_calc_3060['dep_exp_2021'] * (10/12)

<ipython-input-510-76bb4f5a3ce2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3060['full_dep_yr'] =  df_depreciation_calc_3060['life_years']\
C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-510-76bb4f5a3ce2>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3060['full_dep_yr_2'] = df_depreciation_calc_3060['Acquisition Date'] +\

In [511]:
df_depreciation_calc_3060[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $4,267.83
dep_exp_2020     $4,267.83
dep_exp_2021     $4,267.83
depr_ytd_oct     $3,556.52
dtype: float64

In [512]:
df_depreciation_calc_3060['Asset ID'] = df_depreciation_calc_3060['Asset ID'].astype('int')

fsm_asset_number_3060 = assets_group_3060[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_3060 = df_depreciation_calc_3060.merge(fsm_asset_number_3060, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [513]:
df_depreciation_calc_3060 = df_depreciation_calc_3060[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_3060 = df_depreciation_calc_3060.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_3060 = df_depreciation_calc_3060[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_3060.tail()

   Asset ID                                      Description_x  cbiz_index  Asset Acquisition Date   Acquired Value*      Basis   Current YTD*    Current Accum*   LifeToDateDepreciation      NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
0         1  5116143  MHVA SATELLITE OFFICE AT ST LUKE CORNWAL           1  28283       2019-07-01          $1,915.00 $1,250.00         $127.67           $191.50               $1,250.00  $1,723.50          15    2034-07-01          $0.00       $127.67       $127.67       $106.39                     $42.56
1         2  5116143  MHVA SATELLITE OFFICE AT ST LUKE CORNWAL           2  28284       2019-07-01          $1,837.26   $500.00         $122.48           $183.72                 $500.00  $1,653.54          15    2034-07-01          $0.00       $122.48       $122.48       $102.07                     $40.83
2         3  5116143  MHVA SATELLITE OFFICE AT ST LUKE CORNWAL           3  28285       2019-07-01         $20,088.39   $500.00       $4,017.68         $6,026.52                 $500.00 $14,061.87           5    2024-07-01          $0.00     $4,017.68     $4,017.68     $3,348.07                  $1,339.23

In [514]:
df_depreciation_calc_3060.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3060\sit3_depreciation_3060.csv'
)

### Calculate company 3090 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [515]:
df_depreciation_calc_3090 = cbiz_asset_and_book_3090_merge[[
    'AssetImport_x',  'Asset ID',  'Description_x', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_3090['full_dep_yr'] =  df_depreciation_calc_3090['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

df_depreciation_calc_3090['full_dep_yr_2'] = df_depreciation_calc_3090['Acquisition Date'] +\
df_depreciation_calc_3090['full_dep_yr']

# add a column for 2020 depreciation
df_depreciation_calc_3090 = df_depreciation_calc_3090.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_3090 = df_depreciation_calc_3090.apply(dep_calc_2021, axis=1)

df_depreciation_calc_3090['depr_ytd_oct'] = df_depreciation_calc_3090['dep_exp_2021'] * (10/12)

<ipython-input-515-4cb64ff43c2a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3090['full_dep_yr'] =  df_depreciation_calc_3090['life_years']\
C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-515-4cb64ff43c2a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_3090['full_dep_yr_2'] = df_depreciation_calc_3090['Acquisition Date'] +\

In [516]:
fsm_asset_number_3090 = assets_group_3090[['Asset', 'cbiz_index']]
fsm_asset_number

             Asset  cbiz_index
merge_index
38285        28122       38285
38286        28123       38286
38287        28124       38287
38288        28125       38288
38289        28126       38289
38290        28127       38290
38291        28128       38291
38292        28129       38292
38293        28130       38293
38294        28131       38294
38295        28132       38295
38296        28133       38296
38297        28134       38297
38298        28135       38298
39052        28136       39052
39053        28137       39053
39054        28138       39054
39085        28139       39085
39086        28140       39086
39087        28141       39087
39088        28142       39088
39089        28143       39089
39090        28144       39090
39091        28145       39091
39092        28146       39092
39094        28147       39094
39857        28148       39857
39858        28149       39858
39859        28150       39859
39860        28151       39860
39861        28152       39861
39862        28153       39862
39863        28154       39863
39864        28155       39864
41268        28156       41268
41333        28157       41333
41334        28158       41334
42127        28159       42127
42128        28160       42128
42134        28161       42134
43080        28162       43080
43081        28163       43081
43162        28164       43162
43163        28165       43163
43164        28166       43164
43165        28167       43165
43166        28168       43166
43167        28169       43167
43168        28170       43168
43826        28171       43826
43856        28172       43856
43857        28173       43857
43858        28174       43858
44629        28175       44629
44630        28176       44630
44631        28177       44631
44632        28178       44632
44658        28179       44658
44659        28180       44659
44660        28181       44660
45371        28182       45371
45373        28183       45373
45374        28184       45374
45443        28185       45443
45444        28186       45444
45445        28187       45445
45446        28188       45446
45447        28189       45447
45448        28190       45448
46053        28191       46053
46054        28192       46054
46742        28193       46742
46743        28194       46743
46744        28195       46744
46745        28196       46745
46746        28197       46746
46747        28198       46747
46748        28199       46748
47396        28200       47396
47397        28201       47397
47398        28202       47398
48041        28203       48041
48042        28204       48042
48043        28205       48043
48044        28206       48044
48045        28207       48045
48046        28208       48046
48047        28209       48047
48048        28210       48048
48049        28211       48049
48050        28212       48050
48051        28213       48051
48052        28214       48052
48053        28215       48053
48054        28216       48054
48055        28217       48055
48056        28218       48056
48057        28219       48057
48058        28220       48058
48059        28221       48059
48060        28222       48060
48061        28223       48061
48062        28224       48062
48063        28225       48063
48064        28226       48064
48065        28227       48065
48066        28228       48066
48067        28229       48067
48068        28230       48068
48069        28231       48069
48070        28232       48070
48084        28233       48084
48085        28234       48085
48086        28235       48086
48087        28236       48087
48383        28237       48383
48384        28238       48384
48385        28239       48385
48386        28240       48386
49598        28241       49598
49599        28242       49599
49600        28243       49600
49601        28244       49601
49602        28245       49602
49603        28246       49603
49604        28247       49604
49605        28248       49605
49606        28249       49606
49607        28250       49607
49608        28251       49608
49609        28252       49609
49610        28253       49610
49611        28254       49611
49612        28255       49612
49613        28256       49613
49622        28257       49622
49623        28258       49623
49624        28259       49624
49625        28260       49625
49626        28261       49626
49627        28262       49627
49628        28263       49628
49629        28264       49629
49630        28265       49630
49631        28266       49631

In [517]:
df_depreciation_calc_3090 = df_depreciation_calc_3090.merge(fsm_asset_number_3090, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [518]:
df_depreciation_calc_3090[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $284,904.25
dep_exp_2020     $285,957.65
dep_exp_2021     $286,506.21
depr_ytd_oct     $238,755.17
dtype: float64

In [519]:
df_depreciation_calc_3090 = df_depreciation_calc_3090[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_3090 = df_depreciation_calc_3090.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_3090 = df_depreciation_calc_3090[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_3090.tail()

     Asset ID                   Description_x  cbiz_index  Asset Acquisition Date   Acquired Value*       Basis   Current YTD*    Current Accum*   LifeToDateDepreciation      NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
263       806       99-101 DUBOIS-RENOVATIONS         806  29091       2020-05-31          $6,560.00 $35,843.00         $164.00           $164.00              $19,414.84  $6,396.00          20    2040-05-31         $66.00       $164.00       $328.00       $273.33                    $109.33
264       807  201-THIRD STREET- IMPROVEMENTS         807  29092       2020-09-30          $7,000.00 $28,183.00         $175.00           $175.00              $18,317.60  $6,825.00          20    2040-09-30         $42.00       $175.00       $350.00       $291.67                    $116.67
265       808            586 APT REHAB APT 3C         808  29093       2020-10-31          $6,525.00 $25,490.00         $163.13           $163.13               $4,141.50  $6,361.87          20    2040-10-31        $402.00       $163.12       $326.25       $271.88                    $108.75
266       809      586 -BLDG IMPR  - ELEVATOR         809  29094       2020-11-30         $90,900.00 $86,900.00       $2,272.50         $2,272.50              $56,485.00 $88,627.50          20    2040-11-30         $42.00     $2,272.50     $4,545.00     $3,787.50                  $1,515.00
267       810      586 -BLDG IMPR  - ELEVATOR         810  29095       2020-12-31         $40,400.00 $98,536.00       $1,010.00         $1,010.00              $42,699.14 $39,390.00          20    2040-12-31        $102.00     $1,010.00     $2,020.00     $1,683.33                    $673.33

In [520]:
df_depreciation_calc_3090.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_3090\sit3_depreciation_3090.csv'
)

### Calculate company 2010 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [521]:
df_depreciation_calc_2010 = cbiz_asset_and_book_2010_merge[[
    'AssetImport_x',  'Asset ID',  'Description_x', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_2010['full_dep_yr'] =  df_depreciation_calc_2010['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

df_depreciation_calc_2010['full_dep_yr_2'] = df_depreciation_calc_2010['Acquisition Date'] +\
df_depreciation_calc_2010['full_dep_yr']

# add a column for 2020 depreciation
df_depreciation_calc_2010 = df_depreciation_calc_2010.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_2010 = df_depreciation_calc_2010.apply(dep_calc_2021, axis=1)

df_depreciation_calc_2010['depr_ytd_oct'] = df_depreciation_calc_2010['dep_exp_2021'] * (10/12)

<ipython-input-521-7c069e07c2ba>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2010['full_dep_yr'] =  df_depreciation_calc_2010['life_years']\
C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-521-7c069e07c2ba>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2010['full_dep_yr_2'] = df_depreciation_calc_2010['Acquisition Date'] +\

In [522]:
df_depreciation_calc_2010[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $4,148,336.00
dep_exp_2020     $4,148,330.68
dep_exp_2021     $4,354,315.36
depr_ytd_oct     $3,628,596.13
dtype: float64

In [523]:
df_depreciation_calc_2010['Asset ID'] = df_depreciation_calc_2010['Asset ID'].astype('int')

fsm_asset_number_2010 = assets_group_2010[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_2010 = df_depreciation_calc_2010.merge(fsm_asset_number_2010, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [524]:
df_depreciation_calc_2010 = df_depreciation_calc_2010[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_2010 = df_depreciation_calc_2010.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_2010 = df_depreciation_calc_2010[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_2010.tail()

     Asset ID                                      Description_x  cbiz_index  Asset Acquisition Date   Acquired Value*        Basis   Current YTD*    Current Accum*   LifeToDateDepreciation       NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
773      1399  5000005730  REPLACE EXISTING CHILLER - NEW ROC...        1399  29325       2020-07-01         $50,730.00  $50,730.18       $1,691.00         $1,691.00               $1,691.01  $49,039.00          15    2035-07-01        $174.00     $1,691.00     $3,382.00     $2,818.33                  $1,127.34
774      1400  5000005731  FLOOD REMEDIATION AND RETAINING WALLS        1400  29328       2020-07-01        $339,839.00 $339,838.80      $11,328.00        $11,328.00              $11,327.96 $328,511.00          15    2035-07-01        $174.00    $11,327.97    $22,655.93    $18,879.94                  $7,551.97
775      1401             5000006866  GLIDESCOPES - LARYNOSCOPES        1401  29329       2020-07-01         $29,864.00  $29,864.18       $2,986.00         $2,986.00               $2,986.42  $26,878.00           5    2025-07-01         $54.00     $2,986.40     $5,972.80     $4,977.33                  $1,990.95
776      1402                    5000007108  GESS COVID UPGRADES        1402  29330       2020-07-01         $62,000.00  $62,000.00       $2,067.00         $2,067.00               $2,066.67  $59,933.00          15    2035-07-01        $174.00     $2,066.67     $4,133.33     $3,444.44                  $1,377.78
777      1403  50014100  FIRE ALARM & SUPPRESSION UPGRADE NEW...        1403  29331       2020-07-01         $49,919.00  $49,919.00       $1,664.00         $1,664.00               $1,663.97  $48,255.00          15    2035-07-01        $174.00     $1,663.97     $3,327.93     $2,773.28                  $1,109.31

In [525]:
df_depreciation_calc_2010.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2010\sit3_depreciation_2010.csv'
)

### Calculate company 2020 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [526]:
df_depreciation_calc_2020 = cbiz_asset_and_book_2020_merge[[
    'AssetImport_x',  'Asset ID',  'Description_x', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_2020['full_dep_yr'] =  df_depreciation_calc_2020['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

df_depreciation_calc_2020['full_dep_yr_2'] = df_depreciation_calc_2020['Acquisition Date'] +\
df_depreciation_calc_2020['full_dep_yr']

# add a column for 2020 depreciation
df_depreciation_calc_2020 = df_depreciation_calc_2020.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_2020 = df_depreciation_calc_2020.apply(dep_calc_2021, axis=1)

df_depreciation_calc_2020['depr_ytd_oct'] = df_depreciation_calc_2020['dep_exp_2021'] * (10/12)

<ipython-input-526-9e93018a6a6c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2020['full_dep_yr'] =  df_depreciation_calc_2020['life_years']\
C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-526-9e93018a6a6c>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2020['full_dep_yr_2'] = df_depreciation_calc_2020['Acquisition Date'] +\

In [527]:
df_depreciation_calc_2020[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $1,248,963.00
dep_exp_2020     $1,248,954.31
dep_exp_2021     $1,159,363.27
depr_ytd_oct       $966,136.06
dtype: float64

In [528]:
df_depreciation_calc_2020['Asset ID'] = df_depreciation_calc_2020['Asset ID'].astype('int')

fsm_asset_number_2020 = assets_group_2020[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_2020 = df_depreciation_calc_2020.merge(fsm_asset_number_2020, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [529]:
df_depreciation_calc_2020 = df_depreciation_calc_2020[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_2020 = df_depreciation_calc_2020.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_2020 = df_depreciation_calc_2020[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_2020.tail()

     Asset ID                          Description_x  cbiz_index  Asset Acquisition Date   Acquired Value*       Basis   Current YTD*    Current Accum*   LifeToDateDepreciation      NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
423      1390  LIGHT SURGICAL - 10-UPON DELIVERY 50%        1390  29982       2020-07-01          $6,198.00  $6,197.95         $310.00           $310.00                 $309.90  $5,888.00          10    2030-07-01        $114.00       $309.90       $619.80       $516.50                    $206.60
424      1404  5000003440  MMV FHWC CLINIC EXPANSION        1404  29983       2020-07-01         $17,623.00 $17,622.74       $1,762.00         $1,762.00               $1,762.27 $15,860.00           5    2025-07-01         $54.00     $1,762.30     $3,524.60     $2,937.17                  $1,174.85
425      1405  5000003440  MMV FHWC CLINIC EXPANSION        1405  29984       2020-07-01         $13,340.00 $13,339.91       $1,334.00         $1,334.00               $1,333.99 $12,006.00           5    2025-07-01         $54.00     $1,334.00     $2,668.00     $2,223.33                    $889.33
426      1406   5000004465  OR STERILIZATION UPGRADE        1406  29985       2020-07-01          $9,200.00  $9,200.00         $307.00           $307.00                 $306.67  $8,893.00          15    2035-07-01        $174.00       $306.67       $613.33       $511.11                    $204.44
427      1407           5000005137  WOW IN RADIOLOGY        1407  29986       2020-07-01          $6,571.00  $6,571.41         $657.00           $657.00                 $657.14  $5,914.00           5    2025-07-01         $54.00       $657.10     $1,314.20     $1,095.17                    $438.09

In [530]:
df_depreciation_calc_2020.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2020\sit3_depreciation_2020.csv'
)

### Calculate company2040 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [531]:
df_depreciation_calc_2040 = cbiz_asset_and_book_2040_merge[[
    'AssetImport_x',  'Asset ID',  'Description_x', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_2040['full_dep_yr'] =  df_depreciation_calc_2040['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

df_depreciation_calc_2040['full_dep_yr_2'] = df_depreciation_calc_2040['Acquisition Date'] +\
df_depreciation_calc_2040['full_dep_yr']

# add a column for 2020 depreciation
df_depreciation_calc_2040 = df_depreciation_calc_2040.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_2040 = df_depreciation_calc_2040.apply(dep_calc_2021, axis=1)

df_depreciation_calc_2040['depr_ytd_oct'] = df_depreciation_calc_2040['dep_exp_2021'] * (10/12)

<ipython-input-531-447421ff1f24>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2040['full_dep_yr'] =  df_depreciation_calc_2040['life_years']\
C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-531-447421ff1f24>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2040['full_dep_yr_2'] = df_depreciation_calc_2040['Acquisition Date'] +\

In [532]:
df_depreciation_calc_2040[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $1,377,500.00
dep_exp_2020     $1,377,500.00
dep_exp_2021       $688,750.00
depr_ytd_oct       $573,958.33
dtype: float64

In [533]:
df_depreciation_calc_2040['Asset ID'] = df_depreciation_calc_2040['Asset ID'].astype('int')

fsm_asset_number_2040 = assets_group_2040[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_2040 = df_depreciation_calc_2040.merge(fsm_asset_number_2040, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [534]:
df_depreciation_calc_2040 = df_depreciation_calc_2040[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_2040 = df_depreciation_calc_2040.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_2040 = df_depreciation_calc_2040[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_2040.tail()

   Asset ID                                Description_x  cbiz_index  Asset Acquisition Date   Acquired Value*           Basis   Current YTD*    Current Accum*   LifeToDateDepreciation          NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
0       461      LAND - 16 GUION PLACE  NEW ROCHELLE  NY         461  30416       2013-11-01     $27,090,000.00 $27,090,000.00             NaN               NaN                   $0.00 $27,090,000.00           0    2013-11-01          $0.00         $0.00         $0.00         $0.00                      $0.00
1       462  BUILDING - 16 GUION PLACE  NEW ROCHELLE  NY         462  30417       2013-11-01     $11,020,000.00 $11,020,000.00   $1,377,500.00     $9,872,083.00           $9,872,083.00  $1,147,917.00           8    2021-11-01         $10.00 $1,377,500.00   $688,750.00   $573,958.33                      $0.00

In [535]:
df_depreciation_calc_2040.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2040\sit3_depreciation_2040.csv'
)

### Calculate company 2030 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [536]:
df_depreciation_calc_2030 = cbiz_asset_and_book_2030_merge[[
    'AssetImport_x',  'Asset ID',  'Description_x', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_2030['full_dep_yr'] =  df_depreciation_calc_2030['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

df_depreciation_calc_2030['full_dep_yr_2'] = df_depreciation_calc_2030['Acquisition Date'] +\
df_depreciation_calc_2030['full_dep_yr']

# add a column for 2020 depreciation
df_depreciation_calc_2030 = df_depreciation_calc_2030.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_2030 = df_depreciation_calc_2030.apply(dep_calc_2021, axis=1)

df_depreciation_calc_2030['depr_ytd_oct'] = df_depreciation_calc_2030['dep_exp_2021'] * (10/12)

<ipython-input-536-433e6e2c0c0f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2030['full_dep_yr'] =  df_depreciation_calc_2030['life_years']\
C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-536-433e6e2c0c0f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2030['full_dep_yr_2'] = df_depreciation_calc_2030['Acquisition Date'] +\

In [537]:
df_depreciation_calc_2030[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $290,687.00
dep_exp_2020     $290,689.04
dep_exp_2021     $295,080.54
depr_ytd_oct     $245,900.45
dtype: float64

In [538]:
df_depreciation_calc_2030['Asset ID'] = df_depreciation_calc_2030['Asset ID'].astype('int')

fsm_asset_number_2030 = assets_group_2030[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_2030 = df_depreciation_calc_2030.merge(fsm_asset_number_2030, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [539]:
df_depreciation_calc_2030 = df_depreciation_calc_2030[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_2030 = df_depreciation_calc_2030.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_2030 = df_depreciation_calc_2030[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_2030.tail()

    Asset ID                                      Description_x  cbiz_index  Asset Acquisition Date   Acquired Value*       Basis   Current YTD*    Current Accum*   LifeToDateDepreciation      NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
91      1340               5000005151  SCHAFER NURSING FACILITY        1340  30338       2019-07-01          $1,152.00  $1,152.16         $230.00           $346.00                 $345.65    $807.00           5    2024-07-01         $42.00       $230.40       $230.40       $192.00                     $76.81
92      1378  FIRE PROTECTION SYSTEM- FIRE ALARM SYSTEM - 10...        1378  30339       2019-07-01         $33,852.00 $33,852.10       $3,385.00         $5,078.00               $5,077.82 $28,774.00          10    2029-07-01        $102.00     $3,385.20     $3,385.20     $2,821.00                  $1,128.40
93      1379  BED PATIENT - 15-RECLS PO 4501986846 FRM600806...        1379  30340       2019-07-01         $49,357.00 $49,356.86       $3,290.00         $4,936.00               $4,935.69 $44,421.00          15    2034-07-01        $162.00     $3,290.47     $3,290.47     $2,742.06                  $1,096.82
94      1391  BED PATIENT - 15-PO 4502207839 - NEW PATIENT B...        1391  30341       2020-07-01         $16,939.00 $16,938.80         $565.00           $565.00                 $564.63 $16,374.00          15    2035-07-01        $174.00       $564.63     $1,129.27       $941.06                    $376.42
95      1408               5000005151  SCHAFER NURSING FACILITY        1408  30342       2020-07-01         $51,977.00 $51,976.50       $5,198.00         $5,198.00               $5,197.65 $46,779.00           5    2025-07-01         $54.00     $5,197.70    $10,395.40     $8,662.83                  $3,465.10

In [540]:
df_depreciation_calc_2030.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2030\sit3_depreciation_2030.csv'
)

### Calculate company 2060 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [541]:
df_depreciation_calc_2060 = cbiz_asset_and_book_2060_merge[[
    'AssetImport_x',  'Asset ID',  'Description_x', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_2060['full_dep_yr'] =  df_depreciation_calc_2060['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

df_depreciation_calc_2060['full_dep_yr_2'] = df_depreciation_calc_2060['Acquisition Date'] +\
df_depreciation_calc_2060['full_dep_yr']

# add a column for 2020 depreciation
df_depreciation_calc_2060 = df_depreciation_calc_2060.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_2060 = df_depreciation_calc_2060.apply(dep_calc_2021, axis=1)

df_depreciation_calc_2060['depr_ytd_oct'] = df_depreciation_calc_2060['dep_exp_2021'] * (10/12)

<ipython-input-541-0e7d8cc40970>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2060['full_dep_yr'] =  df_depreciation_calc_2060['life_years']\
C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-541-0e7d8cc40970>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2060['full_dep_yr_2'] = df_depreciation_calc_2060['Acquisition Date'] +\

In [542]:
df_depreciation_calc_2060[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $191,346.00
dep_exp_2020     $191,345.92
dep_exp_2021     $191,345.92
depr_ytd_oct     $159,454.93
dtype: float64

In [543]:
df_depreciation_calc_2060['Asset ID'] = df_depreciation_calc_2060['Asset ID'].astype('int')

fsm_asset_number_2060 = assets_group_2060[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_2060 = df_depreciation_calc_2060.merge(fsm_asset_number_2060, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [544]:
df_depreciation_calc_2060 = df_depreciation_calc_2060[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_2060 = df_depreciation_calc_2060.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_2060 = df_depreciation_calc_2060[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_2060.tail()

   Asset ID                                Description_x  cbiz_index  Asset Acquisition Date   Acquired Value*          Basis   Current YTD*    Current Accum*   LifeToDateDepreciation         NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
0       752      LAND - 16 GUION PLACE  NEW ROCHELLE  NY         752  30436       2013-11-01      $3,460,000.00 $3,460,000.00             NaN               NaN                   $0.00 $3,460,000.00           0    2013-11-01          $0.00         $0.00         $0.00         $0.00                      $0.00
1       753  BUILDING - 16 GUION PLACE  NEW ROCHELLE  NY         753  30437       2013-11-01      $2,296,151.00 $2,296,151.00     $191,346.00     $1,371,313.00           $1,371,312.84   $924,838.00          12    2025-11-01         $58.00   $191,345.92   $191,345.92   $159,454.93                 $68,506.53

In [545]:
df_depreciation_calc_2060.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2060\sit3_depreciation_2060.csv'
)

### Calculate company 2050 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [546]:
df_depreciation_calc_2050 = cbiz_asset_and_book_2050_merge[[
    'AssetImport_x',  'Asset ID',  'Description_x', 'Acquisition Date',
    ' Acquired Value* ', 'Est Life*', ' Current YTD* ',
    ' Current Accum* ', ' NBV* ', 'life_years','LifeRemaining', 'Basis',
    'YearPlacedInService', 'Convention','LifeToDateDepreciation'
]]

df_depreciation_calc_2050['full_dep_yr'] =  df_depreciation_calc_2050['life_years']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

df_depreciation_calc_2050['full_dep_yr_2'] = df_depreciation_calc_2050['Acquisition Date'] +\
df_depreciation_calc_2050['full_dep_yr']

# add a column for 2020 depreciation
df_depreciation_calc_2050 = df_depreciation_calc_2050.apply(dep_calc_2020, axis=1)

# calculate 2021 depreciation and add column to df
df_depreciation_calc_2050 = df_depreciation_calc_2050.apply(dep_calc_2021, axis=1)

df_depreciation_calc_2050['depr_ytd_oct'] = df_depreciation_calc_2050['dep_exp_2021'] * (10/12)

<ipython-input-546-7d10519b82c4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2050['full_dep_yr'] =  df_depreciation_calc_2050['life_years']\
C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-546-7d10519b82c4>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2050['full_dep_yr_2'] = df_depreciation_calc_2050['Acquisition Date'] +\

In [547]:
df_depreciation_calc_2050[[' Current YTD* ', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct' ]].sum()

 Current YTD*    $123,978.00
dep_exp_2020     $123,978.38
dep_exp_2021      $61,989.19
depr_ytd_oct      $51,657.66
dtype: float64

In [548]:
df_depreciation_calc_2050['Asset ID'] = df_depreciation_calc_2050['Asset ID'].astype('int')

fsm_asset_number_2050 = assets_group_2050[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_2050 = df_depreciation_calc_2050.merge(fsm_asset_number_2050, how='left',
                                            left_on='Asset ID', right_on="cbiz_index")

In [549]:
df_depreciation_calc_2050 = df_depreciation_calc_2050[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_2050 = df_depreciation_calc_2050.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_2050 = df_depreciation_calc_2050[['Asset ID','Description_x', 'cbiz_index', 'Asset', 'Acquisition Date',
       ' Acquired Value* ',  'Basis', ' Current YTD* ', ' Current Accum* ', 'LifeToDateDepreciation',
       ' NBV* ', 'life_years','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct','CurrentPeriodDepreciation',  ]]

df_depreciation_calc_2050.tail()

   Asset ID                                  Description_x  cbiz_index  Asset Acquisition Date   Acquired Value*          Basis   Current YTD*    Current Accum*   LifeToDateDepreciation         NBV*   life_years full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
0       691      LAND - 12 NORTH 7TH AVE  MOUNT VERNON  NY         691  30426       2013-11-01      $9,420,000.00 $9,420,000.00             NaN               NaN                   $0.00 $9,420,000.00           0    2013-11-01          $0.00         $0.00         $0.00         $0.00                      $0.00
1       692  BUILDING - 12 NORTH 7TH AVE  MOUNT VERNON  NY         692  30427       2013-11-01        $991,827.00   $991,827.00     $123,978.00       $888,512.00             $888,511.76   $103,315.00           8    2021-11-01         $10.00   $123,978.38    $61,989.19    $51,657.66                      $0.00

In [550]:
df_depreciation_calc_2050.to_csv(
    r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\mmc\output\output_2050\sit3_depreciation_2050.csv'
)