In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.expand_frame_repr", False)
pd.set_option("display.max_row", 100)
pd.set_option('display.max.columns', None)
pd.set_option('display.precision', 2)
pd.options.display.float_format = '${:,.2f}'.format
from datetime import date, time, datetime, timedelta
import dateutil
from dateutil.relativedelta import relativedelta

## Load and manipulation of files for use

In [12]:
wp_aa_report = pd.read_csv(r"C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\wph\source_files_2021\wph\White Plains Hospital Center - SL - Draft 2 (3).csv",
                         
                         usecols=['M_ID', 'M_Activ_Code', 'M_Acct', 'M_Dept', 'M_Bldg','M_Qty', 'M_Descr', 'M_Acq_Date',
                         'M_Original_Cost', 'M_BIC', 'M_Src_Code', 'B_Life_Y', 'B_Depr_Period', 'B_Depr_Accum',
                         'B_Depr_Proj_Provision', 'NBV'], )

In [13]:
# convert string columns to float
# wp_aa_report['M_Original_Cost'] = wp_aa_report['M_Original_Cost'].apply(lambda x: float(x.split()[0].replace(',', '')))
wp_aa_report['B_Depr_Period'] = wp_aa_report['B_Depr_Period'].apply(lambda x: float(x.split()[0].replace(',', '')))
wp_aa_report['B_Depr_Accum'] = wp_aa_report['B_Depr_Accum'].apply(lambda x: float(x.split()[0].replace(',', '')))
wp_aa_report['B_Depr_Proj_Provision'] = wp_aa_report['B_Depr_Proj_Provision'].apply(lambda x: float(x.split()[0].replace(',', '')))
wp_aa_report['NBV'] = wp_aa_report['NBV'].apply(lambda x: float(x.split()[0].replace(',', '')))

# create a new column in ww_aa_report that converts the 'M_Acq_Date' column to datetime 

wp_aa_report['M_Acq_Date_dt'] = pd.to_datetime(wp_aa_report['M_Acq_Date'])

In [14]:
wp_aa_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42669 entries, 0 to 42668
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   M_ID                   42669 non-null  int64
 1   M_Activ_Code           42669 non-null  object
 2   M_Acct                 42669 non-null  object
 3   M_Dept                 40360 non-null  object
 4   M_Bldg                 34087 non-null  object
 5   M_Qty                  42669 non-null  int64
 6   M_Descr                42669 non-null  object
 7   M_Acq_Date             42669 non-null  object
 8   M_Original_Cost        42669 non-null  float64
 9   M_BIC                  42669 non-null  int64
 10  M_Src_Code             42669 non-null  object
 11  B_Life_Y               42669 non-null  int64
 12  B_Depr_Period          42669 non-null  float64
 13  B_Depr_Accum           42669 non-null  float64
 14  B_Depr_Proj_Provision  42669 non-null  float64
 15  NBV                    42669 non-null  float64
 16  M_Acq_Date_dt          42669 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(4), object(7)
memory usage: 5.5+ MB

# Need 2021 fixed asset load files from data team

In [15]:
# wp_tb = pd.read_csv(r'C:\Users\Mikra\OneDrive\Documents\Work\conversion\august_2021\Validation Dec 2020 INFOR Data.csv')

In [135]:
me_load_asset_item = pd.read_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Entity_Asset_Item_Import.csv')

In [136]:
me_load_asset_book = pd.read_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Entity_Asset_Book_Import.csv',
                                usecols=['FinanceEnterpriseGroup', 'AssetImport', 'Book', 'RunGroup', 'Active', 'Life',
                                         'LifeRemaining', 'Basis', 'Method', 'InServiceDate', 'Convention',
                                         'YearToDateDepreciation', 'LifeToDateDepreciation'])

In [137]:
me_load_asset = pd.read_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Entity_Asset_Import.csv')

C:\Users\mikra\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [138]:
# me_load_asset.info()

In [139]:
# wp_aa_report.info()

In [141]:
# wp_aa_report.info()

In [142]:
# me_load_asset_book.info()

In [143]:
# convert the me_load_asset_book series elements from int to string prior to converting to datetime

me_load_asset_book['InServiceDate'] = me_load_asset_book['InServiceDate'].astype(str)

# create a new column in me_load_asset_book that contains the 'InServiceDate' elements to datetime objects
me_load_asset_book['InServiceDate_dt'] = pd.to_datetime(me_load_asset_book['InServiceDate'])

# convert 'Life' column to float dtype

me_load_asset_book['Life'] = me_load_asset_book['Life'].astype(float)

In [144]:
me_load_missing = me_load_asset_book[me_load_asset_book['Life'].isna()]
me_load_missing

Empty DataFrame
Columns: [FinanceEnterpriseGroup, AssetImport, Book, RunGroup, Active, Life, LifeRemaining, Basis, Method, InServiceDate, Convention, YearToDateDepreciation, LifeToDateDepreciation, InServiceDate_dt]
Index: []

In [145]:
me_load_asset_book['RunGroup'].unique()

array(['BURKE_COVID_ASSET', 'BURKE_FOUNDATION_ASSET', 'BURK_REHAB_ASSET',
       'SLH_ASSET', 'WPH_ASSET', 'NYK_ASSET'], dtype=object)

In [146]:
# create a new dataframe from the me_load_asset_book file / 'RunGroup column with only WPH Assets
wph_asset_load = me_load_asset_book[me_load_asset_book['RunGroup'] == 'WPH_ASSET']

In [147]:
# number of asset lines in aa report
wp_aa_report['M_ID'].count()

39489

In [149]:
# number of wph asset lines in asset_book load file; aa report has more asset lines than load? we removed the 'zero' records
wph_asset_load['AssetImport'].count()

39228

In [150]:
# wph_load_missing = wph_asset_load[me_load_asset_book['Life'].isna()]
# wph_load_missing

In [151]:
# create a column with index that corresponds to M_ID in the wp_aa_report file from american appraisal
wph_asset_load['aa_index'] = wph_asset_load['AssetImport'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-151-dc7d8de8be13>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wph_asset_load['aa_index'] = wph_asset_load['AssetImport'].apply(lambda x: int(x.split('_')[1]))

In [152]:
# merge the wph_asset_load and wp_aa_report columns on the common index 
aa_load_merge = wph_asset_load.merge(wp_aa_report,how='inner',
left_on="aa_index", right_on='M_ID')

In [153]:
# create the a dataframe of columns from the asset_load file to incorporate into the merged file
wph_add_cols = me_load_asset[me_load_asset['RunGroup'] == 'WPH_ASSET']

In [154]:
wph_add_cols.columns

Index(['UniqueID', 'FinanceEnterpriseGroup', 'AssetImport', 'RunGroup',
       'RecordInError', 'ErrorMessage', 'Asset',
       'AssetManagementInterfaceResult', 'Description', 'Classification',
       'AssetLease.LeaseCompany', 'AssetLease.Lease', 'TagNumber',
       'AssetGroup', 'AssetCategory', 'Reference2', 'Simulated',
       'WorkInProcess', 'TaxExempt', 'Used', 'Company', 'Currency',
       'AssetLocation', 'AssetDivision', 'AssetType.Type', 'AssetType.SubType',
       'AssetAccountingUnit.Ledger', 'AssetAccountingUnit.ToAccountingEntity',
       'AssetAccountingUnit.AccountingUnit', 'AssetAccountingUnit.Project',
       'AssetAccountingUnit.FinanceDimension1',
       'AssetAccountingUnit.FinanceDimension2',
       'AssetAccountingUnit.FinanceDimension3',
       'AssetAccountingUnit.FinanceDimension4',
       'AssetAccountingUnit.FinanceDimension5',
       'AssetAccountingUnit.FinanceDimension6',
       'AssetAccountingUnit.FinanceDimension7',
       'AssetAccountingUnit.FinanceDimension8',
       'AssetAccountingUnit.FinanceDimension9',
       'AssetAccountingUnit.FinanceDimension10',
       'DepreciationExpenseProject.Project', 'AssetAccountingUnitGroup',
       'AssetAccountGroup', 'IncludeInPhysicalInventory', 'AssetOwner'],
      dtype='object')

In [155]:
wph_add_cols = wph_add_cols[['AssetImport','AssetType.Type', 'Reference2', ]]
wph_add_cols['AssetImport2'] = wph_add_cols['AssetImport']
wph_add_cols.drop('AssetImport', axis=1, inplace=True)
wph_add_cols.columns

Index(['AssetType.Type', 'Reference2', 'AssetImport2'], dtype='object')

In [156]:
wph_add_cols.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39228 entries, 163 to 94084
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AssetType.Type  39228 non-null  object
 1   Reference2      39228 non-null  object
 2   AssetImport2    39228 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [157]:
# merge the df with the new columns (wph_add_cols) into the existing merged file (aa_load_merge)
aa_load_merge = aa_load_merge.merge(wph_add_cols,how='inner',
left_on="AssetImport", right_on='AssetImport2')

In [158]:
aa_load_merge.columns

Index(['FinanceEnterpriseGroup', 'AssetImport', 'Book', 'RunGroup', 'Active',
       'Life', 'LifeRemaining', 'Basis', 'Method', 'InServiceDate',
       'Convention', 'YearToDateDepreciation', 'LifeToDateDepreciation',
       'InServiceDate_dt', 'aa_index', 'M_ID', 'M_Activ_Code', 'M_Acct',
       'M_Dept', 'M_Bldg', 'M_Qty', 'M_Descr', 'M_Acq_Date', 'M_Original_Cost',
       'M_BIC', 'M_Src_Code', 'B_Life_Y', 'B_Depr_Period', 'B_Depr_Accum',
       'B_Depr_Proj_Provision', 'NBV', 'M_Acq_Date_dt', 'AssetType.Type',
       'Reference2', 'AssetImport2'],
      dtype='object')

In [159]:
# reorder the columns of the new df
aa_load_merge = aa_load_merge[['FinanceEnterpriseGroup', 'AssetImport', 'M_ID',
       'AssetType.Type', 'Reference2', 'Life','LifeRemaining', 'Basis', 'Method', 'InServiceDate',
        'InServiceDate_dt', 'Book', 'RunGroup',
       'Active', 'Convention', 'YearToDateDepreciation',
       'LifeToDateDepreciation',  'M_Activ_Code', 'M_Acct',
       'M_Dept', 'M_Bldg', 'M_Qty', 'M_Descr', 'M_Acq_Date', 'M_Acq_Date_dt', 'M_Original_Cost',
       'M_BIC', 'M_Src_Code', 'B_Life_Y', 'B_Depr_Period', 'B_Depr_Accum',
       'B_Depr_Proj_Provision', 'NBV',]]

In [160]:
# # split out the portion of the Reference2 column that corresponds to the AA report M_Acct types
# # don't need this as M_Acct col from aa report is already in the merged file
# merged_file_aa_acct_types = aa_load_merge['Reference2'].apply(lambda x: x.split("-")).apply(lambda x: x[1])

In [161]:
# merged_file_aa_acct_types.unique()

In [162]:
# aa report and load file cost numbers are the same in the merged file and the other numbers tie to AA report
print(f"WPH Asset Book Basis: {aa_load_merge['Basis'].sum()}")
print(f"WPH AA cost: {aa_load_merge['M_Original_Cost'].sum()}")
print(f"WPH AA NBV: {aa_load_merge['NBV'].sum()}")
print(f"WPH AA accumulated depreciation: {aa_load_merge['B_Depr_Accum'].sum()}")
print(f"WPH AA projected depreciation: {aa_load_merge['B_Depr_Proj_Provision'].sum()}")

WPH Asset Book Basis: 792815616.04
WPH AA cost: 792815616.04
WPH AA NBV: 361856545.4
WPH AA accumulated depreciation: 430959070.64
WPH AA projected depreciation: 38795833.79

In [163]:
# # examine the merged file head
# aa_load_merge.head()

In [164]:
# aa_load_merge.columns

In [165]:
# # save to Excel format
# aa_load_merge.to_csv(r'C:\Users\Michael\OneDrive\Documents\Work\conversion\sep_2021_trn\output_2600\tst_wph_2600_sourc_load_merge.csv')
# #

### Analysis of Asset type groupings in merged file

In [166]:
# ties to fixed asset cost totals by acct type in AA report Fixed asset accounting summary
wph_acct_groups = wp_aa_report.groupby("M_Acct")["M_Original_Cost"].sum()#sum()
wph_acct_groups

M_Acct
1N      $1,409,846.87
1O      $1,199,602.81
1OC     $1,044,979.00
2N      $4,681,511.62
2O        $526,443.38
2OC     $1,804,204.09
3N    $419,266,168.37
3O     $19,740,286.08
3OC    $21,572,126.42
4N     $36,609,914.58
4O     $14,017,888.08
4OC    $22,810,894.33
5N    $173,214,894.58
5O     $17,017,983.70
5OC     $4,153,899.19
6N        $856,514.53
6O         $49,365.33
6OC        $12,000.00
7N     $42,662,642.14
7O      $3,479,904.00
8N      $6,684,546.94
Name: M_Original_Cost, dtype: float64

In [167]:
merged_acct_MID_groupby = aa_load_merge.groupby(['AssetType.Type'])
merged_acct_MID_groupby['M_Original_Cost'].sum()#sum()

AssetType.Type
BLDG        $460,014,089.68
CAP_LSE      $46,142,546.14
FBEQUIP      $58,797,914.36
FIX_EQUIP    $15,205,273.82
LAND          $3,654,428.68
LHOLD_IMP     $6,684,546.94
LND_IMP       $7,012,159.09
MAJ_MOV     $195,304,657.33
Name: M_Original_Cost, dtype: float64

In [169]:
# merged_acct_MID_groupby.get_group('FIX_EQUIP')

In [170]:
merged_acct_MID_groupby['NBV'].sum().sum()

361856545.40000105

In [171]:
# merged_acct_MID_groupby.groups

In [184]:
# compare aa report accumulated depreciation and asset book load accumulated depreciation totals
wp_aa_acc_dep - wph_asset_load_acc_dep

5.960464477539063e-08

In [185]:
# compare aa nbv report and asset book load nbv totals
wp_aa_nbv - wph_nbv

0.0

### Comparison of WPH aa_load_merge with FSM asset register

In [186]:
asset_download_all_entities = pd.read_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Asset Download All Entities 113021.csv',)

In [187]:
# look for NaN values in the company column
asset_download_all_entities[asset_download_all_entities['Company'].isna()]

Empty DataFrame
Columns: [FinanceEnterpriseGroup, Asset, Reference1, Description, Company, ItemTotalBaseCost, ItemTotalTransactionCost, TotalItemsBaseCost, PostingBookBasis, PostingBookBookValue, TotalAccumulatedDepreciation, DepreciationToAssetCost, AssetBookValue, PostingBookValue, RemainingDepreciation, LTDDepreciationExpense]
Index: []

In [188]:
# replace 'NaN' in company column for a record
# asset_download_all_entities.loc[126381, 'Company'] = ''

In [189]:
# cast the company column as a string and strip out the excess digits
asset_download_all_entities['Company'] = asset_download_all_entities['Company'].astype('str').apply(lambda x: x[:4])

In [190]:
# group the FSM asset register by company
fsm_asset_register_groupby_company = asset_download_all_entities.groupby('Company')

In [191]:
# look at the asset register company groups keys
fsm_asset_register_groupby_company.groups.keys()

dict_keys(['2000', '2010', '2020', '2030', '2040', '2050', '2060', '2100', '2200', '2300', '2400', '2600', '3000', '3010', '3020', '3060', '3080', '3090'])

### Find WPH 2600 records that are missing from the FSM asset register

In [192]:
wph_group_2600 = fsm_asset_register_groupby_company.get_group('2600')

In [193]:
wph_group_2600.columns

Index(['FinanceEnterpriseGroup', 'Asset', 'Reference1', 'Description',
       'Company', 'ItemTotalBaseCost', 'ItemTotalTransactionCost',
       'TotalItemsBaseCost', 'PostingBookBasis', 'PostingBookBookValue',
       'TotalAccumulatedDepreciation', 'DepreciationToAssetCost',
       'AssetBookValue', 'PostingBookValue', 'RemainingDepreciation',
       'LTDDepreciationExpense'],
      dtype='object')

In [194]:
wph_group_2600.head()

       FinanceEnterpriseGroup  Asset Reference1                   Description Company  ItemTotalBaseCost  ItemTotalTransactionCost  TotalItemsBaseCost  PostingBookBasis  PostingBookBookValue  TotalAccumulatedDepreciation  DepreciationToAssetCost  AssetBookValue  PostingBookValue  RemainingDepreciation  LTDDepreciationExpense
96190                       1  96253      WPH_1  HOSPITAL SITE & PARKING AREA    2600         $13,500.00                $13,500.00          $13,500.00        $13,500.00            $13,500.00                         $0.00                    $0.00      $13,500.00        $13,500.00                  $0.00                       0
96191                       1  96254     WPH_10                 207 LEXINGTON    2600         $80,000.00                $80,000.00          $80,000.00        $80,000.00            $80,000.00                         $0.00                    $0.00      $80,000.00        $80,000.00                  $0.00                       0
96192                       1  96255    WPH_100                    REMODELING    2600            $390.00                   $390.00             $390.00           $390.00                 $0.00                       $390.00                    $1.00           $0.00           $390.00               $-390.00                       0
96193                       1  96256   WPH_1000    POT RACK LIFTERS HTD IDEAL    2600            $525.00                   $525.00             $525.00           $525.00                 $0.00                       $525.00                    $1.00           $0.00           $525.00               $-525.00                       0
96194                       1  96257  WPH_10000               CHAIR EXEC 8071    2600            $839.85                   $839.85             $839.85           $839.85                 $0.00                       $839.85                    $1.00           $0.00           $839.85               $-839.85                       0

In [195]:
aa_load_merge.columns

Index(['FinanceEnterpriseGroup', 'AssetImport', 'M_ID', 'AssetType.Type',
       'Reference2', 'Life', 'LifeRemaining', 'Basis', 'Method',
       'InServiceDate', 'InServiceDate_dt', 'Book', 'RunGroup', 'Active',
       'Convention', 'YearToDateDepreciation', 'LifeToDateDepreciation',
       'M_Activ_Code', 'M_Acct', 'M_Dept', 'M_Bldg', 'M_Qty', 'M_Descr',
       'M_Acq_Date', 'M_Acq_Date_dt', 'M_Original_Cost', 'M_BIC', 'M_Src_Code',
       'B_Life_Y', 'B_Depr_Period', 'B_Depr_Accum', 'B_Depr_Proj_Provision',
       'NBV'],
      dtype='object')

In [196]:
# aa_load_merge.columns

In [197]:
aa_load_merge[['M_Original_Cost', 'Basis', 'LifeToDateDepreciation', 'NBV' ]].sum()

M_Original_Cost          $792,815,616.04
Basis                    $792,815,616.04
LifeToDateDepreciation   $430,959,070.64
NBV                      $361,856,545.40
dtype: float64

In [198]:
# create a new index column called 'merge_index' to match the 'M_ID' column in the aa_load_merge file
wph_group_2600['merge_index'] = wph_group_2600['Reference1'].apply(lambda x: int(x.split('_')[1]))

<ipython-input-198-f94a589c3c88>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wph_group_2600['merge_index'] = wph_group_2600['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [199]:
wph_group_2600.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39228 entries, 96190 to 135417
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   FinanceEnterpriseGroup        39228 non-null  int64
 1   Asset                         39228 non-null  int64
 2   Reference1                    39228 non-null  object
 3   Description                   39228 non-null  object
 4   Company                       39228 non-null  object
 5   ItemTotalBaseCost             39228 non-null  float64
 6   ItemTotalTransactionCost      39228 non-null  float64
 7   TotalItemsBaseCost            39228 non-null  float64
 8   PostingBookBasis              39228 non-null  float64
 9   PostingBookBookValue          39228 non-null  float64
 10  TotalAccumulatedDepreciation  39228 non-null  float64
 11  DepreciationToAssetCost       39228 non-null  float64
 12  AssetBookValue                39228 non-null  float64
 13  PostingBookValue              39228 non-null  float64
 14  RemainingDepreciation         39228 non-null  float64
 15  LTDDepreciationExpense        39228 non-null  int64
 16  merge_index                   39228 non-null  int64
dtypes: float64(10), int64(4), object(3)
memory usage: 5.4+ MB

In [200]:
wph_group_2600 = wph_group_2600.set_index('merge_index',)

In [201]:
wph_group_2600 = wph_group_2600.sort_index()

In [202]:
wph_group_2600['cbiz_index'] = wph_group_2600['Reference1'].apply(lambda x: int(x.split('_')[1]))

In [203]:
aa_load_merge.columns

Index(['FinanceEnterpriseGroup', 'AssetImport', 'M_ID', 'AssetType.Type',
       'Reference2', 'Life', 'LifeRemaining', 'Basis', 'Method',
       'InServiceDate', 'InServiceDate_dt', 'Book', 'RunGroup', 'Active',
       'Convention', 'YearToDateDepreciation', 'LifeToDateDepreciation',
       'M_Activ_Code', 'M_Acct', 'M_Dept', 'M_Bldg', 'M_Qty', 'M_Descr',
       'M_Acq_Date', 'M_Acq_Date_dt', 'M_Original_Cost', 'M_BIC', 'M_Src_Code',
       'B_Life_Y', 'B_Depr_Period', 'B_Depr_Accum', 'B_Depr_Proj_Provision',
       'NBV'],
      dtype='object')

In [204]:
aa_load_merge = aa_load_merge.set_index('M_ID')

In [205]:
aa_load_merge = aa_load_merge.sort_index()

In [206]:
print(wph_group_2600.index.nunique())
print(aa_load_merge.index.nunique())

39228
39228

In [208]:
# wph_group_2600.head()

In [209]:
print(wph_group_2600.index)
print(aa_load_merge.index)

Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            40249, 40250, 40251, 40252, 40253, 40254, 40255, 40256, 40257,
            40258],
           dtype='int64', name='merge_index', length=39228)
Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            40249, 40250, 40251, 40252, 40253, 40254, 40255, 40256, 40257,
            40258],
           dtype='int64', name='M_ID', length=39228)

In [210]:
aa_infor_2600_matched = aa_load_merge[aa_load_merge.index.isin(wph_group_2600.index)]

In [211]:
aa_infor_2600_matched.shape

(39228, 32)

In [212]:
missing_2600_asset_register_records = aa_load_merge[~aa_load_merge.index.isin(wph_group_2600.index)]

In [213]:
missing_2600_asset_register_records.columns

Index(['FinanceEnterpriseGroup', 'AssetImport', 'AssetType.Type', 'Reference2',
       'Life', 'LifeRemaining', 'Basis', 'Method', 'InServiceDate',
       'InServiceDate_dt', 'Book', 'RunGroup', 'Active', 'Convention',
       'YearToDateDepreciation', 'LifeToDateDepreciation', 'M_Activ_Code',
       'M_Acct', 'M_Dept', 'M_Bldg', 'M_Qty', 'M_Descr', 'M_Acq_Date',
       'M_Acq_Date_dt', 'M_Original_Cost', 'M_BIC', 'M_Src_Code', 'B_Life_Y',
       'B_Depr_Period', 'B_Depr_Accum', 'B_Depr_Proj_Provision', 'NBV'],
      dtype='object')

In [214]:
missing_2600_asset_register_records[['M_Original_Cost', 'Basis', 
                                     'B_Depr_Accum', 'NBV',]].sum()

M_Original_Cost   $0.00
Basis             $0.00
B_Depr_Accum      $0.00
NBV               $0.00
dtype: float64

In [215]:
missing_2600_asset_register_records_cost = missing_2600_asset_register_records['M_Original_Cost'].sum()
missing_2600_asset_register_records_cost

0.0

In [216]:
wph_group_2600.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39228 entries, 1 to 40258
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   FinanceEnterpriseGroup        39228 non-null  int64
 1   Asset                         39228 non-null  int64
 2   Reference1                    39228 non-null  object
 3   Description                   39228 non-null  object
 4   Company                       39228 non-null  object
 5   ItemTotalBaseCost             39228 non-null  float64
 6   ItemTotalTransactionCost      39228 non-null  float64
 7   TotalItemsBaseCost            39228 non-null  float64
 8   PostingBookBasis              39228 non-null  float64
 9   PostingBookBookValue          39228 non-null  float64
 10  TotalAccumulatedDepreciation  39228 non-null  float64
 11  DepreciationToAssetCost       39228 non-null  float64
 12  AssetBookValue                39228 non-null  float64
 13  PostingBookValue              39228 non-null  float64
 14  RemainingDepreciation         39228 non-null  float64
 15  LTDDepreciationExpense        39228 non-null  int64
 16  cbiz_index                    39228 non-null  int64
dtypes: float64(10), int64(4), object(3)
memory usage: 5.4+ MB

In [217]:
asset_register_2600_cost = wph_group_2600['PostingBookBasis'].apply(lambda x: float(x)).sum()

In [218]:
# sum the asset cost per the fsm 2600 asset register and the cost of the records missing from the asset register
sum_asset_register_and_missing_records_cost = asset_register_2600_cost 
sum_asset_register_and_missing_records_cost

792815616.04

In [219]:

aa_infor_2600_matched['M_Original_Cost'].sum()

792815616.04

In [220]:
wph_group_2600['PostingBookBasis'].sum()

792815616.04

In [221]:
cost_for_asset_register_records_with_errors_2600 = aa_infor_2600_matched['M_Original_Cost'].sum() - wph_group_2600['PostingBookBasis'].sum()
cost_for_asset_register_records_with_errors_2600

0.0

In [222]:
# 
cost_for_asset_register_records_with_errors_2600 = aa_infor_2600_matched['M_Original_Cost'].sum() - wph_group_2600['PostingBookBasis'].sum()
cost_for_asset_register_records_with_errors_2600

0.0

In [223]:
# 
sum_asset_register_and_missing_records_cost + cost_for_asset_register_records_with_errors_2600

792815616.04

In [224]:
aa_load_merge[['M_Original_Cost', 'Basis', 'LifeToDateDepreciation', 'NBV' ]].sum()

M_Original_Cost          $792,815,616.04
Basis                    $792,815,616.04
LifeToDateDepreciation   $430,959,070.64
NBV                      $361,856,545.40
dtype: float64

In [225]:
aa_infor_matched_acc_dep = aa_infor_2600_matched['B_Depr_Accum'].sum()

In [226]:
fsm_wph_asset_register_acc_dep = wph_group_2600['TotalAccumulatedDepreciation'].sum()
fsm_wph_asset_register_acc_dep

430959070.64

In [227]:
# difference in fsm asset register accumulated depreciation and the aa_infor merged file acc. dep.
missing_recordes_2600_acc_dep = wph_group_2600['TotalAccumulatedDepreciation'].sum() - aa_infor_2600_matched['B_Depr_Accum'].sum()
missing_recordes_2600_acc_dep

0.0

In [228]:
aa_infor_matched_acc_dep + missing_recordes_2600_acc_dep

430959070.64

In [229]:
aa_infor_matched_acc_dep + missing_recordes_2600_acc_dep - aa_load_merge['LifeToDateDepreciation'].sum()

0.0

In [230]:
aa_load_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39228 entries, 1 to 40258
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FinanceEnterpriseGroup  39228 non-null  int64
 1   AssetImport             39228 non-null  object
 2   AssetType.Type          39228 non-null  object
 3   Reference2              39228 non-null  object
 4   Life                    39228 non-null  float64
 5   LifeRemaining           39228 non-null  int64
 6   Basis                   39228 non-null  float64
 7   Method                  39196 non-null  object
 8   InServiceDate           39228 non-null  object
 9   InServiceDate_dt        39228 non-null  datetime64[ns]
 10  Book                    39228 non-null  object
 11  RunGroup                39228 non-null  object
 12  Active                  39228 non-null  bool
 13  Convention              39228 non-null  object
 14  YearToDateDepreciation  0 non-null      float64
 15  LifeToDateDepreciation  39228 non-null  float64
 16  M_Activ_Code            39228 non-null  object
 17  M_Acct                  39228 non-null  object
 18  M_Dept                  36928 non-null  object
 19  M_Bldg                  32186 non-null  object
 20  M_Qty                   39228 non-null  int64
 21  M_Descr                 39228 non-null  object
 22  M_Acq_Date              39228 non-null  object
 23  M_Acq_Date_dt           39228 non-null  datetime64[ns]
 24  M_Original_Cost         39228 non-null  float64
 25  M_BIC                   39228 non-null  int64
 26  M_Src_Code              39228 non-null  object
 27  B_Life_Y                39228 non-null  int64
 28  B_Depr_Period           39228 non-null  float64
 29  B_Depr_Accum            39228 non-null  float64
 30  B_Depr_Proj_Provision   39228 non-null  float64
 31  NBV                     39228 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(9), int64(5), object(15)
memory usage: 9.6+ MB

In [231]:

aa_load_merge.to_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\wph\output_2600\sit3_wph_2600_sourc_load_merge.csv')


wph_group_2600.to_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\wph\output_2600\sit3_wph_2600_asset_register.csv')

### Find 2600 records that exist in the fsm asset register but have incorrect cost values

In [232]:
aa_infor_2600_cost_diffs = aa_infor_2600_matched['M_Original_Cost'].compare(wph_group_2600['PostingBookBasis'])
aa_infor_2600_cost_diffs.rename(columns={'self': 'load file', 'other': 'FSM'}, inplace=True)
aa_infor_2600_cost_diffs.rename_axis('Load ID', inplace=True)

In [233]:
aa_infor_2600_cost_diffs['load file'].sum() - aa_infor_2600_cost_diffs['FSM'].sum()

0.0

In [234]:
aa_infor_2600_cost_diffs = aa_infor_2600_cost_diffs[aa_infor_2600_cost_diffs['load file'] - aa_infor_2600_cost_diffs['FSM'] > 1]

In [235]:
aa_infor_2600_cost_diffs.to_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\wph\output_2600\sit3_wph_2600_asset_cost_diffs.csv')

### Calculate company 2600 depreciation expense for fiscal 2021 and compare to CBIZ projections

In [236]:
fsm_depreciation = pd.read_csv(r"C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\Depreciation By Asset.csv",
                              usecols=['Asset', 'CurrentPeriodDepreciation'])

In [237]:
# aa_load_merge.head

In [238]:
aa_load_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39228 entries, 1 to 40258
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FinanceEnterpriseGroup  39228 non-null  int64
 1   AssetImport             39228 non-null  object
 2   AssetType.Type          39228 non-null  object
 3   Reference2              39228 non-null  object
 4   Life                    39228 non-null  float64
 5   LifeRemaining           39228 non-null  int64
 6   Basis                   39228 non-null  float64
 7   Method                  39196 non-null  object
 8   InServiceDate           39228 non-null  object
 9   InServiceDate_dt        39228 non-null  datetime64[ns]
 10  Book                    39228 non-null  object
 11  RunGroup                39228 non-null  object
 12  Active                  39228 non-null  bool
 13  Convention              39228 non-null  object
 14  YearToDateDepreciation  0 non-null      float64
 15  LifeToDateDepreciation  39228 non-null  float64
 16  M_Activ_Code            39228 non-null  object
 17  M_Acct                  39228 non-null  object
 18  M_Dept                  36928 non-null  object
 19  M_Bldg                  32186 non-null  object
 20  M_Qty                   39228 non-null  int64
 21  M_Descr                 39228 non-null  object
 22  M_Acq_Date              39228 non-null  object
 23  M_Acq_Date_dt           39228 non-null  datetime64[ns]
 24  M_Original_Cost         39228 non-null  float64
 25  M_BIC                   39228 non-null  int64
 26  M_Src_Code              39228 non-null  object
 27  B_Life_Y                39228 non-null  int64
 28  B_Depr_Period           39228 non-null  float64
 29  B_Depr_Accum            39228 non-null  float64
 30  B_Depr_Proj_Provision   39228 non-null  float64
 31  NBV                     39228 non-null  float64
dtypes: bool(1), datetime64[ns](2), float64(9), int64(5), object(15)
memory usage: 9.6+ MB

In [239]:
df_depreciation_calc_2600 = aa_load_merge[[
    'AssetImport',   'M_Descr', 'M_Acq_Date_dt',
    'M_Original_Cost', 'B_Life_Y', 'B_Depr_Period',
    'B_Depr_Accum', 'NBV', 'Life', 'LifeRemaining', 'Basis',
    'InServiceDate_dt', 'Convention','LifeToDateDepreciation',
    'B_Depr_Proj_Provision'
]]

In [240]:
df_depreciation_calc_2600.head()

     AssetImport                       M_Descr M_Acq_Date_dt  M_Original_Cost  B_Life_Y  B_Depr_Period  B_Depr_Accum        NBV  Life  LifeRemaining      Basis InServiceDate_dt Convention  LifeToDateDepreciation  B_Depr_Proj_Provision
M_ID
1          WPH_1  HOSPITAL SITE & PARKING AREA    1904-12-01       $13,500.00         0          $0.00         $0.00 $13,500.00 $0.00              0 $13,500.00       1904-12-01         HY                   $0.00                  $0.00
2          WPH_2          NO 18 DAVIS AVE LAND    1929-12-01       $17,645.00         0          $0.00         $0.00 $17,645.00 $0.00              0 $17,645.00       1929-12-01         HY                   $0.00                  $0.00
3          WPH_3          NO 14 DAVIS AVE LAND    1929-12-01       $25,263.00         0          $0.00         $0.00 $25,263.00 $0.00              0 $25,263.00       1929-12-01         HY                   $0.00                  $0.00
4          WPH_4          NO 16 DAVIS AVE LAND    1946-12-01        $5,676.00         0          $0.00         $0.00  $5,676.00 $0.00              0  $5,676.00       1946-12-01         HY                   $0.00                  $0.00
5          WPH_5        NO 31 E POST ROAD LAND    1951-12-01       $25,000.00         0          $0.00         $0.00 $25,000.00 $0.00              0 $25,000.00       1951-12-01         HY                   $0.00                  $0.00

In [241]:
df_depreciation_calc_2600['full_dep_yr'] =  df_depreciation_calc_2600['B_Life_Y']\
.apply(lambda x: dateutil.relativedelta.relativedelta(years=x))

<ipython-input-241-1a3b387ce9f8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2600['full_dep_yr'] =  df_depreciation_calc_2600['B_Life_Y']\

In [242]:
df_depreciation_calc_2600['full_dep_yr_2'] = df_depreciation_calc_2600['M_Acq_Date_dt'] +\
df_depreciation_calc_2600['full_dep_yr']

C:\Users\mikra\anaconda3\lib\site-packages\pandas\core\arrays\datetimelike.py:1108: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(
<ipython-input-242-3196da59878e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depreciation_calc_2600['full_dep_yr_2'] = df_depreciation_calc_2600['M_Acq_Date_dt'] +\

In [243]:
balance_sheet_date = datetime(2020, 12, 31)
balance_sheet_date_2021 = datetime(2021, 12, 31)

In [244]:
def dep_calc_2020(row):
    """
    This function takes a dataframe row as a parameter and
    calculates the straight line method depreciation using a half year convention.
    It adds a column for the 2020 calculated depreciation to the dataframe
    """
          
    if row['B_Life_Y'] < 1:
        row['dep_exp_2020'] = 0
        
    elif row['M_Acq_Date_dt'].year == balance_sheet_date.year:
       
        row['dep_exp_2020'] = row['M_Original_Cost']\
        / row['B_Life_Y'] * .5
    
    elif row['full_dep_yr_2'].year == balance_sheet_date.year:
        row['dep_exp_2020'] = row['M_Original_Cost']\
        / row['B_Life_Y'] * .5
      
    elif (row['full_dep_yr_2'].year > balance_sheet_date.year) &\
    (row['M_Acq_Date_dt'].year < balance_sheet_date.year):
        
        row['dep_exp_2020'] = row['M_Original_Cost'] / row['B_Life_Y']
         
    else:
        row['dep_exp_2020'] = 0
    
    return row

In [245]:
def dep_calc_2021(row):
    
    """
    This function takes a dataframe row as a parameter and
    calculates the straight line method depreciation using a half year convention.
    It adds a column for the 2021 calculated depreciation to the dataframe
    """
          
          
    if row['B_Life_Y'] < 1:
        row['dep_exp_2021'] = 0
        
    elif row['M_Acq_Date_dt'].year == balance_sheet_date_2021.year:
       
        row['dep_exp_2021'] = row['M_Original_Cost']\
        / row['B_Life_Y'] * .5
    
    elif row['full_dep_yr_2'].year == balance_sheet_date_2021.year:
        row['dep_exp_2021'] = row['M_Original_Cost']\
        / row['B_Life_Y'] * .5
      
    elif (row['full_dep_yr_2'].year > balance_sheet_date_2021.year) &\
    (row['M_Acq_Date_dt'].year < balance_sheet_date_2021.year):
        
        row['dep_exp_2021'] = row['M_Original_Cost'] / row['B_Life_Y']
         
    else:
        row['dep_exp_2021'] = 0
    
    return row

In [246]:
df_depreciation_calc_2600 = df_depreciation_calc_2600.apply(dep_calc_2020, axis=1)

In [247]:
df_depreciation_calc_2600.head()

     AssetImport                       M_Descr M_Acq_Date_dt  M_Original_Cost  B_Life_Y  B_Depr_Period  B_Depr_Accum        NBV  Life  LifeRemaining      Basis InServiceDate_dt Convention  LifeToDateDepreciation  B_Depr_Proj_Provision      full_dep_yr full_dep_yr_2  dep_exp_2020
M_ID
1          WPH_1  HOSPITAL SITE & PARKING AREA    1904-12-01       $13,500.00         0          $0.00         $0.00 $13,500.00 $0.00              0 $13,500.00       1904-12-01         HY                   $0.00                  $0.00  relativedelta()    1904-12-01         $0.00
2          WPH_2          NO 18 DAVIS AVE LAND    1929-12-01       $17,645.00         0          $0.00         $0.00 $17,645.00 $0.00              0 $17,645.00       1929-12-01         HY                   $0.00                  $0.00  relativedelta()    1929-12-01         $0.00
3          WPH_3          NO 14 DAVIS AVE LAND    1929-12-01       $25,263.00         0          $0.00         $0.00 $25,263.00 $0.00              0 $25,263.00       1929-12-01         HY                   $0.00                  $0.00  relativedelta()    1929-12-01         $0.00
4          WPH_4          NO 16 DAVIS AVE LAND    1946-12-01        $5,676.00         0          $0.00         $0.00  $5,676.00 $0.00              0  $5,676.00       1946-12-01         HY                   $0.00                  $0.00  relativedelta()    1946-12-01         $0.00
5          WPH_5        NO 31 E POST ROAD LAND    1951-12-01       $25,000.00         0          $0.00         $0.00 $25,000.00 $0.00              0 $25,000.00       1951-12-01         HY                   $0.00                  $0.00  relativedelta()    1951-12-01         $0.00

In [248]:
df_depreciation_calc_2600[['B_Depr_Period', 'dep_exp_2020']].sum()

B_Depr_Period   $38,986,533.59
dep_exp_2020    $39,060,982.79
dtype: float64

In [249]:
df_depreciation_calc_2600.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39228 entries, 1 to 40258
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   AssetImport             39228 non-null  object
 1   M_Descr                 39228 non-null  object
 2   M_Acq_Date_dt           39228 non-null  datetime64[ns]
 3   M_Original_Cost         39228 non-null  float64
 4   B_Life_Y                39228 non-null  int64
 5   B_Depr_Period           39228 non-null  float64
 6   B_Depr_Accum            39228 non-null  float64
 7   NBV                     39228 non-null  float64
 8   Life                    39228 non-null  float64
 9   LifeRemaining           39228 non-null  int64
 10  Basis                   39228 non-null  float64
 11  InServiceDate_dt        39228 non-null  datetime64[ns]
 12  Convention              39228 non-null  object
 13  LifeToDateDepreciation  39228 non-null  float64
 14  B_Depr_Proj_Provision   39228 non-null  float64
 15  full_dep_yr             39228 non-null  object
 16  full_dep_yr_2           39228 non-null  datetime64[ns]
 17  dep_exp_2020            39228 non-null  float64
dtypes: datetime64[ns](3), float64(9), int64(2), object(4)
memory usage: 5.7+ MB

In [250]:
df_depreciation_calc_2600 = df_depreciation_calc_2600.apply(dep_calc_2021, axis=1)

In [251]:
df_depreciation_calc_2600

      AssetImport                                   M_Descr M_Acq_Date_dt  M_Original_Cost  B_Life_Y  B_Depr_Period  B_Depr_Accum         NBV    Life  LifeRemaining       Basis InServiceDate_dt Convention  LifeToDateDepreciation  B_Depr_Proj_Provision               full_dep_yr full_dep_yr_2  dep_exp_2020  dep_exp_2021
M_ID
1           WPH_1              HOSPITAL SITE & PARKING AREA    1904-12-01       $13,500.00         0          $0.00         $0.00  $13,500.00   $0.00              0  $13,500.00       1904-12-01         HY                   $0.00                  $0.00           relativedelta()    1904-12-01         $0.00         $0.00
2           WPH_2                      NO 18 DAVIS AVE LAND    1929-12-01       $17,645.00         0          $0.00         $0.00  $17,645.00   $0.00              0  $17,645.00       1929-12-01         HY                   $0.00                  $0.00           relativedelta()    1929-12-01         $0.00         $0.00
3           WPH_3                      NO 14 DAVIS AVE LAND    1929-12-01       $25,263.00         0          $0.00         $0.00  $25,263.00   $0.00              0  $25,263.00       1929-12-01         HY                   $0.00                  $0.00           relativedelta()    1929-12-01         $0.00         $0.00
4           WPH_4                      NO 16 DAVIS AVE LAND    1946-12-01        $5,676.00         0          $0.00         $0.00   $5,676.00   $0.00              0   $5,676.00       1946-12-01         HY                   $0.00                  $0.00           relativedelta()    1946-12-01         $0.00         $0.00
5           WPH_5                    NO 31 E POST ROAD LAND    1951-12-01       $25,000.00         0          $0.00         $0.00  $25,000.00   $0.00              0  $25,000.00       1951-12-01         HY                   $0.00                  $0.00           relativedelta()    1951-12-01         $0.00         $0.00
...           ...                                       ...           ...              ...       ...            ...           ...         ...     ...            ...         ...              ...        ...                     ...                    ...                       ...           ...           ...           ...
40254   WPH_40254                   WINDOWS OS 2008 UPGRADE    2019-06-30       $12,600.00         3      $2,100.00     $2,100.00  $10,500.00  $36.00             18  $12,600.00       2019-06-30         HY               $2,100.00              $4,200.00   relativedelta(years=+3)    2022-06-30     $4,200.00     $4,200.00
40255   WPH_40255       CHANGED REMOTE DEPLOY MGR TO ONSITE    2020-02-29       $24,531.50         3      $4,088.58     $4,088.58  $20,442.92  $36.00             26  $24,531.50       2020-02-29         HY               $4,088.58              $8,177.17   relativedelta(years=+3)    2023-02-28     $4,088.58     $8,177.17
40256   WPH_40256  HEALTHCARE TRUST WESTCHESTER - LEASEHOLD    2020-07-01      $788,000.00        15     $26,266.67    $26,266.67 $761,733.33 $180.00            174 $788,000.00       2020-07-01         HY              $26,266.67             $52,533.33  relativedelta(years=+15)    2035-07-01    $26,266.67    $52,533.33
40257   WPH_40257       244 WA AGREEMENT - LAND IMPROVEMENT    2020-03-31      $650,000.00        10     $32,500.00    $32,500.00 $617,500.00 $120.00            111 $650,000.00       2020-03-31         HY              $32,500.00             $65,000.00  relativedelta(years=+10)    2030-03-31    $32,500.00    $65,000.00
40258   WPH_40258                            COVID EXPENSES    2020-03-01        $1,344.00        10         $67.20        $67.20   $1,276.80 $120.00            110   $1,344.00       2020-03-01         HY                  $67.20                $134.40  relativedelta(years=+10)    2030-03-01        $67.20       $134.40

[39228 rows x 19 columns]

In [252]:
df_depreciation_calc_2600[['B_Depr_Period', 'dep_exp_2020', 'dep_exp_2021', 'B_Depr_Proj_Provision']].sum()

B_Depr_Period           $38,986,533.59
dep_exp_2020            $39,060,982.79
dep_exp_2021            $38,587,525.59
B_Depr_Proj_Provision   $38,795,833.79
dtype: float64

In [253]:
# filter the df for columns that have a different depreciation expense for 2020 and 2021
# wph_2021_depr_diffs = df_depreciation_calc_2600[(df_depreciation_calc_2600['B_Depr_Proj_Provision']) != (df_depreciation_calc_2600['dep_exp_2021'])] 

wph_2021_depr_diffs = df_depreciation_calc_2600[(df_depreciation_calc_2600['B_Depr_Proj_Provision']) - (df_depreciation_calc_2600['dep_exp_2021']) > 1]
wph_2021_depr_diffs

      AssetImport                               M_Descr M_Acq_Date_dt  M_Original_Cost  B_Life_Y  B_Depr_Period  B_Depr_Accum        NBV    Life  LifeRemaining       Basis InServiceDate_dt Convention  LifeToDateDepreciation  B_Depr_Proj_Provision               full_dep_yr full_dep_yr_2  dep_exp_2020  dep_exp_2021
M_ID
11910   WPH_11910             BUILDING ADDITION/AUTOCLA    1992-01-01      $373,372.67        30     $12,463.62   $354,677.25 $18,695.42 $360.00             12 $373,372.67       1992-01-01         HY             $354,677.25             $12,463.61  relativedelta(years=+30)    2022-01-01    $12,445.76    $12,445.76
17097   WPH_17097                          SEWER SYSTEM    1996-10-01      $220,015.00        25      $8,800.60   $213,414.55  $6,600.45 $300.00              9 $220,015.00       1996-10-01         HY             $213,414.55              $6,600.45  relativedelta(years=+25)    2021-10-01     $8,800.60     $4,400.30
17212   WPH_17212            SPRINKLER SYSTEM SALT ROOM    1996-01-01          $520.00        25         $20.80       $504.40     $15.60 $300.00              0     $520.00       1996-01-01         HY                 $504.40                 $15.60  relativedelta(years=+25)    2021-01-01        $20.80        $10.40
17221   WPH_17221         SPRINKLER SYSTEM PURCH OFFICE    1996-01-01        $2,106.00        25         $84.24     $2,042.82     $63.18 $300.00              0   $2,106.00       1996-01-01         HY               $2,042.82                 $63.18  relativedelta(years=+25)    2021-01-01        $84.24        $42.12
17269   WPH_17269                      SPRINKLER SYSTEM    1996-10-01      $566,408.89        25     $22,656.35   $549,416.62 $16,992.27 $300.00              9 $566,408.89       1996-10-01         HY             $549,416.62             $16,992.27  relativedelta(years=+25)    2021-10-01    $22,656.36    $11,328.18
...           ...                                   ...           ...              ...       ...            ...           ...        ...     ...            ...         ...              ...        ...                     ...                    ...                       ...           ...           ...           ...
34335   WPH_34335         KEYBOARDS FOR MEDICAL RECORDS    2016-08-01        $2,076.60         5        $415.32     $1,453.62    $622.98  $60.00              7   $2,076.60       2016-08-01         HY               $1,453.62                $415.32   relativedelta(years=+5)    2021-08-01       $415.32       $207.66
35678   WPH_35678              COMPUTER, PERSONA LAPTOP    2017-09-01        $1,574.24         3        $524.75     $1,311.87    $262.37  $36.00              0   $1,574.24       2017-09-01         HY               $1,311.87                $262.37   relativedelta(years=+3)    2020-09-01       $262.37         $0.00
37608   WPH_37608               INTERNET IMPLEMENTATION    2018-11-18        $6,545.00         3      $2,181.67     $3,272.50  $3,272.50  $36.00             11   $6,545.00       2018-11-18         HY               $3,272.50              $2,181.67   relativedelta(years=+3)    2021-11-18     $2,181.67     $1,090.83
37702   WPH_37702  SOFTWARE PLATFORM LICENSE COMPONENTS    2018-06-18       $74,563.50         3     $24,854.50    $37,281.75 $37,281.75  $36.00              6  $74,563.50       2018-06-18         HY              $37,281.75             $24,854.50   relativedelta(years=+3)    2021-06-18    $24,854.50    $12,427.25
37703   WPH_37703  SOFTWARE PLATFORM LICENSE COMPONENTS    2018-06-18       $97,493.62         3     $32,497.87    $48,746.81 $48,746.81  $36.00              6  $97,493.62       2018-06-18         HY              $48,746.81             $32,497.87   relativedelta(years=+3)    2021-06-18    $32,497.87    $16,248.94

[212 rows x 19 columns]

In [120]:
df_depreciation_calc_2600['depr_ytd_oct'] = df_depreciation_calc_2600['dep_exp_2021'] * (10/12)

In [121]:
df_depreciation_calc_2600[['B_Depr_Period', 'dep_exp_2020', 'dep_exp_2021', 'B_Depr_Proj_Provision', 'depr_ytd_oct']].sum()

B_Depr_Period           $38,986,533.59
dep_exp_2020            $39,060,982.79
dep_exp_2021            $38,587,525.59
B_Depr_Proj_Provision   $38,795,833.79
depr_ytd_oct            $32,156,271.33
dtype: float64

In [122]:
fsm_asset_number_2600 = wph_group_2600[['Asset', 'cbiz_index']]

In [123]:
df_depreciation_calc_2600['aa_index'] = df_depreciation_calc_2600['AssetImport'].apply(lambda x: int(x.split('_')[1]))

In [124]:
df_depreciation_calc_2600.columns

Index(['AssetImport', 'M_Descr', 'M_Acq_Date_dt', 'M_Original_Cost',
       'B_Life_Y', 'B_Depr_Period', 'B_Depr_Accum', 'NBV', 'Life',
       'LifeRemaining', 'Basis', 'InServiceDate_dt', 'Convention',
       'LifeToDateDepreciation', 'B_Depr_Proj_Provision', 'full_dep_yr',
       'full_dep_yr_2', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',
       'aa_index'],
      dtype='object')

In [125]:
wph_group_2600.head(1)

             FinanceEnterpriseGroup  Asset Reference1                   Description Company  ItemTotalBaseCost  ItemTotalTransactionCost  TotalItemsBaseCost  PostingBookBasis  PostingBookBookValue  TotalAccumulatedDepreciation  DepreciationToAssetCost  AssetBookValue  PostingBookValue  RemainingDepreciation  LTDDepreciationExpense  cbiz_index
merge_index
1                                 1  96253      WPH_1  HOSPITAL SITE & PARKING AREA    2600         $13,500.00                $13,500.00          $13,500.00        $13,500.00            $13,500.00                         $0.00                    $0.00      $13,500.00        $13,500.00                  $0.00                       0           1

In [126]:
wph_group_2600.columns

Index(['FinanceEnterpriseGroup', 'Asset', 'Reference1', 'Description',
       'Company', 'ItemTotalBaseCost', 'ItemTotalTransactionCost',
       'TotalItemsBaseCost', 'PostingBookBasis', 'PostingBookBookValue',
       'TotalAccumulatedDepreciation', 'DepreciationToAssetCost',
       'AssetBookValue', 'PostingBookValue', 'RemainingDepreciation',
       'LTDDepreciationExpense', 'cbiz_index'],
      dtype='object')

In [127]:
df_depreciation_calc_2600['aa_index'] = df_depreciation_calc_2600['aa_index'].astype('int')

fsm_asset_number_2600 = wph_group_2600[['Asset', 'cbiz_index']]
# fsm_asset_number

df_depreciation_calc_2600 = df_depreciation_calc_2600.merge(fsm_asset_number_2600, how='left',
                                            left_on='aa_index', right_on="cbiz_index")

df_depreciation_calc_2600['Asset'] = df_depreciation_calc_2600['Asset'].astype('int')

In [128]:
df_depreciation_calc_2600.columns

Index(['AssetImport', 'M_Descr', 'M_Acq_Date_dt', 'M_Original_Cost',
       'B_Life_Y', 'B_Depr_Period', 'B_Depr_Accum', 'NBV', 'Life',
       'LifeRemaining', 'Basis', 'InServiceDate_dt', 'Convention',
       'LifeToDateDepreciation', 'B_Depr_Proj_Provision', 'full_dep_yr',
       'full_dep_yr_2', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',
       'aa_index', 'Asset', 'cbiz_index'],
      dtype='object')

In [129]:
df_depreciation_calc_2600 = df_depreciation_calc_2600[['AssetImport', 'Asset','M_Descr', 'M_Acq_Date_dt',
       'M_Original_Cost',  'Basis', 'B_Depr_Period', 'B_Depr_Accum', 'LifeToDateDepreciation',
       'NBV', 'Life','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct',  ]]

df_depreciation_calc_2600 = df_depreciation_calc_2600.merge(fsm_depreciation, how='left',
                                                           left_on='Asset', right_on='Asset')

df_depreciation_calc_2600 = df_depreciation_calc_2600[['AssetImport','Asset','M_Descr', 'M_Acq_Date_dt',
       'M_Original_Cost',  'Basis', 'B_Depr_Period', 'B_Depr_Accum', 'LifeToDateDepreciation',
       'NBV', 'Life','full_dep_yr_2', 'LifeRemaining', 'dep_exp_2020', 'dep_exp_2021', 'depr_ytd_oct', 'CurrentPeriodDepreciation'  ]]

In [130]:
df_depreciation_calc_2600[df_depreciation_calc_2600['CurrentPeriodDepreciation']>1000]

      AssetImport   Asset                                   M_Descr M_Acq_Date_dt  M_Original_Cost         Basis  B_Depr_Period  B_Depr_Accum  LifeToDateDepreciation           NBV    Life full_dep_yr_2  LifeRemaining  dep_exp_2020  dep_exp_2021  depr_ytd_oct  CurrentPeriodDepreciation
11664   WPH_11910   98329                 BUILDING ADDITION/AUTOCLA    1992-01-01      $373,372.67   $373,372.67     $12,463.62   $354,677.25             $354,677.25    $18,695.42 $360.00    2022-01-01             12    $12,445.76    $12,445.76    $10,371.46                  $4,154.54
16654   WPH_17150  103901                          FLANZER PAVILION    1996-10-01    $9,083,053.14 $9,083,053.14    $227,076.33 $5,506,601.00           $5,506,601.00 $3,576,452.14 $480.00    2036-10-01            189   $227,076.33   $227,076.33   $189,230.27                 $76,912.95
16655   WPH_17151  103902                   ADDITIONAL COST FLANZER    1997-01-01    $1,065,443.96 $1,065,443.96     $27,319.08   $641,998.30             $641,998.30   $423,445.66 $468.00    2036-01-01            180    $27,319.08    $27,319.08    $22,765.90                  $9,106.36
16692   WPH_17188  103942                 LOADING/RECEIVING/LAUNDRY    1996-01-01      $512,420.00   $512,420.00     $12,810.50   $310,654.63             $310,654.63   $201,765.37 $480.00    2036-01-01            180    $12,810.50    $12,810.50    $10,675.42                  $4,339.04
17573   WPH_18089  104923                                 STANDPIPE    1997-01-01      $110,021.69   $110,021.69      $4,400.86   $103,420.39             $103,420.39     $6,601.30 $300.00    2022-01-01             12     $4,400.87     $4,400.87     $3,667.39                  $1,466.96
...           ...     ...                                       ...           ...              ...           ...            ...           ...                     ...           ...     ...           ...            ...           ...           ...           ...                        ...
39222   WPH_40253  129032                   WINDOWS OS 2008 UPGRADE    2019-06-30       $12,600.00    $12,600.00      $2,100.00     $2,100.00               $2,100.00    $10,500.00  $36.00    2022-06-30             18     $4,200.00     $4,200.00     $3,500.00                  $2,333.33
39223   WPH_40254  129033                   WINDOWS OS 2008 UPGRADE    2019-06-30       $12,600.00    $12,600.00      $2,100.00     $2,100.00               $2,100.00    $10,500.00  $36.00    2022-06-30             18     $4,200.00     $4,200.00     $3,500.00                  $2,333.33
39224   WPH_40255  129034       CHANGED REMOTE DEPLOY MGR TO ONSITE    2020-02-29       $24,531.50    $24,531.50      $4,088.58     $4,088.58               $4,088.58    $20,442.92  $36.00    2023-02-28             26     $4,088.58     $8,177.17     $6,814.31                  $2,725.72
39225   WPH_40256  129035  HEALTHCARE TRUST WESTCHESTER - LEASEHOLD    2020-07-01      $788,000.00   $788,000.00     $26,266.67    $26,266.67              $26,266.67   $761,733.33 $180.00    2035-07-01            174    $26,266.67    $52,533.33    $43,777.78                 $17,511.11
39226   WPH_40257  129036       244 WA AGREEMENT - LAND IMPROVEMENT    2020-03-31      $650,000.00   $650,000.00     $32,500.00    $32,500.00              $32,500.00   $617,500.00 $120.00    2030-03-31            111    $32,500.00    $65,000.00    $54,166.67                 $21,666.67

[2073 rows x 17 columns]

In [131]:
df_depreciation_calc_2600.to_csv(r'C:\Users\mikra\OneDrive\Documents\Work\conversion\SIT3\november_AX2\fixed_assets\wph\output_2600\sit3_wph_2600_depreciation.csv', index=False)